<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title" ng-show="isConfirmed && !isPasswordUpdated">Reset Your Password</h3>
  <h3 class="modal-title" ng-show="!isConfirmed && !isPasswordUpdated">Oops</h3>
  <h3 class="modal-title" ng-hide="isConfirmed || !isPasswordUpdated">Password Reset Error</h3>
  <h3 class="modal-title" ng-show="isPasswordUpdated">Password Updated</h3>
</div>

<div class="modal-body">
  <div ng-hide="isPasswordUpdated">
    <alert ng-show="!isConfirmed" type="danger"><strong>Error:</strong>
      {{ confirmation.data.error }}
    </alert>
    <div ng-if="!isConfirmed && confirmation.data.error">
      <a ui-sref="passwordReset">{{ confirmation.data.error }}</a>
    </div>

    <div ng-if="isConfirmed">
      <p>
        Please choose a new password for your account below.  
      </p>

      <form name="passwordReset" novalidate class="password-reset-form"
        ng-submit="resetPassword(formInfo)">
        <div class="form-group" ng-class="{'has-error': passwordReset.password.$dirty && passwordReset.password.$error.minlength}">
          <input type="password" name="password" class="form-control" id="passwordreset-password" placeholder="Choose a password" required ng-model="formInfo.password"
          ng-minlength="6">
          <div class="form-errors">
            <div class="form-error" ng-show="passwordReset.password.$dirty && passwordReset.password.$error.minlength">
              Your password must be at least 6 characters
            </div>
          </div>
        </div>

        <div class="text-center reg-submit">
          <input type="submit" class="btn gl-btn--blue" value="Update My Password"
          ng-disabled="passwordReset.$invalid">
        </div>
      </form>
    </div>
  </div>

  <div ng-show="isPasswordUpdated">
    <p>
      Your password has been successfully updated. Please log in
      with your new credentials.
    </p>

    <div class="text-center">
      <button class="btn gl-btn--blue" ui-sref="loginInstructor">Okay</button>
    </div>
  </div>
</div>
