<div ng-class="{'sdk-container': hideWrapper}">
    <div class="modal-header" ng-init="verifyEmailCode()">
        <button type="button" class="close" data-dismiss="modal" ng-click="$close()"
        ng-hide="hideWrapper"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" ng-show="isVerified">Your Account is Activated!</h3>
        <h3 class="modal-title" ng-show="!isVerified">Uh oh</h3>
    </div>

    <div class="modal-body" ng-show="!isVerified">
        &nbsp;
        <p class="text-center">
            There was a problem with verifying your account.
            Click here to send a new email verification code.
        </p>
        &nbsp;
        <div class="text-center">
            <button class="btn gl-btn--blue"
                    ng-click="closeWindow()">Okay</button>
        </div>
        &nbsp;
    </div>

    <div class="modal-body" ng-show="isVerified">
        &nbsp;
        <p class="text-center">
            Thank you! Have fun in Playfully!
        </p>
        &nbsp;
        <div class="text-center">
            <button class="btn gl-btn--blue"
            ng-click="closeWindow()">Okay</button>
        </div>
        &nbsp;

    </div>
</div>