.gl-reports-so-icon {
  width: 40px;
  height: 40px;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/SO-icon.png");
}

.gl-reports-wo-icon {
  width: 40px;
  height: 40px;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/WO-icon.png");
}

.gl-reports-what-now-header {
  padding: 0px !important;
  height: 100px;
  width: 100%;
  vertical-align: middle !important;
  background-color: @grey7;
  font-size: 15px;
}

.gl-reports-what-now-text {
  font-family: @serifHeadlineFontFamily;
  font-size: 15px;
  color: @grey2;
}

.gl-reports-what-now-body {
  border-right: 1px solid @grey7;
  border-left: 1px solid @grey7;
  border-bottom: 1px solid @grey7;
  background-color: white;
}