.gl-reports-table-row .gl-reports-sowo {
  text-align: center;
  font-size: 40px;
  color: @grassGreen;
}

.gl-reports-sowo,
.gl-reports-sowo-header-sowo {
  position: relative;
  border-left: 2px solid white;
  width: 20%;
}

.gl-reports-sowo-header {
  padding-bottom: 13px;
}

.gl-reports-sowo-header-name {
  width: 20%;
}

.gl-reports-table-row .gl-reports-sowo:first-child {
  border-left: none;
}

.gl-reports-sowo-arrow {
  color: @grey2;
}

.gl-reports-sowo-arrow:hover {
  color: @grey1;
  text-decoration: none;
}

.gl-reports-sowo-arrow--disabled,
.gl-reports-sowo-arrow--disabled:hover {
  cursor: default;
  color: @grey5;
}

.gl-reports-sowo-selector {
  background-color: @grey7;
  font-size: 12px !important;
}

.gl-reports-sowo-header-info {
  width: 100%;
  font-size: 12px;
  color: #767676;
  margin-top: 10px;
  margin-bottom: 0px;
  /*height: 50px;*/
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/
}

.gl-reports-sowo-collapse {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.gl-reports-sowo-header-standard {
  font-size: 12px;
  background-color: @grey5;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  .border-radiuses(4px, 4px, 4px, 4px);
}

.gl-reports-sowo-header-standards-footer {
  background-color: @grey7;
  font-size: 12px !important;
  border-left: 2px solid white;
}

.gl-reports-sowo-legend {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}


.gl-reports-so-icon {
  width: 30px;
  height: 30px;
  margin: auto;
  background-repeat: no-repeat;
  .image-2x('SO-icon.png', 30px, 30px);
}

.gl-reports-wo-icon {
  width: 30px;
  height: 30px;
  margin: auto;
  background-repeat: no-repeat;
  .image-2x('WO-icon.png', 30px, 30px);
}

.gl-reports-wo-icon--removable {
  &:hover {
    cursor: pointer;
    opacity: 0.67;
    .image-2x('WO-remove-icon.png', 30px, 30px);
  }
}

.gl-reports-what-now-header {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 85px;
  width: 100%;
  background-color: @grey7;
  font-size: 15px;
}

.gl-reports-what-now-text {
  font-family: @serifHeadlineFontFamily;
  font-size: 15px;
  color: @grey2;
}

.gl-reports-what-now-body {
  display: table;
  border-right: 1px solid @grey7;
  border-left: 1px solid @grey7;
  border-bottom: 1px solid @grey7;
  background-color: white;
  padding-top: 15px;
  span {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 14px;
    color: #555555;
  }
  p {
    font-size: 14px;
    font-family: "Helvetica Neue Light";
    color: #555555;
  }
}

.gl-reports-what-now-wo-col {
  display: table-cell;
  width: 300px;
  border-right: 1px solid @grey6;
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
}

.gl-reports-what-now-wo-header {
  width: 230px;

}

.gl-reports-what-now-wo-selected {
  opacity: 1;
}

.gl-reports-what-now-wo {
  opacity: 0.4;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.gl-reports-what-now-wo-info-col {
  display: table-cell;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  width: 400px;
}

.gl-reports-what-now-wo-info {
  position: relative;
  padding-top: 10px;
  top: -38px;
}


.l-profile-image-gl-reports-wo-icon {
  margin: 10px;
}