.gl-drk12_b-helpermenu {
  display: inline-block;
  width: 33%;
  .title_cell {
    background-color: #67CADA;
    color: #FFF;
    height: 60px;
    padding: 15px 0 0 30px;
    h3 {
      margin: 0;
    }
    i {
      padding-right: 10px;

    }
  }
  .selectedOptionMenuArea {
    height: calc(~"100% - 60px");
    padding: 15px 0 0 30px;
    overflow-y: scroll;
  }
  .topLevelOptions {
    height: 85px;
    padding: 15px 0 0 30px;
  }
}

.gl-drk12_b-helpermaincontent {
  display: inline-block;
  height: 100%;
  overflow-y: scroll;
  width: 66%;
}