.gl-drk12_b-l-helperMenuContainer {
  align-items: stretch;
  display: flex;
  width: 100%;

  // Can be nested, but ultimately contains gl-drk12_b-helpermenu and gl-drk12_b-helpermaincontent as children

  > * {
    width: 100%;
  }

}

.gl-drk12_b-helperMenu {
  display: flex;
  flex-direction: column;
  height: calc(~'50vh - 30px');
  width: 33.33%;

  .gl-drk12_b-helperMenu-x-items {
    flex: 1 1 100%;
    overflow-y: auto;
  }

}

.gl-drk12_b-helperMenuTitle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #67cada;
  border: 0;
  color: #fff;
  display: block;
  font-family: 'Bitter', sans-serif;
  font-size: 20px;
  line-height: 28px;
  outline: none;
  padding: 16px 30px;
  text-align: left;

  i {
    margin-right: 10px;
  }

}

.gl-drk12_b-helperMenuSection {
  background: none;
  border: 0; // Override default button borders
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  color: #333;
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  padding: 26px 30px;
  text-align: left;
  width: 100%;
}

.gl-drk12_b-helperJumpNav {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px 15px 30px;

  button {
    background: none;
    border: 0;
    color: #333;
    font-size: 16px;
    line-height: 20px;
    outline: none;
    padding: 0;
    text-align: left;
  }

  li {

    &:not(:last-child) {
      margin-bottom: 15px;
    }

  }

  ul {
    margin: 20px 0 0 0;
    padding: 0 0 0 30px;

    ul {
      margin-top: 15px;
    }

  }

  > button {
    font-weight: bold;
  }

}

.gl-drk12_b-helperMainContent {
  background-color: #fafafa;
  height: calc(~'50vh - 30px');
  overflow-y: auto;
  width: 66.66%;
}