
<h2 class="headline-2">Product Description</h2>
<p ng-bind="gameDetails.pages.product.header"></p>

<hr class="rule rule--blue" />
<div class="container-fluid gl-game-details">
  <div class="row gl-margin--Bm">
    <div class="col-md-4">
      <span class="gl-icon-game gl-icon-game--price"></span>
      Price: <span ng-bind="gameDetails.price"></span>
    </div>
    <div class="col-md-4">
      <span class="gl-icon-game gl-icon-game--type"></span>
      Type: <span ng-bind="gameDetails.type"></span>
    </div>
    <div class="col-md-4">
      <span class="gl-icon-game gl-icon-game--subject"></span>
      Subject: <span ng-bind="gameDetails.subject"></span>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-4">
      <span class="gl-icon-game gl-icon-game--releaseDate"></span>
      Release: <span ng-bind="gameDetails.releaseDate"></span>
    </div>
    <div class="col-md-4">
      <span class="gl-icon-game gl-icon-game--platform"></span>
      Platform: <span ng-bind="gameDetails.platform"></span>
    </div>
    <div class="col-md-4">
      <span class="gl-icon-game gl-icon-game--grades"></span>
      Grade: <span ng-bind="gameDetails.grades"></span>
    </div>

  </div> 
</div>

<hr class="rule rule--blue" />

<h3 class="headline-4">About the Game</h3>
<p ng-bind-html="gameDetails.pages.product.about"></p>

<h3 class="headline-4">How It Fits the Curriculum</h3>
<ul>
  <li ng-repeat="curriculumItem in gameDetails.pages.product.curriculum"
    ng-bind="curriculumItem"></li>
</ul>

<div class="gl-games-slideshow-container">
  &nbsp;
  <carousel interval="myInterval">
    <slide ng-repeat="slide in gameDetails.pages.product.slideshow" active="slide.active">
      <img
        ng-src="{{slide.url}}" style="margin:auto;">
    </slide>
  </carousel>
</div>

