<div class="container">
    <h2 class="headline-2 gl-margin--V40"> Message Center</h2>
    <div class="gl-dashboard-container-bottom-data-section" ng-class="{'noscroll' : !status.showMessages}">
        <div ng-if="messages.length" ng-repeat="message in messages | orderBy : 'timestamp' : true"
             ng-show="status.showMessages">
            <div class="gl-dashboard-message-box">
                <div class="gl-dashboard-message-icon-box">
                    <img ng-src="/assets/{{message.icon}}" err-src="/assets/blinky-mail-box.png"
                         class="gl-dashboard-message-icon">
                </div>

                <div class="gl-dashboard-message-box-info gl-dashboard-message-box-info-student">
                    <span class="gl-dashboard-message-subject gl-margin--Bl"> {{message.subject}} </span>
                    <span class="gl-dashboard-message-timestamp">{{message.timeAgo}}</span>

                    <p ng-bind-html="message.message"></p>
                </div>
            </div>
        </div>
    </div>
</div>