<div class="modal-header">
  <h3 class="modal-title">
    <i class="gl-sdk-header-logo gl-sdk-playfully-logo"></i>
  </h3>
</div>

<div ng-class="modal-body">
  <h3 ng-if="currentUser && currentUser.role != 'student'" class="modal-title gl-sdk-register-title">Hi {{ currentUser.firstName }}{{ currentUser.lastName ? ' ' + currentUser.lastName : '' }}, Are you ready ?</h3>
  <h3 ng-if="currentUser && currentUser.role == 'student'" class="modal-title gl-sdk-register-title">Hi <span class="gl-nobr">{{ truncateUsername(currentUser.username) }}</span>,Are you ready?</h3>

  <form class="login-form">
    <div class="text-center">
      <a href="www.playfully.org">
        <button ng-click="goToLink('www.playfully.org')" class="btn gl-btn--blue  gl-btn--minwidth">
          <div class="gl-sdk-playfully-btn"></div>Go to Playfully
        </button>
      </a>
      <input type="submit" class="btn gl-btn--blue gl-btn--minwidth" value="Play"
             ng-click="closeWindow()">
    </div>
  </form>
</div>
