<div class="modal-header">
  <h3 class="modal-title">
    <i class="gl-sdk-header-logo gl-sdk-playfully-logo"></i>
  </h3>
</div>

<div ng-class="modal-body">
  <h3 ng-if="currentUser && currentUser.role != 'student'" class="modal-title gl-sdk-register-title">Welcome back, {{ currentUser.firstName }}{{ currentUser.lastName ? ' ' + currentUser.lastName : '' }}!</h3>
  <h3 ng-if="currentUser && currentUser.role == 'student'" class="modal-title gl-sdk-register-title">Welcome back, <span class="gl-nobr">{{ truncateUsername(currentUser.username) }}</span>!</h3>

  <p class="text-center">You have successfully signed in.</p>

  <form class="login-form">
    <div class="text-center">
      <input type="submit" class="btn gl-btn--blue gl-btn--minwidth" value="Play"
             ng-click="closeWindow()">
    </div>
  </form>
</div>
