<div ng-class="{'sdk-container': hideWrapper}">
  <div class="modal-header">
    <h3 class="gl-modal-title-reset-progress modal-title">Reset all game progress?</h3>
  </div>

  <div ng-class="modal-body">

    <p class="gl-sdk-body">

        <b>This action cannot be undone!</b> All game progress and associated data will be cleared.
        To reset the game please enter your password below and hit the reset button.
    </p>



    <alert ng-show="authError" type="danger"><strong>Error:</strong> <span ng-bind="authError"></span></alert>
    <form name="loginForm" novalidate class="login-form"
      ng-submit="login(credentials)">

      <div class="gl-input-group">
        <div class="form-group">
          <input type="password" class="form-control" id="credentials-password"
          placeholder="Password"
          required
          ng-model="credentials.password">
        </div>
        <div class="gl-reset-progress-confirmation">
          <input class="gl-reset-progress-checkbox" type="checkbox" ng-model="resetProgressConfirm">
          <span> I confirm that I'm
        erasing the current progress of my game.</span>
        </div>

      </div>

      <div class="text-center">
        <input type="submit" class="btn btn-danger" value="Reset Progress"
        ng-disabled="loginForm.$invalid || !resetProgressConfirm">
      </div>
    </form>
  </div>
</div>
