<div class="modal-header gl-sdk-login">
  <!--button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button-->
  <h3 class="modal-title">
    <i class="gl-sdk-header-logo gl-sdk-glasslabgames-logo"></i>
  </h3>
</div>

<div class="container-fluid gl-sdk-login-wrapper">

  <div class="col-md-6">
    <div class="row gl-sdk-login-form">
      <alert class="gl-margin--Tm" ng-show="authError" type="danger"><strong>Error:</strong> <span ng-bind="authError"></span></alert>

      <div class="container-fluid">
        
        <form name="loginForm" novalidate class="login-form"
              ng-submit="login(credentials)">

          <div class="gl-sdk-login-form-header">
            Student Sign In
          </div>
          <div class="gl-input-group">
            <div class="form-group" ng-class="{'has-error': loginForm.username.$dirty && loginForm.username.$invalid}">
              <input type="text" name="username" class="form-control"
                     placeholder="Screen name"
                     required autofocus ng-model="credentials.username"
                     ng-minlength="2">
              <div class="form-errors">
                <div class="form-error" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
                  Please enter a valid screen name
                </div>
              </div>
            </div>
          </div>

          <div class="gl-input-group">
            <div class="form-group">
              <input type="password" class="form-control" id="credentials-password" placeholder="Password" required ng-model="credentials.password">
              <span class="small help-block">
                <a ui-sref="passwordReset({type: 'student'})"
                   class="link-forgot-password"
                   ng-if="!hideWrapper">Forgot your password?</a>
                <a ui-sref="sdk.sdkv2PasswordReset({type: 'student'})"
                   class="link-forgot-password"
                   ng-if="hideWrapper">
                  Forgot your password?</a>
              </span>
            </div>
          </div>

          <div class="text-center">
            <input type="submit" class="btn gl-btn--blue"
                   value="{{ loginForm.isSubmitting ? 'Sending...' : 'Submit'}}"
                   ng-disabled="loginForm.$invalid || loginForm.isSubmitting">
          </div>


          <div class="gl-sdk-login-or-circle gl-login-circle">
            <div class="gl-sdk-login-or-circle-inner">OR</div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="login-option" ng-mouseenter="hoverEdmodoInfo()" ng-mouseleave="hoverEdmodoInfo()">
        <button class="login-button login-button--instructor"
                ng-click="state.go(hideWrapper ? 'sdk.sdkv2LoginInstructor' : 'loginInstructor', {gameId:gameId})">
          <div class="media media--collapsed">
            <div class="media-img media-img--collapsed">
              <div class="login-icon--glasslabgames"></div>
            </div>
            <div class="media-bd">
              Teacher/Parent Sign In
            </div>
          </div>
        </button>
      </div>

      <div class="login-option" ng-mouseenter="hoverEdmodoInfo()" ng-mouseleave="hoverEdmodoInfo()">
        <button class="login-button login-button--edmodo"
                ng-hide="isEdmodoActive===false"
                ng-click="logInWithEdmodo()"
                popover-title="Edmodo Login"
                popover="Too many passwords to remember? Sign in using your Edmodo username and password and you will get access to everything in GlassLab Games!"
                popover-trigger="mouseenter" popover-placement="bottom">
          <div class="media media--collapsed">
            <div class="media-img media-img--collapsed">
              <img id="edmodo-logo" src="/assets/icon-edmodo.png" width="22" height="25">
            </div>
            <div class="media-bd">
              Log in with <strong>Edmodo</strong>
            </div>
          </div>
        </button>
      </div>
    </div>
    <div class="login-option" ng-hide="true">
      <button class="login-button login-button--icivics" ng-click="logInWithIcivics()"
              ng-hide="isiCivicsActive===false">
        <div class="media media--collapsed">
          <div class="media-img media-img--collapsed">
            <div class="login-icon--icivics"></div>
          </div>
          <div class="media-bd">
            Log in with <strong>iCivics</strong>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="text-center large clearfix gl-sdk-login-get-account ">
          Don&rsquo;t have an account?
          <a href="#"
             class="link-register"
             ng-click="state.go('sdk.sdkv2RegisterOptions',{gameId:gameId})">
            <!--ng-click="state.go(hideWrapper ? 'sdkRegisterOptions' : 'registerOptions')">-->
            Sign Up</a>
  </div>
</div>


