
/**
 * Navigation
 */

.navbar {
  margin-top: 20px;
  
  small {
    font-size: 60%;
  }
}

.gl-navbar-logo {
  width: 251px;
  height: 81px;
  .image-2x('logo-playfully.png', 251px, 81px);
  position: absolute;
  top: -25px;
  left: 0;
}

.gl-navbar-logo.beta {
  width: 250px;
  height: 85px;
  .image-2x('logo-playfully-beta.png', 250px, 85px);
}

.gl-navbar-logo:hover {
  cursor: pointer;
}

.gl-navbar-logo.active:hover {
  cursor: default;
}

.gl-navbar--top {
  background: white;
  position: relative;
  z-index: 10;
  .drop-shadow(@blur:5px);
}

.gl-navbar {
  margin-top: 40px;
  margin-bottom: 12px;
}

.gl-nav-link,
a.gl-nav-link:link {
  color: @grey2;
  border-bottom: 9px solid transparent;
}
.navbar-nav > li > .gl-nav-link {
  padding: 12px;
  display: inline-block;
}

.navbar-nav > li > .gl-nav-link,
.navbar-nav > li > .gl-nav-link:hover {
  background: transparent;
}

span.gl-nav-link {
  color: @grey5;
}

a.gl-nav-link:hover {
  color: @grey1;
}

ul.gl-nav > li {
  margin-left: 10px;
  margin-right: 10px;
}

a.gl-nav-link:hover,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  text-decoration: none;
  border-bottom: 9px solid @skyBlue;
}

li.active .gl-nav-link {
  border-bottom: 9px solid @aquaBlue;
}

.gl-nav-dropdown {
  padding: 12px;
  display: inline-block;
  padding-right: 4px;
}

.gl-nav-dropdown:hover {
  text-decoration: none;
}
.navbar-right .gl-nav-dropdown-menu {
  left: 0 !important;
  right: auto !important;
}

.gl-btn-green {
  .button-variant(@grassGreenLightest, @grassGreen, @grassGreen);
}

.gl-btn-green:hover, .gl-btn-green:focus, .gl-btn-green:active {

}