<div class="navbar gl-navbar" data-ng-controller="NavbarCtrl">
  <!--div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
      ng-click="menuCollapsed = ! menuCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div-->

  <div>
    <!-- logo links to different place depending on login status -->
    <div class="gl-navbar-logo beta"
      ui-sref-active="active"
      ng-if="isAuthorized(['instructor','admin'])"
      ui-sref="instructorDashboard.default"></div>
    <div class="gl-navbar-logo beta"
      ui-sref-active="active"
      ng-if="isAuthorized('student')"
      ui-sref="studentDashboard"></div>
    <div class="gl-navbar-logo beta"
      ui-sref-active="active"
      ng-if="!isAuthorized(['instructor','student','admin'])"
      ui-sref="home"></div>
    <div class="nav navbar-nav navbar-right">

      <ul class="nav navbar-nav gl-nav" ng-if="!isAuthenticated()">
        <li ui-sref-active="active">
          <a class="gl-nav-link" href ui-sref="home"
            data-ng-bind="'navbar.link.home' | translate">
          </a>
        </li>

        <!-- <li ui-sref-active="active"> -->
        <li ng-class="{'active': state.includes('games')}">
          <a class="gl-nav-link" href ui-sref="games.default"
            data-ng-bind="'navbar.link.games' | translate">
          </a>
        </li>

        <li ui-sref-active="active">
          <a class="gl-nav-link" target="_blank" href="http://glasslab.zendesk.com"
             data-ng-bind="'navbar.link.support' | translate">
          </a>
        </li>

        <li ui-sref-active="active">
          <a class="gl-nav-link" href ui-sref="redeem"
            data-ng-bind="'navbar.link.redeem' | translate">
          </a>
        </li>

        <li>
          <login-status type="modal"></login-status>
        </li>
      </ul>


      <ul class="nav navbar-nav gl-nav gl-nav-student" ng-if="isAuthorized('student')">
        <li ui-sref-active="active">
          <a class="gl-nav-link" href ui-sref="studentDashboard"
            data-ng-bind="'navbar.link.dashboard' | translate">
          </a>
        </li>

        <li class="gl-login-button">
          <login-status type="modal"></login-status>
        </li>
      </ul>


      <ul class="nav navbar-nav gl-nav" ng-if="isAuthorized(['instructor','admin'])">
        <li ng-class="{'active': state.includes('instructorDashboard')}">
          <a class="gl-nav-link" href ui-sref="instructorDashboard.default"
            data-ng-bind="'navbar.link.dashboard' | translate">
          </a>
        </li>

        <li ng-class="{'active': state.includes('games')}">
          <a class="gl-nav-link" href ui-sref="games.default"
            data-ng-bind="'navbar.link.games' | translate">
          </a>
        </li>

        <li ng-class="{'active': state.includes('courses')}">
          <a class="gl-nav-link" href ui-sref="courses.active"
            data-ng-bind="'navbar.link.classes' | translate">
          </a>
        </li>

        <li ng-class="{'active': state.includes('reports')}">
          <a class="gl-nav-link" href ui-sref="reports.default"
            data-ng-bind="'navbar.link.reports' | translate">
          </a>
        </li>

        <li ui-sref-active="active">
          <a class="gl-nav-link" target="_blank" href="http://glasslab.zendesk.com"
            data-ng-bind="'navbar.link.support' | translate">
          </a>
        </li>

        <li ui-sref-active="active" ng-if="isAuthorized('admin')">
          <a class="gl-nav-link" href ui-sref="research.parser"
            data-ng-bind="'navbar.link.research' | translate">
          </a>
        </li>

        <li class="gl-login-button">
          <login-status type="modal"></login-status>
        </li>
      </ul>
  </div>
</div>