<div class="navbar gl-navbar" data-ng-controller="NavbarCtrl">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
      ng-click="menuCollapsed = ! menuCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" collapse="menuCollapsed">
    <div class="nav navbar-nav navbar-right">

      <ul class="nav navbar-nav gl-nav" ng-if="!isAuthenticated()">
        <li ui-sref-active="active">
          <a class="gl-nav-link" href ui-sref="home"
            data-ng-bind="'navbar.link.home' | translate">
          </a>
        </li>

        <li ui-sref-active="active">
          <a class="gl-nav-link" href ui-sref="games"
            data-ng-bind="'navbar.link.games' | translate">
          </a>
        </li>

        <li ui-sref-active="active">
          <a class="gl-nav-link" href ui-sref="support"
            data-ng-bind="'navbar.link.support' | translate">
          </a>
        </li>

        <li ui-sref-active="active">
          <a class="gl-nav-link" href ui-sref="redeem"
            data-ng-bind="'navbar.link.redeem' | translate">
          </a>
        </li>

        <li>
          <login-status type="modal"></login-status>
        </li>
      </ul>


      <ul class="nav navbar-nav gl-nav gl-nav-student" ng-if="isAuthorized('student')">
        <li ui-sref-active="active">
          <a class="gl-nav-link" href ui-sref="studentDashboard"
            data-ng-bind="'navbar.link.dashboard' | translate">
          </a>
        </li>

        <li ui-sref-active="active">
          <a class="gl-nav-link" href ui-sref="games"
            data-ng-bind="'navbar.link.mygames' | translate">
          </a>
        </li>
        <li class="gl-login-button">
          <login-status type="modal"></login-status>
        </li>
      </ul>


      <ul class="nav navbar-nav gl-nav" ng-if="isAuthorized('instructor')">
        <li ui-sref-active="active">
          <a class="gl-nav-link" href ui-sref="instructorDashboard"
            data-ng-bind="'navbar.link.dashboard' | translate">
          </a>
        </li>

        <li ui-sref-active="active">
          <a class="gl-nav-link" href ui-sref="games"
            data-ng-bind="'navbar.link.games' | translate">
          </a>
        </li>

        <li ui-sref-active="active" ng-show="currentUser.isConfirmed">
          <a class="gl-nav-link" href ui-sref="courses"
            data-ng-bind="'navbar.link.classes' | translate">
          </a>
        </li>
        <li ng-hide="currentUser.isConfirmed"
            popover="Please confirm your email first"
            popover-trigger="mouseenter"
            popover-placement="bottom">
          <span class="gl-nav-link"
            data-ng-bind="'navbar.link.classes' | translate">
          </span>
        </li>

        <li ui-sref-active="active" ng-show="currentUser.isConfirmed">
          <a class="gl-nav-link" href ui-sref="reports"
            data-ng-bind="'navbar.link.reports' | translate">
          </a>
        </li>
        <li ng-hide="currentUser.isConfirmed"
            popover="Please confirm your email first"
            popover-trigger="mouseenter"
            popover-placement="bottom">
          <span class="gl-nav-link"
            data-ng-bind="'navbar.link.reports' | translate">
          </span>
        </li>


        <li ui-sref-active="active">
          <a class="gl-nav-link" href ui-sref="support"
            data-ng-bind="'navbar.link.support' | translate">
          </a>
        </li>

        <li class="gl-login-button">
          <login-status type="modal"></login-status>
        </li>
      </ul>
  </div>
</div>
