<div class="navbar navbar-default" data-ng-controller="NavbarCtrl">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
      ng-click="menuCollapsed = ! menuCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand">
      Playfully 
    </div>
  </div>

  <div class="collapse navbar-collapse" collapse="menuCollapsed">

    <ul class="nav navbar-nav navbar-left" ng-if="!currentUser">
      <li ui-sref-active="active">
        <a href ui-sref="home">
          <i class="fa fa-home"></i>
          <span data-ng-bind="'navbar.link.home' | translate"></span>
        </a>
      </li>

      <li ui-sref-active="active">
        <a href ui-sref="games">
          <i class="fa fa-play-circle"></i>
          <span data-ng-bind="'navbar.link.games' | translate"></span>
        </a>
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-left" ng-if="currentUser && currentUser.role == 'student'">
      <li ui-sref-active="active">
        <a href ui-sref="home">
          <i class="fa fa-home"></i>
          <span data-ng-bind="'navbar.link.myclass' | translate"></span>
        </a>
      </li>

      <li ui-sref-active="active">
        <a href ui-sref="games">
          <i class="fa fa-play-circle"></i>
          <span data-ng-bind="'navbar.link.gamecatalog' | translate"></span>
        </a>
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-left" ng-if="currentUser && currentUser.role == 'instructor'">
      <li ui-sref-active="active">
        <a href ui-sref="home">
          <i class="fa fa-home"></i>
          <span data-ng-bind="'navbar.link.home' | translate"></span>
        </a>
      </li>

      <li ui-sref-active="active">
        <a href ui-sref="games">
          <i class="fa fa-play-circle"></i>
          <span data-ng-bind="'navbar.link.games' | translate"></span>
        </a>
      </li>

      <li ui-sref-active="active" ng-if="currentUser && currentUser.role != 'teacher'">
        <a href ui-sref="reports">
          <i class="fa fa-play-circle"></i>
          <span data-ng-bind="'navbar.link.reports' | translate"></span>
        </a>
      </li>

      <li ui-sref-active="active" ng-if="currentUser && currentUser.role != 'teacher'">
        <a href ui-sref="classes">
          <i class="fa fa-play-circle"></i>
          <span data-ng-bind="'navbar.link.classes' | translate"></span>
        </a>
      </li>

      <li ui-sref-active="active" ng-if="currentUser && currentUser.role != 'teacher'">
        <a href ui-sref="licenses">
          <i class="fa fa-play-circle"></i>
          <span data-ng-bind="'navbar.link.licenses' | translate"></span>
        </a>
      </li>

      <li ui-sref-active="active">
        <a href ui-sref="support">
          <i class="fa fa-play-circle"></i>
          <span data-ng-bind="'navbar.link.support' | translate"></span>
        </a>
      </li>

      <li ui-sref-active="active" ng-if="!currentUser">
        <a href ui-sref="redeem">
          <i class="fa fa-play-circle"></i>
          <span data-ng-bind="'navbar.link.redeem' | translate"></span>
        </a>
      </li>
    </ul>
    <div class="navbar-right">
      <login-navbar type="modal"></login-navbar>
    </div>
  </div>
</div>

