
/**
 * Navigation
 */

.navbar {
  margin-top: 20px;
  
  small {
    font-size: 60%;
  }
}

.gl-navbar--top {
  background: white;
  position: relative;
  z-index: 10;
  .drop-shadow(@blur:5px);
}

.gl-navbar {
  margin-top: 40px;
  margin-bottom: 12px;
}

.gl-nav-link,
a.gl-nav-link:link {
  color: @grey2;
  border-bottom: 9px solid transparent;
}
.navbar-nav > li > .gl-nav-link {
  padding: 12px;
  display: inline-block;
}

.navbar-nav > li > .gl-nav-link,
.navbar-nav > li > .gl-nav-link:hover {
  background: transparent;
}

span.gl-nav-link {
  color: @grey5;
}

a.gl-nav-link:hover {
  color: @grey1;
}

ul.gl-nav > li {
  margin-left: 10px;
  margin-right: 10px;
}

a.gl-nav-link:hover {
  border-bottom: 9px solid @skyBlue;
}

li.active .gl-nav-link {
  border-bottom: 9px solid @aquaBlue;
}
