
.gl-dev-catalog-top-bar {
  height: 70px;
  width: 100%;
  padding: 20px 0px 20px 0px;
  background-color: @grey6;
  button {
    float: right;
    margin-left: 10px;
  }
}

.gl-dev-catalog-game-description {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  padding: 20px;
  background-color: rgba(17, 23, 39, 0.90);
  overflow: hidden;
  text-overflow: ellipsis;
  button {
    position: absolute;
    left: 26%;
    bottom: 20px;
  }
}

.gl-dev-edit-icon {
  display: inline;
  color: #0073b2;
  font-size: 17px;
  vertical-align: top;
  &:hover {
    cursor: pointer;
  }
}

.gl-dev-edit-add-button {
  &:hover {
    cursor: pointer;
  }
  font-size: 12px;
  color: white;
  background-color: #1e7eba;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

.gl-edit-short-description-box {
  span {
    display: block;
  }
}

.gl-dev-catalog-game-box {
  &:hover {
    cursor: default;
  }
}

.ace_editor { height: 600px; }

.gl-dev-editor { // so the 940px banner can fit inside
  width: 976px;
  margin-left: -18px;
}

.gl-dev-editor h3 {
  border-radius: 5px 5px 0 0;
  background-color: #CFE6BA;
  color: white;
  padding: 10px 10px 0;
  margin-bottom: 0;
}

.gl-dev-editor .well-sm {
  background-color: #CFE6BA;
  border: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: none;
}

.gl-dev-editor .well-sm .well-sm {
  background-color: #EAF3DE;
}

.gl-dev-editor .well-sm h3 {
  border-radius: 5px 5px 0 0;
  background-color: #EAF3DE;
  color: #357CBE;
  font-family: 'Bitter', serif;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.gl-dev-editor .well-sm p {
  background-color: #EAF3DE;
  padding: 0 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}


.gl-dev-editor .well-sm .well-sm p {
  padding: 0;
  font-weight: normal;
}

.gl-dev-editor .row > div > div {
  margin-bottom: 15px;
}

.gl-dev-editor .table-bordered,
//.gl-dev-editor .table-bordered > thead > tr > td,
.gl-dev-editor .table-bordered > tbody > tr > td,
.gl-dev-editor .table-bordered > tfoot > tr > td {
  border: none;
}

.gl-dev-editor .table-bordered > tbody > tr {
  border: 1px #357CBE dashed;
}

.gl-dev-editor .table-bordered > thead > tr > th {
  display: none;
}

.gl-dev-editor .table-bordered > tbody > tr > td > .form-group > label {
  display: none;
}

.gl-dev-editor .well-sm .well-sm .well-sm {
  //padding: 0;

}

.gl-dev-editor .well-sm textarea {
  //min-height: 120px;
}