<div class="container gl-margin--Txxl">
  <div class="row">
    <div class="col-md-12">

      <h2>Shout Out / Watch Out Editor</h2>

      ( GLAS-305 )<br>

      This is /Users/wcj/1/web-dev/GlasslabGames/platform-test/hydra/Playfully.org/src/app/developer/games/developer-game-sowo-editor.html

      <h1>{{gameId}}</h1>
      <h2>Shout Outs</h2>

      <div ng-repeat="ww in soitems track by $index">
        {{sokeys[$index]}} name: <br>
        <input type="text" id="keykey" size="40" ng-model="pokey"/><br>

        description:<br>
        <input type="text" id="keykey" size="120" ng-model="pokey"/><br><br>

      </div>
      + more ... <br><br>

      <h2>Watch Outs</h2>

      <div ng-repeat="ww in woitems track by $index">
        {{wokeys[$index]}} name: <br>
        <input type="text" id="keykey" size="40" ng-model="pokey"/><br>

        description:<br>
        <input type="text" id="keykey" size="120" ng-model="pokey"/><br><br>

      </div>
      + more ... <br><br>

    </div>
  </div>
</div>