<div class="container gl-margin--Txxl">
  <div class="row">
    <div class="col-md-12">

      <a href="sowo-editor"> SOWO Editor </a>

      <h1>{{gameId}} <button class="btn btn-default" type="button" ng-click="saveInfo()">Save</button></h1>

      <tabset>
        <tab ng-repeat="tabName in tabs" heading="{{tabName}}">

          <json-editor schema="tabSchema[tabName]" startval="fullData[tabName]"
                       on-change="onChange($editorValue, tabName)"></json-editor>

        </tab>
      </tabset>

    </div>
  </div>
</div>