
.gl-dev-catalog-top-bar {
  height: 70px;
  width: 100%;
  padding: 20px 0px 20px 0px;
  background-color: @grey6;
  button {
    float: right;
    margin-left: 10px;
  }
}

.gl-dev-catalog-game-description {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  padding: 20px;
  background-color: rgba(17, 23, 39, 0.90);
  overflow: hidden;
  text-overflow: ellipsis;
  button {
    position: absolute;
    left: 26%;
    bottom: 20px;
  }
}

.gl-dev-edit-icon {
  display: inline;
  color: #0073b2;
  font-size: 17px;
  vertical-align: top;
  &:hover {
    cursor: pointer;
  }
}

.gl-dev-edit-add-button {
  &:hover {
    cursor: pointer;
  }
  font-size: 12px;
  color: white;
  background-color: #1e7eba;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

.gl-edit-short-description-box {
  span {
    display: block;
  }
}

.gl-dev-catalog-game-box {
  &:hover {
    cursor: default;
  }
}

.ace_editor { height: 600px; }


.gl-dev-editor-wrapper {
  margin: 0 -20px;  // so the full width banner images can fit in editor
}

.gl-dev-editor-sticky {
  .gl-dev-editor-sticky-btn-group {
    float: right;
    margin: 0;
    padding: 6px 8px;
    margin-right: 2px;
    border-radius: 0 5px 0 5px;
    background-color: #CFE6BA;
    overflow: hidden;

    .btn {
      border-color: white;
      background-color: #4788C1;
      color: white;
    }

    .status {
      display: inline-block;
      white-space: nowrap;

      -webkit-transition: max-width 1s ;
      -moz-transition: max-width 1s ;
      -o-transition: max-width 1s ;
      -ms-transition: max-width 1s ;

      max-width: 0;

      &:after, &.success:before {
        content: "\00a0\00a0";
      }

      &.on {
        max-width: 800px;
      }
    }
  }
}


.gl-dev-editor {
  margin: 20px 0;
  padding: 10px;

  background-color: #CFE6BA;
  border-radius: 5px;

  h3 {
    color: white;
    margin: 0 0 10px;
  }

  .gl-dev-editor-section {
    border-radius: 5px;
    padding: 10px 10px 0;
    background-color: #EAF3DE;
    margin: 7px 0;
    min-height: 46px;

    .well {
      border: 0;
      padding: 0;
      margin: 0;
      box-shadow: none;
      background: none;
    }

    .well > .btn-group, .form-group ~ div > * {
      margin-bottom: 15px;
    }

    h3 {
      color: #357CBE;
      font-family: 'Bitter', serif;
    }

    table,
    table > thead > tr > th,
    table > tbody > tr > td {
      border: none;
    }

    table tbody tr {
      border: 1px #BDD6D6 solid;
    }

    table > tbody > tr > td > .form-group > label {
      display: none;
    }

    td img {
      max-height: 360px;
    }

    tr:last-of-type .btn-group > .btn:nth-of-type(2) {
      border-radius: 0 5px 5px 0;
    }

    tr:first-of-type:last-of-type .btn-group > .btn {
      border-radius: 5px;
    }
  }

  .gl-dev-editor-section-platform_ipad,
  .gl-dev-editor-section-platform_client,
  .gl-dev-editor-section-platform_browser {
    margin-top: -20px;
    h3 {
      display: none;
    }
  }
  .gl-dev-editor-section-standards,
  .gl-dev-editor-section-lessonPlans,
  .gl-dev-editor-section-lessonVideos,
  .gl-dev-editor-section-research,
  .gl-dev-editor-section-reviews {
    th {
      display: none;
    }

    td:not(:last-of-type) {
      float: left;
      padding-bottom: 0;
      .form-group ~ div > * {
        margin-top: -15px;
      }
    }

    td:last-of-type {
      //float: none;
      width: 129px;
    }
  }

}
