<div class="container gl-margin--Txxl">
  <div class="row">
    <div class="col-md-12">
      <h1>{{gameId}} <button class="btn btn-default" type="button" ng-click="saveInfo()">Save</button></h1>

      <tabset ng-init="tabsActive.basic = true">
        <tab ng-repeat="tabName in tabs" heading="{{tabName}}" active="tabsActive[tabName]">

          <json-editor schema="tabSchema[tabName]" startval="fullData[tabName]"
                       on-change="onChange($editorValue, tabName)" extra-options="JSONEditorOptions"></json-editor>

        </tab>
      </tabset>

    </div>
  </div>
</div>