<div class="row">
  <div class="col-md-8">
    <h2 class="headline-2 gl-margin--Tn">Student Gameplay at a Glance</h2>
  </div>
  <div class="col-md-4 text-right">
    <div ng-if="myGames.length > 1">
      Game: <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-default dropdown-toggle"
          ng-disabled="disabled">
          {{ status.selectedGame.shortName }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li ng-repeat="game in games | filter:{enabled: true}"
            ui-sref-active="gl-reports-dropdown--selected">
            <a ng-hide="game.maintenance"
              ui-sref="instructorDashboard.gameplay({gameId: game.gameId, courseId: status.selectedCourseId})"
              href="#"
              ng-bind="game.shortName"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="gl-reports-container gl-dashboard-sidebar gl-margin--Bxl">
      <h3 class="headline-5 gl-margin--Tn">Classes</h3>
      <div>
        <div class="gl-reports-nav-courses"
          ng-repeat="course in courses | filter:{archived: false}">
          <div>
            <label class="gl-reports-nav-course" ng-click="status.selectedCourseId=course.id">
              <div class="gl-reports-nav-selector"
                ng-class="{'gl-reports-nav-selector--selected': course.id == status.selectedCourseId}">
                <i class="fa fa-check"></i>
              </div>
              <input class="gl-reports-nav-course-checkbox" type="checkbox" ng-model="course.isSelected">
              {{ course.title }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 gl-course-progress-container gl-pad--Bxxl">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="headline-2 text-center gl-margin--Tl" ng-bind="reports.selected.header.text"></h1>
                  <p class="text-center" ng-bind="reports.selected.description"></p>
              </div>
          </div>
      </div>
      <div ng-include src="'instructor/reports/sowo.html'"></div>
  </div>
</div>
