<div class="col-md-8">
    <h2 class="headline-2 gl-margin--Tn">Student Gameplay at a Glance</h2>
</div>
<div class="col-md-4">
    <div class="btn-group" dropdown is-open="courses.isOpen">
        <button type="button" class="btn btn-default gl-reports-dropdown"
                ng-click="toggleDropdown($event, 'reports')"
                ng-bind="courses.selected.title"></button>
        <button type="button" class="btn gl-btn--blue dropdown-toggle">
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="course in courses.options"
                ui-sref-active="gl-reports-dropdown--selected">
                <a href="#"
                   ng-click="courses.selectedCourseId=course.id"
                   ng-bind="course.title"></a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12 gl-course-progress-container gl-pad--Bxxl gl-pad-Hm">
        <div class="gl-dashboard-game-selector">
            <div class="gl-dashboard-game"
                 ng-class="{'gl-dashboard-game-active':status.selectedGameId===game.gameId}"
                 ng-repeat="game in myGames">
                <span
                   ng-click="status.selectedGameId=game.gameId"
                   ng-bind="game.shortName">
                </span>
            </div>
        </div>
        <div class="gl-dashboard-banner">
            <div class="gl-dashboard-banner-left">
                <a href="#"
                   ng-click="status.selectedGameId=status.prevGameId">
                    <i class="fa fa-chevron-left gl-fa-3"></i>
                </a>
            </div>
            <img src="/{{ status.selectedGame.banners.product }}">
            <div class="gl-dashboard-banner-right">
                <a href="#"
                   ng-click="status.selectedGameId=status.nextGameId">
                    <i class="fa fa-chevron-right gl-fa-3"></i>
                </a>
            </div>
        </div>
            <div class="col-md-4 gl-dashboard-data-col-game-stats text-center">
                <div class="gl-watchouts-heading text-center">
                    <span class="headline-4">Key Game Stats</span>
                </div>
                <h4>Avg Total Time Played:</h4>

                <div class="clearfix">
                    <div class="counter-wrapper">
                        <ul class="flip-counter default" id="myCounter"></ul>
                    </div>
                </div>
                {{status.avgTotalTimePlayed}}
                <h4>Avg Game Progress:</h4>
                <div ng-if="status.averageMissionProgress" class="gl-dashboard-progress-arc">
                    <span class="averageMissionProgressText">{{45}}<span>%</span></span>
                    <progress-arc
                            size="{{progressArc.size}}"
                            stroke="{{progressArc.stroke}}"
                            stroke-width="{{progressArc.strokeWidth}}"
                            background="{{progressArc.background}}"
                            complete="progressArc.progress">
                    </progress-arc>
                </div>


            </div>
            <div class="col-md-4 gl-dashboard-data-col">
                <div class="gl-watchouts-heading text-center">
                    <span class="headline-4">Watch Out!</span>
                </div>
                <div class="gl-watchouts-box" ng-repeat="wo in watchOuts">
                    <div>
                        <span class="gl-icon-watchout-landing-big"></span>
                        <div class="gl-dashboard-watchout-info">
                            <span class="gl-watchouts-username">{{wo.user.firstName+''+wo.user.lastName}}</span>
                                <span class="timestamp">{{wo.timestamp}}</span>
                            <hr>
                            <div class="gl-watchouts-title" ng-bind="wo.name"></div>
                            <p ng-bind="wo.description"></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 gl-dashboard-data-col">
                <div class="gl-watchouts-heading text-center">
                    <span class="headline-4">Shout Out!</span>
                </div>

                <div class="gl-watchouts-box" ng-repeat="so in shoutOuts">
                    <div>
                        <span class="gl-icon-shoutout-landing-big"></span>
                        <div class="gl-dashboard-watchout-info">
                            <span class="gl-watchouts-username">{{so.user.firstName+''+so.user.lastName}}</span>
                            <span class="timestamp">{{so.timestamp}}</span>
                            <hr>
                            <div class="gl-watchouts-title" ng-bind="so.name"></div>
                            <p ng-bind="so.description"></p>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</div>
<div class="row gl-margin--T30">
    <div class="col-md-12 gl-course-progress-container gl-pad--Bxxl gl-pad-Hm">
        <div class="col-md-6">
            <div class="gl-watchouts-heading text-center">
                <span class="headline-4">Message Center</span>
            </div>

        </div>
        <div class="col-md-6 gl-dashboard-data-col-games">
            <div class="gl-watchouts-heading text-center">
                <span class="headline-4">Assigned Games</span>
            </div>

            <div ng-repeat="game in myGames">
                <div class="gl-dashboard-game-box">
                    <img ng-src="/{{game.card.small}}" class="gl-dashboard-game-card">
                    <div class="gl-dashboard-game-box-info">
                        <span class="gl-dashboard-game-box-info-title">
                            {{game.shortName}}
                            <span class="gl-text-end-fade"></span>
                        </span>
                        <ul class="">
                            <li>Developed by {{game.developer.name}}
                            </li>
                            <li ng-switch="game.play.type">
                                <button type="button" class="btn gl-btn--blue gl-margin--Tl" ng-switch-default ng-click="goToPlayGame(game.gameId,game.play.type)">Play Game</button>
                                <button type="button" class="btn gl-btn--blue gl-margin--Tl" ng-switch-when="download" ng-click="goToLink(game.play.link)">Download</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
