<div class="col-md-8">
    <h2 class="headline-2 gl-margin--Tn">Student Gameplay at a Glance</h2>
</div>

<div>
    <div class="btn-group gl-dashboard-course-selector" dropdown is-open="courses.isOpen">
        <button type="button" class="btn btn-default gl-reports-dropdown"
                ng-click="toggleDropdown($event, 'reports')"
                ng-bind="courses.selected.title"></button>
        <button type="button" class="btn gl-btn--blue dropdown-toggle">
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="course in courses.options"
                ui-sref-active="gl-reports-dropdown--selected">
                <a href="#"
                   ng-click="courses.selectedCourseId=course.id"
                   ng-bind="course.title"></a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12 gl-pad-Hl">
        <div class="gl-dashboard-container-top">
            <div class="gl-dashboard-game-selector">
                <div class="gl-dashboard-game"
                     ng-class="{'gl-dashboard-game-active':status.selectedGameId===game.gameId}"
                     ng-repeat="game in myGames">
                    <span
                       ng-click="status.selectedGameId=game.gameId"
                       ng-bind="game.shortName">
                    </span>
                </div>
            </div>
            <div class="gl-dashboard-banner">
                <div class="gl-dashboard-banner-left" ng-click="status.selectedGameId=status.prevGameId">
                        <i class="fa fa-chevron-left gl-fa-3"></i>
                </div>
                <img src="/{{ status.selectedGame.banners.product }}">
                <div class="gl-dashboard-banner-right" ng-click="status.selectedGameId=status.nextGameId">
                        <i class="fa fa-chevron-right gl-fa-3"></i>
                </div>
            </div>
            <div class="gl-dashboard-data-columns">
                <div class=" gl-dashboard-col-game-stats text-center">
                    <div class="gl-dashboard-col-header ">Key Game Stats</div>
                    <span class="gl-dashboard-subheader">Avg Total Time Played:</span>
                    <div class="gl-dashboard-time-counter gl-margin--B40">
                        <div><span class="numbers">{{status.avgTotalTimePlayed.hours || 0}}</span> <span>HRS</span></div>
                        <div><span class="numbers">{{status.avgTotalTimePlayed.minutes || 0}}</span> <span>MINS</span></div>
                    </div>
                    <div ng-if="status.selectedGameId==='SC'">
                        <span class="gl-dashboard-subheader">Avg Game Progress:</span>
                        <div class="gl-dashboard-progress-arc">
                            <span class="averageMissionProgressText">{{status.averageMissionProgress || 0}}<span>%</span></span>
                            <progress-arc
                                    size="{{progressArc.size}}"
                                    stroke="{{progressArc.stroke}}"
                                    stroke-width="{{progressArc.strokeWidth}}"
                                    background="{{progressArc.background}}"
                                    complete="progressArc.progress">
                            </progress-arc>
                        </div>
                    </div>
                </div>
                <div class=" gl-dashboard-col-wo">
                    <div class="gl-dashboard-col-header text-center">Watch Out!</div>

                    <div class="text-center" ng-if="watchOuts.length===0">
                        <h5>No Watch Outs yet. Keep playing!</h5>
                        </br>
                        <img src="/assets/blinky-empty.png">
                    </div>
                    <div class="gl-dashboard-sowo-box" ng-repeat="wo in watchOuts | orderBy : 'timestamp' : true | limitTo : 3">
                        <div>
                            <span class="gl-icon-watchout-landing-big"></span>
                            <div class="gl-dashboard-sowo-info">
                                <span class="gl-dashboard-sowo-username">{{wo.user.firstName+''+wo.user.lastName}}</span>
                                    <span class="gl-dashboard-sowo-timestamp">{{wo.timestamp}}</span>
                                <hr>
                                <div class="gl-dashboard-sowo-title" ng-bind="wo.name"></div>
                                <p ng-bind="wo.description"></p>
                            </div>
                        </div>
                    </div>
                    <div class="gl-dashboard-col-sowo-show-all text-center" ng-if="watchOuts.length > 3"><a
                            ui-sref="root.reports.details.sowo({courseId:courses.selectedCourseId, gameId: status.selectedGameId, groupId:'wo'})">Show
                        All Watch Outs ({{watchOuts.length}})</a>
                    </div>
                </div>
                <div class="gl-dashboard-col-so">
                    <div class="gl-dashboard-col-header text-center">Shout Out!</div>
                    <div class="text-center" ng-if="shoutOuts.length===0">
                        <h5>No Shout Outs yet. Keep playing!</h5>
                        </br>
                        <img src="/assets/blinky-empty.png">
                    </div>
                    <div class="gl-dashboard-sowo-box" ng-repeat="so in shoutOuts | orderBy : 'timestamp' : true | limitTo : 3">
                        <div>
                            <span class="gl-icon-shoutout-landing-big"></span>
                            <div class="gl-dashboard-sowo-info">
                                <span class="gl-dashboard-sowo-username">{{so.user.firstName+''+so.user.lastName}}</span>
                                <span class="gl-dashboard-sowo-timestamp">{{so.timestamp}}</span>
                                <hr>
                                <div class="gl-dashboard-sowo-title" ng-bind="so.name"></div>
                                <p ng-bind="so.description"></p>
                            </div>
                        </div>
                    </div>
                    <div class="gl-dashboard-col-sowo-show-all text-center" ng-if="shoutOuts.length > 3"><a
                            ui-sref="root.reports.details.sowo({courseId:courses.selectedCourseId, gameId: status.selectedGameId, groupId:'so'})">Show
                        All Shout Outs ({{shoutOuts.length}})</a>
                    </div>
                </div>
            </div>
            <div class="gl-dashboard-container-footer text-center"><button type="button" class="btn gl-btn--blue gl-margin-Vl"
                         ui-sref="root.reports.details.sowo({courseId:courses.selectedCourseId, gameId: status.selectedGameId})">View Additional Reports</button>
            </div>
        </div>
    </div>
</div>
<div class="row gl-margin--T30">
    <div class="col-md-12 gl-pad--Bxxl gl-pad-Hm">
        <div class="gl-dashboard-container-bottom">
            <div class="col-md-6 gl-dashboard-col-messages noscroll">
                <div class="gl-dashboard-container-bottom-header-section">
                    <div class="gl-dashboard-col-header gl-margin--Lxl">
                        <span ng-class="{'gl-dashboard-title-inactive': !status.showMessages}"
                              ng-click="status.showMessages=!status.showMessages">
                            Message Center
                        </span>
                        <span ng-class="{'gl-dashboard-title-inactive': status.showMessages}"
                              ng-click="status.showMessages=!status.showMessages"
                              class='gl-dashboard-tweets-header'>
                            Tweets
                        </span>
                    </div>
                </div>
                <div class="gl-dashboard-container-bottom-data-section" ng-class="{'noscroll' : !status.showMessages}">
                    <div ng-if="messages.length" ng-repeat="message in messages" ng-show="status.showMessages">
                        <div class="gl-dashboard-message-box">
                            <div class="gl-dashboard-message-icon-box">
                                <img ng-src="/assets/{{message.icon}}" class="gl-dashboard-message-icon">
                            </div>

                            <div class="gl-dashboard-message-box-info">
                            <span class="gl-dashboard-message-subject gl-margin--Bl"> {{message.subject}} </span>
                            <span class="gl-dashboard-message-timestamp">{{message.timestamp}}</span>
                                <p> {{message.message}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="gl-dashboard-twitter-timeline" ng-show="!status.showMessages">
                        <a class="twitter-timeline" href="https://twitter.com/GlassLabGames"
                           data-widget-id="501579486790303744">Tweets by @GlassLabGames</a>
                        <script>
                            !function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + "://platform.twitter.com/widgets.js";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, "script", "twitter-wjs");
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-6 gl-dashboard-col-games">
                <div class="gl-dashboard-container-bottom-header-section">
                    <div class="gl-dashboard-col-header gl-margin--Lxl"><span>Assigned Games</span></div>
                </div>
                <div class="gl-dashboard-container-bottom-data-section">
                    <div ng-repeat="game in myGames">
                        <div class="gl-dashboard-game-box">
                            <img ng-src="/{{game.card.small}}" class="gl-dashboard-game-card">
                            <div class="gl-dashboard-game-box-info">
                                <span class="gl-dashboard-game-box-info-title">
                                    {{game.shortName}}
                                    <span class="gl-text-end-fade"></span>
                                </span>
                                <ul class="">
                                    <li>Developed by {{game.developer.name}}
                                    </li>
                                    <li ng-switch="game.play.type">
                                        <button type="button" class="btn gl-btn--blue gl-margin--Tl" ng-switch-default ng-click="goToPlayGame(game.gameId,game.play.type)">Play Game</button>
                                        <button type="button" class="btn gl-btn--blue gl-margin--Tl" ng-switch-when="download" ng-click="goToLink(game.play.link)">Download</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
