.gl-bg-dashboard {
  .image-2x('bg-instructor-dashboard.png', 623px, 538px);
  background-color: @grey7;
  background-repeat: repeat;
}

.gl-instructor-home-intro {
  padding-top: 60px;
  padding-bottom: 60px;
}

.gl-instructor-lower-panel {
  padding-top: 40px;
  padding-bottom: 40px;
}

.gl-navbar-alert {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -5px;
}

.gl-navbar-alert-inner {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: @yellow;
}


.gl-course-list-item {
  padding: 10px;
  display: block;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  text-overflow: ellipsis;
  text-overflow: "…";
}

.gl-course-list-item:link,
.gl-course-list-item:visited {
  color: @grey1;
}

.gl-course-list-item--selected,
.gl-course-progress-container {
  background: white;
  border: 1px solid @grey6;
}

.gl-course-progress-container {
  border: 1px solid @grey5;
  padding: 0px;
  position: relative;
  z-index: 1;
  .border-radius(6px);
}

.gl-progress-legend {
  span {
    text-align: left;
    margin-bottom: 5px;
  }
}

.gl-dashboard-skinny-banner {
  width: 620px;
  height: 73px;
  border-radius: 6px;
}

.gl-course-list-item--selected {
  border-right: none;
  .border-radiuses(0, 0, 5px, 5px);
  margin-right: -16px;
  position: relative;
  z-index: 40;
}

.icon-shoutout--large,
.icon-watchout--large {
  margin-left: auto;
  margin-right: auto;
  width: 94px;
  height: 94px;
}

.icon-shoutout--large {
  .image-2x('icon-shoutout-large.png', 94px, 94px);
}

.icon-watchout--large {
  .image-2x('icon-watchout-large.png', 94px, 94px);
}


.icon-shoutout--small,
.icon-watchout--small {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 6px;
}

.icon-shoutout--small {
  .image-2x('icon-shoutout-small.png', 32px, 32px);
}

.icon-watchout--small {
  .image-2x('icon-watchout-small.png', 32px, 32px);
}

.icon-watchout--small.icon-watchout--yellow {
  .image-2x('icon-watchout-small-yellow.png', 32px, 32px);
}

.icon-sowo--extra {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  color: white;
  .border-radius(30px);
  font-size: 10px;
  padding-top: 5px;
  line-height: 1.0;
  text-align: center;
}

.icon-shoutout--extra {
  background: @grassGreen;
}

.icon-watchout--extra {
  background: @yellow;
}

.gl-dashboard-skinny-banner {
  height: 70px;
  border-radius: 6px;
}

.gl-dashboard-sidebar {
  border-color: #e5e5e5 !important;
}

.gl-dashboard-student-name {
  .text-overflow;
  display: inline-block;
  vertical-align: middle;
  min-width: 100px;
  width: 33%;
  margin-right: 3%;
}

.gl-dashboard-student-heading {
  background: @grey7;
  .border-radiuses(10px, 0, 0, 10px);
  padding: 8px 10px 6px;
}

.gl-dashboard-student-footer {
  background: @grey7;
  .border-radiuses(0, 10px, 10px, 0);
  height: 10px;
}

.gl-dashboard-student-divider {
  height: 4px;
  background: @aquaBlue;
  margin-top: 4px;
  margin-bottom: 4px;
}

.gl-dashboard-student .popover-content {
  font-size: 14px;
}


.gl-dashboard-student {
  padding-left:    20px;
  padding-top:    8px;
  padding-bottom: 8px;
  margin-bottom:   6px;
  font-size: 18px;
  color: @grey3;
  height: 48px;
}

.gl-dashboard-student--even {
  background: @grassGreenLightest;
}

.gl-dashboard-student--odd {
  background: @aquaBlueLightest;
}

.gl-dashboard-sowo-footer {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.gl-dashboard-sowo-footer > button {
  display: block;
  margin:0 auto;
}

.gl-icon-shoutout-landing,
.gl-icon-watchout-landing {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.gl-icon-watchout-landing {
  .image-2x('icon-watchout-landing.png', 20px, 20px);
}

.gl-icon-shoutout-landing {
  .image-2x('icon-shoutout-landing.png', 20px, 20px);
}

.gl-icon-watchout-landing-big {
  display: inline-block;
  width: 55px;
  height: 55px;
  .image-2x('icon-watchout-landing-big.png', 55px, 55px);
}

.gl-icon-shoutout-landing-big {
  display: inline-block;
  width: 55px;
  height: 55px;
  .image-2x('icon-shoutout-landing-big.png', 55px, 55px);
}

.gl-watchouts-heading {
  width: 100%;
  height: 79px;
  span {
    vertical-align: middle;
    line-height: 79px;
  }
}


.gl-watchouts-subheading {
  font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 8px;
  margin-bottom: 8px;
}

.gl-row-border--top {
  border-top: 1px solid @grey7;
}

.gl-row-border--bottom {
  border-bottom: 1px solid @grey7;
}

.gl-fa-3 {
  font-size: 3em;
  display: inline-block;
  vertical-align: middle;
  color: @grey5;

  &:hover {
    color: @aquaBlue;
  }
}

.gl-dashboard-banner {
  margin: 0px;
  position: relative;
  @height: 279px;
  .gl-dashboard-banner-left {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0px;
    top: @height/2.5;
    padding: 15px;
    i {
      color: white;
    }
  }
  .gl-dashboard-banner-right {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    right: 0px;
    top: @height/2.5;
    padding: 15px;
    i {
      color: white;
    }
  }
  img {
    width: 100%;
    height: @height;
  }

}

.gl-dashboard-game-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
//  border: 1px solid red;
  .gl-dashboard-game {
    color: @grey4;
    font-weight: 500;
    background-color: @grey7;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
  }
  .gl-dashboard-game:hover {
    background-color: steelblue;
    color: white;
    cursor: pointer;
  }
  .gl-dashboard-game-active {
    background-color: steelblue;
    color: white;
    cursor: default;
  }
}

.averageMissionProgressText {
  position: absolute;
  top: 0px;
}
.gl-dashboard-data-col {
  margin: 0px;
  width: 100%;
  height: 420px;
  border: 1px solid @grey7;
  padding: 10px;

  .gl-icon-watchout-landing-big,
  .gl-icon-shoutout-landing-big {
    float: left;
  }

  .gl-watchouts-box {
    min-height: 77px;
    margin-bottom: 20px;
    padding: 0px;
  }

  .gl-dashboard-watchout-info {
    width: 220px;
    margin-left: 20px;
    float: left;
    hr {
      margin-top: 2px;
      margin-bottom: 2px;
      color: @grey6;
    }
    .gl-watchouts-username {
      font-weight: 500;
      font-size: 16px;
      vertical-align: bottom;
    }
    .timestamp  {
      font-size: 12px;
      color: @grey4;
      float: right;
    }
    .gl-watchouts-title {
      font-size:13px;
      margin-bottom: 3px;
    }
    p {
      font-size:12px;
      color: @grey4;
    }
  }
}