<div class="gl-bg--gray">
  <!--div ng-show="!currentUser.isConfirmed" class="gl-navbar-alert">
    <div class="gl-navbar-alert-inner">
      Please check your email to complete your registration.
      <a ui-sref="resendConfirmation">Resend confirmation email</a>.
    </div>
  </div-->
  <div class="container gl-instructor-home-intro">
    <div class="row" ng-if="courses.length == 0">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2>Welcome, {{ currentUser.firstName }}{{ currentUser.lastName ? ' ' + currentUser.lastName : '' }}!</h2>
        <p>
         Ready to set up classes? Want to know what reports we have? Take a tour of Playfully!
        </p>
        &nbsp;
        <div>
          <button class="btn gl-btn--blue"
            ui-sref="instructorTour">Take a Tour</button>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div ng-if="courses.length != 0">
      <div class="row">
        <div class="col-md-8">
          <h2 class="headline-2--sans">Student Progress at a Glance</h2>
        </div>
        <div class="col-md-4 text-right">
          <div class="btn-group" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-default dropdown-toggle"
              ng-disabled="disabled">
              {{ status.selectedOption.shortName }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li ng-repeat="game in games | filter:{enabled: true}">
                <a ng-hide="game.maintenance" href="#" ng-bind="game.shortName"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div ng-repeat="course in courses | filter:{archived: false}"
            ng-class="{'gl-course-list-item--selected': course == status.selectedCourse}">
            <a href="#"
              ng-click="status.selectedCourse = course"
              class="gl-course-list-item"
              ng-bind="course.title"></a>
          </div>
        </div>
        <div class="col-md-9 gl-course-progress-container gl-pad--Bxxl">

          <div ng-include src="'instructor/reports/sowo.html'"></div>

        </div>
      </div>
    </div>



  </div>
</div>

<div class="gl-instructor-lower-panel container">
  <div class="row gl-margin-Bxl">
    <div class="col-md-2">
      <h3>Message Center</h3>
    </div>
    <!--<div class="col-md-3 gl-message-col">
      <h4>
        <span class="icon-message icon-message-webinar"></span>
        <span class="gl-message-title">Webinars</span>
      </h4>
      <p>
        Just 1 hour till we're live: Join us as we explore the
        Power of Learning by Doing. <a href="#">bit.ly/18idbOR</a>
      </p>
    </div>
	-->
    <div class="col-md-4 gl-message-col">
      <h4>
        <span class="icon-message icon-message-twitter"></span>
        <span class="gl-message-title">Tweet, Tweet!</span>
      </h4>
      <p>
        Don't miss @edwebnet's "Training Teachers on Technology"
        webinar, tomorrow @ 3pm ET. Register here:
        <a href="#">ow.ly/reZsj</a> #edtechchat
      </p>
    </div>
    <div class="col-md-4 gl-message-col">
      <h4>
        <span class="icon-message icon-message-news"></span>
        <span class="gl-message-title">In the News</span>
      </h4>
      <p> <a href="http://blogs.kqed.org/mindshift/2014/07/from-minecraft-to-mars-teachers-bring-the-arcade-to-the-games-learning-classroom/"> Mind Shift: From Mars to Minecraft: Teachers Bring the Arcade to the Classroom </a> </p>
      <p>  <a href="http://blogs.edweek.org/edweek/DigitalEducation/2014/07/digital_game_developers_to_get_1.html"> EdWeek: Digital Game Developers  to  verify)  Get Free Help Tracking Student </a> </p>
	  <p> <a href="http://www.theguardian.com/technology/2014/aug/06/how-video-games-have-the-power-to-change-real-lives"> The Guardian: How video games have the power  to  verify)  change real lives </a> </p>
    </div>
  </div>

  &nbsp;

  <h3 class="gl-headline--underlined">My Games</h3>
  <div ng-if="!myGames.length" class="container gl-margin--Txl">
      No Games!
  </div>
  <div ng-if="myGames.length" class="container gl-margin--Txl">
    <div class="col" ng-repeat="game in myGames | filter:{enabled: true}">
      <div class="col-md-4">
        <div class="gl-game-card">
          <div class="gl-game-thumbnail gl-game-card-{{game.gameId}}">
            <div ng-if="game.maintenance" class="gl-game-ribbon">
              <div class="gl-game-ribbon-text">{{game.maintenance.message}}</div>
            </div>
            <div ng-if="!game.maintenance && game.license.type == 'free'" class="gl-game-ribbon">
              <div class="gl-game-ribbon-text">{{game.license.type}}</div>
            </div>
          </div>
          <div class="gl-game-desc">
            <h4>{{game.shortName}}</h4>
            <p>{{game.description}}</p>
            <p>
              <a ng-hide="game.maintenance" ng-href="games/{{game.gameId}}" href class="gl-link--dkgrey text-bold">
                <i class="fa fa-arrow-circle-right"></i>&nbsp;
                Read more
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
