<div class="gl-bg-dashboard">
  <div class="gl-dashboard-intro-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 text-center">
            <h2 class="headline-1 gl-margin--B50">Welcome to GlassLab Games!</h2>
          </div>
          <div class="col-md-3 gl-dashboard-intro-col">
            <div ng-class="ftue >= 3 ? 'gl-dashboard-intro-blinky-so' : 'gl-dashboard-intro-blinky-teacher'"></div>
          </div>
          <div class="col-md-4 gl-dashboard-intro-col">
            <div class="gl-dashboard-intro-instructions text-center" ng-if="ftue >= 3">
              <div class="headline-5--serif gl-margin--Bm"> Hooray! Shout out to you!</div>
              <p>You’ve completed the tour of GlassLab Games and are ready to go. Keep an eye on your Message
                Center for new updates. If you have any questions, feel free to check out Support!</p>
            </div>
            <div class="gl-dashboard-intro-instructions text-center" ng-if="ftue < 3">
                <div class="headline-5--serif gl-margin--Bm"> Let’s get started.</div>
                <p> Excited to set up your classes? Ready to take a look at your instructional
                  resources? Want tips on how to use your reporting tools to view your students’ learning results?</p>
                <div>
                  <button class="btn gl-btn--blue gl-margin--V40 text-center"
                          ui-sref="modal-lg.instructorTour">Take a Tour
                  </button>
              </div>
            </div>
          </div>
          <div class="col-md-5 gl-dashboard-intro-col">
            <div class="gl-dashboard-intro-checklist">
              <div class="gl-dashboard-intro-checklist-header headline-3--serif text-center">
                Check List
              </div>
              <div class="gl-dashboard-checklist-item">
                <div class="l-profile-image">
                  <div ng-class="checkList(1) ? 'gl-dashboard-checklist-complete' : 'gl-dashboard-checklist-incomplete'"></div>
                </div>
                <div class="l-profile-info l-profile-info-dashboard-checklist">
                  <div class="headline-4--serif gl-margin--Bm"> Discover and Play Games</div>
                  <p>Discover highly effective, fun and engaging games tied to essential learning standards.</p>
                </div>
              </div>
              <div class="gl-dashboard-checklist-item">
                <div class="l-profile-image">
                  <div ng-class="checkList(2) ? 'gl-dashboard-checklist-complete' : 'gl-dashboard-checklist-incomplete'"></div>
                </div>
                <div class="l-profile-info l-profile-info-dashboard-checklist">
                  <div class="headline-4--serif gl-margin--Bm"> Create a Class</div>
                  <p>Create a class and assign games to it.</p>
                </div>
              </div>
              <div class="gl-dashboard-checklist-item">
                <div class="l-profile-image">
                  <div ng-class="checkList(3) ? 'gl-dashboard-checklist-complete' : 'gl-dashboard-checklist-incomplete'"></div>
                </div>
                <div class="l-profile-info l-profile-info-dashboard-checklist">
                  <div class="headline-4--serif gl-margin--Bm"> Invite Your Students</div>
                  <p>Give your Class Code to your students. When they register their accounts, they will be
                    enrolled automatically in the correct class.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container gl-instructor-home-intro">
    <div ui-view></div>
  </div>

</div>
