.gl-instructor-home-intro {
  padding-top: 60px;
  padding-bottom: 60px;
}

.gl-instructor-lower-panel {
  padding-top: 40px;
  padding-bottom: 40px;
}

.gl-navbar-alert {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -5px;
}

.gl-navbar-alert-inner {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: @yellow;
}
