<div>
  <div ng-show="isAuthenticated()">
    Hello 
    <span class="navbar-username" data-ng-bind="currentUser.firstName"></span>!
    &nbsp;
    <span class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle navbar-btn"
        data-toggle="dropdown">
        My Account <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="editProfile()">Edit My Profile</a></li>
        <li><a ng-click="logout()">Log Out</a></li>
      </ul>
    </span>
  </div>

  <div ng-hide="isAuthenticated()">
    <button type="button" class="btn btn-default navbar-btn btn-login"
      data-ng-click="showLogin()"
      data-ng-bind="'navbar.button.signin' | translate"></button>
  </div>
</div>
