<div>
  <div ng-show="isAuthenticated()">
    Welcome back, 
    <span class="navbar-username" data-ng-bind="currentUser.firstName"></span>!
    <button type="button" class="btn btn-default navbar-btn btn-logout"
      data-ng-click="logout()"
      data-ng-bind="'navbar.button.logout' | translate"></button>
  </div>

  <div ng-hide="isAuthenticated()">
    <button type="button" class="btn btn-default navbar-btn btn-login"
      data-ng-click="showLogin()"
      data-ng-bind="'navbar.button.signin' | translate"></button>
  </div>
</div>
