<div class="modal-header">
  <h3 class="modal-title">
    <i class="gl-sdk-header-logo gl-sdk-playfully-logo"></i>
  </h3>
</div>

<div ng-class="modal-body">
  <h3 class="modal-title gl-sdk-register-title">Hi <span class="gl-nobr" ng-bind="currentUser.username"></span>!
  You are joining:</h3>

  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <ul class="list-group gl-sdk-login-class-list-group">
          <li class="list-group-item" ng-repeat="course in courses">
            {{course.teacher.firstName}}<span ng-if="course.teacher.lastName"> {{course.teacher.lastName}}</span>'s class: {{course.title}} | Classcode: {{course.code}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <form class="login-form gl-sdk-login-success-buttons">
    <div class="text-center">
      <input type="submit" class="btn gl-btn--gray gl-btn--minwidth" value="Enter New Class Code"
             ng-click="state.go('sdkEnrollInCourse')">
      <span class="gl-sdk-login-button-gap"></span>
      <input type="submit" class="btn gl-btn--blue gl-btn--minwidth" value="Play Game"
             ng-click="closeWindow()">
    </div>
  </form>
</div>
