
<div class="modal-header">
  <h3 class="modal-title">
    <i class="gl-sdk-header-logo gl-sdk-glasslabgames-logo"></i>
  </h3>
</div>
<div class="modal-body" ng-hide="account">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <h3 class="modal-title gl-sdk-register-title">Create a GlassLab Games Account!</h3>


        <p class="text-center">
          Hello! Please enter your Class Code to join a class.
        </p>

        <alert ng-repeat="error in confirmation.errors" ng-show="confirmation.errors.length" type="danger"><strong>Error:</strong> {{ error }}</alert>

        <form name="regInit" novalidate class="reg-form gl-sdk-register-student"
          ng-class="{ 'sdk-inline': hideWrapper }"
          ng-submit="confirmCode(confirmation)">

          <div class="form-group" ng-class="{'has-error': regInit.code.$dirty && regInit.code.$invalid }">
            <input type="text" name="code" class="form-control"
              placeholder="Class Code"
              required
              autofocus="autofocus"
              ng-pattern="/^[a-zA-Z\d]+$/"
              ng-model="confirmation.code"
              ng-minlength="5"
              autocorrect="off">
              &nbsp;<span class="fa fa-question-circle"
                popover-placement="top"
                popover="If you don't have a Class Code, ask your teacher for one"></span>
              <div class="form-errors">
                <div class="form-error" ng-show="regInit.code.$dirty && regInit.code.$invalid">
                  Classcode must be at least 5 characters
                </div>
              </div>
          </div>

          <div class="text-center reg-submit" ng-class="{'reg-submit--nomargin': hideWrapper}">
            &nbsp;<input type="submit" class="btn gl-btn--blue"
            value="{{ regInit.isSubmitting ? 'Confirming...' : 'Submit'}}"
            ng-disabled="regInit.$invalid || regInit.isSubmitting">&nbsp;
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<div class="modal-body" ng-show="account">
  <h3 class="modal-title gl-sdk-register-title">Create a GlassLab Games Account!</h3>
  <form name="regForm" novalidate class="reg-form"
        ng-submit="registerV2(account)">

    <div class="container-fluid">
      <div class="col-md-6">
        <div class="row">

          <alert ng-repeat="error in account.errors" ng-show="account.errors.length" type="danger"><strong>Error:</strong> {{ error }}</alert>

          <div class="gl-input-row clearfix">
            <div class="gl-input-group">

              <div class="form-group" ng-class="{'has-error': regForm.username.$dirty && regForm.username.$invalid}">
                <input type="text" name="username" class="form-control"
                  placeholder="Choose a screen name"
                  required
                  autofocus="autofocus"
                  ng-model="account.username"
                  ng-minlength="2"
                  autocorrect="off"
                  tabindex="1">
                &nbsp;<span class="fa fa-question-circle"
                    popover-placement="bottom"
                    popover="How would you like your name to be displayed?"></span>
                  <div class="form-errors">
                    <div class="form-error" ng-show="regForm.username.$dirty && regForm.username.$invalid">
                      Name must be at least 2 characters
                    </div>
                  </div>
              </div>
            </div>

          </div>

          <div class="gl-input-row clearfix">
            <div class="gl-input-group">
              <div class="form-group" ng-class="{'has-error': regForm.password.$dirty && regForm.password.$error.minlength}">
                <input type="password" name="password" class="form-control" id="account-password" placeholder="Choose a password" required ng-model="account.password"
                ng-minlength="6"
                pw-confirm="account.confirm"
                tabindex="4">
                &nbsp;<span class="fa fa-question-circle"
                    popover-placement="top"
                    popover="At least 6 characters"></span>
                <div class="form-errors">
                  <div class="form-error" ng-show="regForm.password.$dirty && regForm.password.$error.minlength">
                    Your password must be at least 6 characters
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="row">

          <div class="gl-input-group">

            <div class="col-md-7">
              <div class="row">

                <div class="form-group" ng-class="{'has-error': regForm.firstName.$dirty && regForm.firstName.$invalid}">
                  <input type="text" name="firstName" class="form-control"
                         placeholder="Your first name"
                         required
                         ng-model="account.firstName"
                         ng-minlength="2"
                         tabindex="2">
                  <div class="form-errors">
                    <div class="form-error" ng-show="regForm.firstName.$dirty && regForm.firstName.$invalid">
                      At least 2 characters
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-4 gl-sdk-register-no-col-padding">
              <div class="row gl-sdk-register-pull-left">

                <div class="form-group" ng-class="{'has-error': regForm.lastName.$dirty && regForm.lastName.$invalid}">
                  <input type="text" name="lastName" class="form-control"
                         maxlength="1"
                         placeholder="Last initial"
                         required
                         ng-model="account.lastName"
                         ng-minlength="1"
                         ng-maxlength="1"
                         tabindex="3"/>
                  <span class="fa fa-question-circle gl-sdk-register-help"
                        popover-placement="bottom"
                        popover="First letter of your last name"></span>
                  <div class="form-errors">
                    <div class="form-error" ng-show="regForm.lastName.$dirty && regForm.lastName.$invalid">
                      Cannot be blank
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

          </div>
          <div class="row">
            <div class="gl-input-group">
              <div class="form-group" ng-class="{'has-error': regForm.confirm.$dirty && regForm.password.$invalid}">
                <input type="password"
                       name="confirm"
                       class="form-control"
                       id="account-confirm"
                       placeholder="Confirm password"
                       required
                       ng-model="account.confirm"
                       tabindex="5">
                <div class="form-errors">
                  <div class="form-error" ng-show="regForm.confirm.$dirty && regForm.password.$error.pwmatch">
                    Passwords do not match
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center reg-submit">
        <input type="submit" class="btn gl-btn--blue"
               value="{{ regForm.isSubmitting ? 'Sending...' : 'Submit'}}"
               ng-disabled="regForm.$invalid || regForm.isSubmitting">&nbsp;
      </div>

    </div>

  </form>
</div>

