<span ng-click='editContent()' ng-show='hideEdit' ng-transclude></span>

<div ng-if="glEditTextAreaSize==='large'" ng-hide='hideEdit'>
    <textarea class='gl-editable-textarea' ng-model='edit.content' cols="90" rows="8"> </textarea>
    <button class="btn gl-btn--blue" ng-click='saveContent()'>save</button>
    <button class="btn gl-btn--grey" ng-click='goBackContent()'>cancel</button>
</div>


<div ng-if="glEditTextAreaSize==='medium'" ng-hide='hideEdit'>
    <textarea class='gl-editable-textarea' ng-model='edit.content' cols="40" rows="15"> </textarea>
    <button class="btn gl-btn--blue" ng-click='saveContent()'>save</button>
    <button class="btn gl-btn--grey" ng-click='goBackContent()'>cancel</button>
</div>


<div ng-if="glEditTextAreaSize==='small'" ng-hide='hideEdit'>
    <textarea class='gl-editable-textarea' ng-model='edit.content' cols="35" rows="10"> </textarea>
    <button class="btn gl-btn--blue" ng-click='saveContent()'>save</button>
    <button class="btn gl-btn--grey" ng-click='goBackContent()'>cancel</button>
</div>