<div ng-class="{'sdk-container': hideWrapper}">
  <div class="modal-header">
    <h3 ng-if="currentUser && currentUser.role != 'student'" class="modal-title">Hi {{ currentUser.firstName }}{{ currentUser.lastName ? ' ' + currentUser.lastName : '' }}, welcome back!</h3>
    <h3 ng-if="currentUser && currentUser.role == 'student'" class="modal-title">Hi {{ currentUser.username }}, welcome back!</h3>
  </div>

  <div ng-class="modal-body">
    <alert ng-show="authError" type="danger"><strong>Error:</strong> <span ng-bind="authError"></span></alert>
    <form name="loginForm" novalidate class="login-form"
      ng-submit="login(credentials)">

      <div class="gl-input-group">
        <div class="form-group">
          <input type="password" class="form-control" id="credentials-password"
          placeholder="Enter your password to continue playing"
          required
          ng-model="credentials.password">
          <span class="small help-block">
            Not {{ currentUser.username }}?
            Close this dialog message to sign out.
          </span>
        </div>
      </div>

      <div class="text-center">
        <input type="submit" class="btn gl-btn--blue"
          value="{{ loginForm.isSubmitting ? 'Sending...' : 'Resume'}}"
          ng-disabled="loginForm.$invalid || loginForm.isSubmitting">
      </div>
    </form>
  </div>
</div>
