<p>
    <h2 ng-hide="loading">Query Data in Month</h2>
    <h2 ng-show="loading">Loading...</h2>
    <br>

    <div ng-hide="loading">
        <form ng-submit="submit()" name="parseData" class="parseData">
            Game ID: <select name="gameId" ng-model="gameId">
            <option ng-if="gameId=='SC'" value="SC">SimCityEDU</option>
            <option ng-if="gameId=='AA-1'" value="AA-1">Arugbot Academy</option>
            <option ng-if="gameId=='AW-1'" value="AW-1">Argument Wars</option>
            <option ng-if="gameId=='PVZ'" value="PVZ">Plants vs. Zombies EDU</option>
            <option ng-if="gameId=='GOG'" value="GOG">Game Over Gopher</option>
            <option ng-if="gameId=='WT'" value="WT">Wuzzit Trouble</option>
            <option ng-if="gameId=='SLFR'" value="SLFR">Slice Fractions</option>
            <option ng-if="gameId=='WPLUS'" value="WPLUS">Water Bear</option>
        </select><br>
            <br>
            Start Date:
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="startDateOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="fa fa-calendar"></i></button>
                  </span>
                    </p>
                </div>
            </div>
            <br>
            Start Hour:
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="number" class="form-control" name="input" ng-model="startHour" min="0">
                    </p>
                </div>
            </div>
            <br>
            End Date:
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="endDateOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="endDateOpen($event)"><i class="fa fa-calendar"></i></button>
                  </span>
                    </p>
                </div>
            </div>
            <br>
            End Hour:
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="number" class="form-control" name="input" ng-model="endHour" min="0">
                    </p>
                </div>
            </div>
            <br>
            <!--
            User ID(s): <input name="userIds" name="input" ng-model="userIds"><br>
            Example: "1", "2,3,4" or<br> leave blank for all users<br>
            -->
            Save To File: <input type="checkbox" ng-model="saveToFile" /><br>
            <div>
                <input type="submit" id="submit" value="Run!" />
                <div ng-show="download">
                    <a class="downloadCSVs" ng-click="nextLoad()">download files</a>
                </div>
            </div>
            <br>
            <br>
            Output (# Events {{numEvents}}):
            <textarea readonly rows="20" cols="100" name="csvData" ng-model="outData" ></textarea>
        </form>
    </div>
</p>
