<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Add a Class Code</h3>
</div>

<div class="modal-body" ng-hide="enrollment">
  <p class="text-center">
    Hi there! Type in the class code:
  </p>
  &nbsp;

  <alert ng-repeat="error in verification.errors" ng-show="verification.errors.length" type="danger"><strong>Error:</strong> {{ error }}</alert>

  <form name="verifyForm" novalidate class="reg-form"
    ng-submit="verify(verification)">

    <div class="form-group" ng-class="{'has-error': verifyForm.code.$dirty && verifyForm.code.$invalid}">
      <input type="text" name="code" class="form-control"
        placeholder="Classcode"
        required
        autocomplete="off"
        autosuggest="off"
        autofocus="autofocus"
        ng-model="verification.code"
        ng-minlength="5">
        &nbsp;<span class="fa fa-question-circle"
          popover-placement="top"
          popover="If you don't have a classcode, ask your teacher for one"></span>
        <div class="form-errors">
          <div class="form-error" ng-show="verifyForm.code.$dirty && verifyForm.code.$invalid">
            Classcode must be at least 5 characters
          </div>
        </div>
    </div>

    <div class="text-center reg-submit">
      <input type="submit" class="btn gl-btn--blue" value="Add Class"
      ng-disabled="enrollForm.$invalid">
    </div>
  </form>
</div>


<div class="modal-body" ng-show="enrollment">
  <alert ng-repeat="error in enrollment.errors" ng-show="enrollment.errors.length" type="danger"><strong>Error:</strong> {{ error }}</alert>

  <form name="enrollForm" novalidate class="reg-form"
    ng-submit="enroll(enrollment)">

    <div class="text-center gl-class-info">
      This is {{ enrollment.title }}<br>
      Classcode: {{ verification.code }}
    </div>
    

    <div class="text-center reg-submit">
      <button type="button" class="btn gl-btn--grey" ng-click="$dismiss()">Cancel</button>
      <input type="submit" class="btn gl-btn--blue" value="Join">
    </div>
  </form>
</div>
