<div class="container gl-home-student-intro">
  <div class="text-center">
    &nbsp;
    <h1 class="headline-1">Welcome back to your class!</h1>
    &nbsp;
  </div>

    <hr class="rule rule--green" />
    <div class="gl-courses-add gl-courses-add--green" ui-sref="modal.enrollInCourse">
      <div class="bu-add-circle bu-add-circle--green"></div>
      Add a Class Code
    </div>
    <hr class="rule rule--green" />


  <div ng-hide="courses.length" class="gl-courses--blank text-center">
    You do not have any classes yet
  </div>

  <div class="course" ng-repeat="course in courses"
     ng-class-odd="'gl-bg--gray'" ng-class-even="'gl-bg--ltgreen'">
    <div class="course-name course-col">
      <h4>{{ course.title }}</h4>
      <div>
        Teacher:
        {{ course.teacher.firstName }}
        {{ course.teacher.lastName }}
      </div>
    </div>
    <div class="course-games course-col">
      <div ng-show="course.games.length">
        <div class="gl-course-game text-center"
          ng-repeat="game in course.games"
          ng-show="gamesInfo[game.id].enabled">
          <div class="gl-course-game-thumb gl-thumb-{{ game.id }} gl-student-dash-btn-parent">
              <div ng-if="!game.assigned"
                   class="gl-course-disabled-premium-game-overlay">
              </div>
              <div ng-if="!game.assigned"
                   class="gl-course-disabled-premium-game">
              </div>
            <div ng-if="game.assigned" class="gl-student-dash-btn-wrapper"
                 ng-class="{'gl-student-dash-game-thumb-lighter': hasLinks(game.id)}">
                <div class="gl-margin-Vm" ng-repeat="(buttonKey, button) in gamesInfo[game.id].buttons">
                  <div ng-if="isMultiLinkType(button)"
                       class="gl-btn--outlined gl-student-dash-btn">
                      <div ng-repeat="link in button.links">
                          <button ng-if="currentOS===link.OS" type="button" class="btn gl-btn--blue gl-student-dash-btn"
                                  ng-click="goToLink(link.link,link.target)"
                                  ng-bind="button.name"></button>
                      </div>
                  </div>

                  <div ng-if="isSingleLinkType(button)"
                       ng-switch="button.type"
                       class="gl-btn--outlined gl-student-dash-btn">
                    <button ng-switch-when="play"
                        type="button"
                        class="btn gl-btn--green gl-student-dash-btn"
                        ng-click="goToPlayGame(game.id);
                                  ga('send', 'event', 'button', 'click', 'play', game.id);
                                  console.log('GA-click!! - play')"
                        ng-bind="button.name"></button>
                    <button ng-switch-when="download"
                        type="download"
                        class="btn gl-btn--green gl-student-dash-btn"
                        ng-click="goToLink(button.links[0].link);
                                  ga('send', 'event', 'button', 'click', 'download', game.id);
                                  console.log('GA-click!! - download')"
                        ng-bind="button.name"></button>
                  </div>

                </div>
            </div>

          </div>
          {{ gamesInfo[game.id].longName }} 
        </div>
      </div>
    </div>
  </div>
</div>
