.gl-btn--blue {
  background-color: @aquaBlue;
  color: white;
}

.gl-btn--blue:hover {
  color: white;
  background-color: darken(@aquaBlue, 15%);
}

.gl-btn--grey {
  background-color: @grey5;
  color: white;
}

.gl-btn--grey:hover {
  color: white;
  background-color: darken(@grey5, 15%);
}

.gl-btn--white {
  color: @aquaBlue;
  background-color: white;
}

