.btn,
.login-button {
  text-shadow: none;
}

.gl-btn--steelblue {
  background-color: steelblue;
  color: white;
}

.gl-btn--steelblue:hover {
  color: white;
  background-color: darken(steelblue, 15%);
}

.gl-btn--large {
  font-size: 18px;
  padding: 0.75em 2em;
}

.gl-btn--blue {
  background-color: @aquaBlue;
  color: white;
}

.gl-btn--blue:hover {
  color: white;
  background-color: darken(@aquaBlue, 15%);
}

.gl-btn--turblue {
  background-color: #61cbd9;
  color: white;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.gl-btn--turblue:hover {
  color: white;
  background-color: darken(#61cbd9, 15%);
}

.gl-btn--dkblue {
  background-color: @oceanBlue;
  color: white;
  &:hover {
    background-color: darken(@oceanBlue, 15%);
  }
}

.gl-btn--green {
  background-color: @grassGreen;
  color: white;
}

.gl-btn--green:hover {
  color: white;
  background-color: darken(@grassGreen, 15%);
}

.gl-btn--cyangreen {
  color: white;
  background-color: @darkCyan;
  &:hover {
    color: white;
    background-color: darken(@darkCyan, 5%);
  }
}

.gl-btn--grey {
  background-color: @grey5;
  color: white;
}

.gl-btn--grey:hover {
  color: white;
  background-color: darken(@grey5, 15%);
}

.gl-btn--ltgrey {
  background-color: @grey7;
  color: @grey4;
}

.gl-btn--black {
  color: white;
  background-color: @darkSlateGray;
  &:hover, &:focus {
    color: white;
  }
}

.gl-btn--silver {
  color: white;
  background-color: silver;
  &:hover {
    color: white;
  }
}

.gl-btn--white {
  color: @aquaBlue;
  background-color: white;
}

.bu-add-circle {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 5px;
}

.bu-add-circle--blue {
  .image-2x('add-blue.png', 32px, 32px);
}

.bu-add-circle--green {
  .image-2x('add-green.png', 32px, 32px);
}

.bu-add-circle--grey {
  .image-2x('add-grey.png', 32px, 32px);
}

.gl-btn--outlined {
  .border-radius(8px);
  background: transparent;
}

.gl-btn--outlined.gl-btn--blue {
  border: 2px solid @aquaBlue;
  color: @aquaBlue;
}

.gl-btn--outlined.gl-btn--blue:hover {
  background:@aquaBlueLightest;
}

.gl-btn--outlined.gl-btn--green {
  border: 2px solid @grassGreen;
  color: @grassGreen;
}

.gl-btn--outlined.gl-btn--green:hover {
  background:@grassGreenLightest;
}

.gl-btn-appstore {
  display: block;
  width: 140px;
  height: 48px;
  .image-2x('btn-appstore.png', 140px, 48px);
}

.gl-btn--minwidth {
  min-width: 136px;
}

.gl-btn-close {
  color: white;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  background-color: #999999;
  border-radius: 50%;
  opacity: 0.5;
  border: 0px;
}

.gl-btn-close:hover {
  opacity: 1;
}

.gl-btn-circle {
  border-radius: 50px;
  border: 0px;
  width: 40px;
  height: 40px;
  background-color: @lightBlue;
  color: white;
}

.gl-btn-round {
  width: 120px;
  height: 30px;
  margin: auto;
  border: 0px;
  color: white;
  background-color: white;
  border-radius: 30px;
}

.gl-sdk-back-btn {
  position: absolute;
  top: 25px;
  left: 30px;
}