.rule {
  border: 0;
  height: 5px;
}

.rule--1 {
  height: 1px;
}

.rule--blue {
  background-color: @skyBlue;
}

.rule--aqua {
  background-color: @aquaBlue;
}

.rule--green {
  background-color: @grassGreen;
}

.rule--grey {
  background-color: @grey6;
}

.rule--collapsed {
  margin-top: 0px;
  margin-bottom: 0px;
}

.col-border--right {
  padding-right: 0;
  border-right: 1px solid @grey6;
}

.col-border--left {
  border-left: 1px solid @grey6;
}

.gl-divider-line {
  width: 100%;
  border-top: 1px solid @grey5;
  margin-top: 20px;
  margin-bottom: -20px;
}

.gl-divider-circle {
  display: inline-block;
  border: 1px solid @grey5;
  .border-radius(60px);
  text-align: center;
  width: 40px;
  height: 40px;
  padding-top: 9px;
}

.gl-divider-circle--outer {
  position: relative;
  top: -21px;
  width: 60px;
  height: 60px;
  background: white;
  display: inline-block;
}
