.blinky-warning {
  width: 100px;
  height: 150px;
  .image-2x('blinky-warning.png', 100px, 150px);
}

.blinky-teacher {
  width: 310px;
  height: 360px;
  .image-2x('blinky-teacher.png', 310px, 360px);
}

.blinky-so {
  width: 260px;
  height: 380px;
  .image-2x('blinky-so.png', 260px, 380px);
}