.l-profile-image {
  display: inline-block;
}

.l-profile-info {
  display: inline-block;
  vertical-align: top;
}

.l-profile-content {
  display: block;
}

.l-collection {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  .l-collection-item {
    margin: 5px 10px 5px 10px;
  }
}