.modal-sm {
  width: 400px;
}

.modal-sm > .modal-content {
  padding-left: 24px;
  padding-right: 24px;
}

.modal-sm > .modal-content .close {
  margin-right: -24px;
}

.modal-lg {
  width: 550px;
}

.modal-title {
  text-align: center;
  font-family: @serifHeadlineFontFamily;
  font-size: 20px;
}
