@media print {
  @page {size: portrait}

  hr {
    display: none;
  }

  .container {
    margin: 0;
    min-width: 670px !important;
    max-width: 670px !important;
    width: 670px !important;
  }

  .gl-navbar--top {
    display: none;
  }

  .gl-drk12-helpicon {
    display: none;
  }

  .gl-reports-header {
    display: none;
  }

  .row {
    display: none;
  }

  .footer, .gl-footer {
    display: none;
  }
}

