.gl-margin-Vs { margin-top: @spacingSmall;  margin-bottom: @spacingSmall; }
.gl-margin-Vm { margin-top: @spacingMedium;  margin-bottom: @spacingMedium; }
.gl-margin-Vl { margin-top: @spacingLarge;  margin-bottom: @spacingLarge; }
.gl-margin-Vxl { margin-top: @spacingXLarge;  margin-bottom: @spacingXLarge; }

.gl-margin--Ts { margin-top: @spacingSmall; }
.gl-margin--Tm { margin-top: @spacingMedium; }
.gl-margin--Tl { margin-top: @spacingLarge; }
.gl-margin--Txl { margin-top: @spacingXLarge; }
.gl-margin--Txxl { margin-top: @spacingXXLarge; }
.gl-margin--Tn { margin-top: 0 !important; }

.gl-margin--Bs { margin-bottom: @spacingSmall; }
.gl-margin--Bm { margin-bottom: @spacingMedium; }
.gl-margin--Bl { margin-bottom: @spacingLarge; }
.gl-margin--Bxl { margin-bottom: @spacingXLarge; }
.gl-margin--Bxxl { margin-bottom: @spacingXXLarge; }
.gl-margin--Bn { margin-bottom: 0 !important; }
