.gl-margin--Ls {
  margin-left: @spacingSmall;
}

.gl-margin--Lm {
  margin-left: @spacingMedium;
}

.gl-margin--Ll {
  margin-left: @spacingLarge;
}

.gl-margin--Lxl {
  margin-left: @spacingXLarge;
}

.gl-margin--L40 {
  margin-left: 40px;
}

.gl-margin--Rs { margin-right: @spacingSmall; }
.gl-margin--Rm { margin-right: @spacingMedium; }
.gl-margin--Rl { margin-right: @spacingLarge; }
.gl-margin--Rxl { margin-right: @spacingXLarge; }
.gl-margin--R40 {  margin-right: 40px;  }

.gl-margin-Hxs { margin-right: @spacingXSmall; margin-left: @spacingXSmall; }
.gl-margin-Hs { margin-right: @spacingSmall; margin-left: @spacingSmall; }
.gl-margin-Hm { margin-right: @spacingMedium; margin-left: @spacingMedium; }
.gl-margin-Hl { margin-right: @spacingLarge; margin-left: @spacingLarge;  }
.gl-margin-Hxl { margin-right: @spacingXLarge; margin-left: @spacingXLarge; }
.gl-margin--H40 { margin-right: 40px; margin-left: 40px; }

.gl-margin-Vs { margin-top: @spacingSmall;  margin-bottom: @spacingSmall; }
.gl-margin-Vm { margin-top: @spacingMedium;  margin-bottom: @spacingMedium; }
.gl-margin-Vl { margin-top: @spacingLarge;  margin-bottom: @spacingLarge; }
.gl-margin-Vxl { margin-top: @spacingXLarge;  margin-bottom: @spacingXLarge; }
.gl-margin--V40 { margin-top: 40px; margin-bottom: 40px; }

.gl-margin--Ts { margin-top: @spacingSmall; }
.gl-margin--Tm { margin-top: @spacingMedium; }
.gl-margin--Tl { margin-top: @spacingLarge; }
.gl-margin--Txl { margin-top: @spacingXLarge; }
.gl-margin--Txxl { margin-top: @spacingXXLarge; }
.gl-margin--Tn { margin-top: 0 !important; }
.gl-margin--T30 { margin-top: 30px; }
.gl-margin--T40 { margin-top: 40px; }
.gl-margin--T50 { margin-top: 50px; }

.gl-margin--Bs { margin-bottom: @spacingSmall; }
.gl-margin--Bm { margin-bottom: @spacingMedium; }
.gl-margin--Bl { margin-bottom: @spacingLarge; }
.gl-margin--Bxl { margin-bottom: @spacingXLarge; }
.gl-margin--Bxxl { margin-bottom: @spacingXXLarge; }
.gl-margin--Bn { margin-bottom: 0 !important; }
.gl-margin--B40 { margin-bottom: 40px; }
.gl-margin--B50 {  margin-bottom: 50px; }

.gl-pad-Vxs { padding-top: @spacingXSmall; padding-bottom: @spacingXSmall; }
.gl-pad-Vs { padding-top: @spacingSmall;  padding-bottom: @spacingSmall; }
.gl-pad-Vm { padding-top: @spacingMedium;  padding-bottom: @spacingMedium; }
.gl-pad-Vl { padding-top: @spacingLarge;  padding-bottom: @spacingLarge; }
.gl-pad-Vxl { padding-top: @spacingXLarge;  padding-bottom: @spacingXLarge; }
.gl-pad-Vxxl { padding-top: @spacingXXLarge;  padding-bottom: @spacingXXLarge; }

.gl-pad-Hxs { padding-left: @spacingXSmall; padding-right: @spacingXSmall; }
.gl-pad-Hs { padding-left: @spacingSmall; padding-right: @spacingSmall; }
.gl-pad-Hm { padding-left: @spacingMedium; padding-right: @spacingMedium; }
.gl-pad-Hl { padding-left: @spacingLarge; padding-right: @spacingLarge; }
.gl-pad-Hxl { padding-left: @spacingXLarge; padding-right: @spacingXLarge; }
.gl-pad-Hxxl { padding-left: @spacingXXLarge; padding-right: @spacingXXLarge; }

.gl-pad--Txs { padding-top: @spacingXSmall; }
.gl-pad--Bl  { padding-bottom: @spacingLarge; }
.gl-pad--Bxl  { padding-bottom: @spacingXLarge; }
.gl-pad--Bxxl { padding-bottom: @spacingXXLarge; }
.gl-pad--B50 { padding-bottom: 50px; }

.gl-margin--Lxl { margin-left: @spacingXLarge; }
.gl-margin--Lxxl { margin-left: @spacingXXLarge; }
