
/* GlassLab text */

.gl-nobr {
  white-space: nowrap;
}

.headline-1 {
  font-family: @serifHeadlineFontFamily;
  font-size: 36px;
  color: @grey2;
}

.headline-1--bold {
  font-weight: bold;
}

.headline-2 {
  font-family: @serifHeadlineFontFamily;
  font-size: 28px;
  color: @grey2;
}

.headline-2--sans {
  font-family: @sansSerifHeadlineFontFamily;
  font-weight: bold;
  font-size: 28px;
  margin-top: 0;
  color: @grey2;
}

.headline-3 {
  font-family: @sansSerifHeadlineFontFamily;
  font-size: 25px;
  color: @grey2;
}


.headline-4 {
  font-family: @sansSerifHeadlineFontFamily;
  font-size: 20px;
  font-weight: bold;
  color: @grey2;
}

.headline-4--serif {
  font-family: @serifHeadlineFontFamily;
  font-size: 20px;
  color: @grey2;
}

.headline-5 {
  font-family: @sansSerifHeadlineFontFamily;
  font-size: 16px;
  font-weight: 400;
  color: @grey2;
}

.headline-5--serif {
  font-family: @serifHeadlineFontFamily;
  font-size: 18px;
  color: @grey2;
}

.gl-headline--underlined {
  padding-bottom: 10px;
  border-bottom: 1px solid @grey6;
}


.text-grey5 {
  color: @grey5;
}

.text-bold {
  font-weight: 600;
}

.gl-text--serif {
  font-family: @serifHeadlineFontFamily;
}

.gl-text--20 {
  font-size: 20px;
}

.gl-text--serif.gl-text--20 > p,
.gl-text--serif.gl-text--20 address {
  font-family: @sansFontFamily;
  font-size: 14px;
}
