/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;
@serifHeadlineFontFamily: 'Bitter', serif;
@sansSerifHeadlineFontFamily: Helvetica, Helvetica Neue, Arial, sans-serif;

@spacingSmall: 4px;
@spacingMedium: 8px;
@spacingLarge: 12px;


/* GlassLab colors */
@oceanBlue: #1c7ebf;
@aquaBlue: #67cada;
@aquaBlueLightest: #e3f4f8;
@skyBlue: #b2e4ed;
@grassGreen: #8cc34a;
@grassGreenLightest: #f9fcf6;
@yellow: #fdd367;
@pink: #ed1e79;
@pinkLight: #fde2df;

@edmodoBlue: #3b86d0;

@grey1: #333;
@grey2: #555;
@grey3: #777;
@grey4: #999;
@grey5: #ccc;
@grey6: #ddd;
@grey7: #f0f0f0;

