<div class="modal-header">
  <h3 class="modal-title">
    <i class="gl-sdk-header-logo gl-sdk-playfully-logo"></i>
  </h3>
</div>

<div class="modal-body" ng-hide="enrollment">
  <h3 class="modal-title">Add a Class Code</h3>

  <p class="text-center">
    Please enter a new class Code to join a new class
  </p>
  &nbsp;

  <alert ng-repeat="error in verification.errors" ng-show="verification.errors.length" type="danger"><strong>Error:</strong> {{ error }}</alert>

  <form name="verifyForm"
        novalidate
        class="reg-form"
        ng-submit="verify(verification)">

    <div class="container-fluid">
      <div class="col-md-6">
        <div class="row">

          <div class="form-group" ng-class="{'has-error': verifyForm.code.$dirty && verifyForm.code.$invalid}">
            <input type="text" name="code" class="form-control"
              placeholder="Class Code"
              required
              autocomplete="off"
              autosuggest="off"
              autofocus="autofocus"
              ng-model="verification.code"
              ng-minlength="5">
              &nbsp;<span class="fa fa-question-circle"
                popover-placement="top"
                popover="If you don't have a classcode, ask your teacher for one"></span>
              <div class="form-errors">
                <div class="form-error" ng-show="verifyForm.code.$dirty && verifyForm.code.$invalid">
                  Class code must be at least 5 characters
                </div>
              </div>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="row">

          <div class="text-center reg-submit">
            <input type="submit" class="btn gl-btn--blue" value="Submit"
                   ng-disabled="enrollForm.$invalid">
          </div>

        </div>
      </div>
    </div>

  </form>
</div>
