<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title" ng-if="updateType == 'archive'">Archive Class?</h3>
  <h3 class="modal-title" ng-if="updateType == 'unarchive'">Reactivate Class?</h3>
</div>

<div class="modal-body">
  <alert ng-show="error" type="danger"><strong>Error:</strong> {{ error }}</alert>

  <form name="archiveCourseForm" id="archiveCourseForm" novalidate
    class="gl-courses-form"
    ng-show="course"
    ng-submit="(updateType == 'archive') ? archiveCourse(course) : unarchiveCourse(course)">

    <p class="text-center" ng-bind="course.title">
    </p>

    <p class="text-center" ng-if="updateType == 'archive'">
        Students will no longer be able to log into this class and all reporting for this class will be frozen. You can reactivate at any time by navigating to the Archived Classes tab and clicking on the “Reactivate this Class” button on the left.
    </p>

    <p class="text-center" ng-if="updateType == 'unarchive'">
      This class will be reactivated. Students will regain access to the class
      and all data and reports will be unfrozen.
    </p>

      <div class="text-center gl-courses-submit">
        <button type="button" class="btn gl-btn--grey" ng-click="$dismiss()">Cancel</button>
        <input type="submit" class="btn gl-btn--blue" value="Yes">
      </div>
    </div>
  </form>
</div>


