<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Assign Games</h3>
</div>

<div class="modal-body">
  <alert ng-repeat="error in errors" type="danger"><strong>Error:</strong> {{ error }}</alert>
  <alert ng-show="error" type="danger"><strong>Error:</strong> {{ error }}</alert>

  <form name="courseForm" id="courseForm" novalidate
    class="gl-courses-form"
    ng-show="course"
    ng-submit="updateCourse(course)">

    <div ng-include src="'instructor/courses/_assign-games-form.html'"></div>

    <div class="text-center gl-courses-submit">
      <button type="button" class="btn gl-btn--grey" ng-click="$dismiss()">Cancel</button>
      <input type="submit" class="btn gl-btn--blue" value="Save" ng-disabled="course.games < 1">
    </div>
  </form>
</div>


