<div class="container gl-tabs gl-margin--T30">
    <ul class="gl-tab-container _nav _nav-tabs" role="tablist">
        <li class="gl-tab" ng-class="{'active': !showArchived}">
            <a href ui-sref="root.courses({courseStatus:''})">Active Classes</a>
        </li>
        <li class="gl-tab" ng-class="{'active': showArchived}">
            <a href ui-sref="root.courses.archived">Archived Classes</a>
        </li>
    </ul>
</div>

<!-- courses-list.html -->

<div class="gl-courses-container">
  <div class="container">
    <div ng-show="!showArchived">
      <hr class="rule rule--blue" />
      <div class="gl-courses-add gl-courses-add--blue" ui-sref="modal-lg.newCourse">
        <div class="bu-add-circle bu-add-circle--blue"></div>
        Create New Class
      </div>
      <hr class="rule rule--blue" />

      <div ng-hide="courses.length" class="gl-courses--blank text-center">
        Get started by clicking on the "Create New Class" button above!
      </div>

      <div ng-show="courses.length && activeCourses.length == 0" class="gl-courses--blank text-center">
        You currently have no active classes.<br/>Create a new class or unarchive an old class by heading over to the "Classes" tab above!
      </div>
    </div>

    <div class="gl-courses--blank text-center" ng-show="state.includes('root.courses.archived') && courses.length == 0">
        None of your classes have been archived
    </div>

    <div ng-show="courses.length">
      <div class="gl-course container-fluid" ng-repeat="(courseKey,course) in courses">
        <div class="row gl-course-info">
          <div class="col-md-3 gl-course-desc">
            <h3 class="gl-course-title" ng-bind="course.title"></h3>
            <!--div>Teacher: <span ng-bind="currentUser.firstName"></span></div-->
            <div>Grade:
              <span ng-repeat="grade in course.grade">
                {{ grade }}<span ng-show=" ! $last ">,</span>
              </span>
            </div>
            <div ng-if="!course.lockedRegistration">Class Code: <span ng-bind="course.code"></span></div>
            <div ng-if="course.lockedRegistration"><i class="fa fa-lock"></i> Registration Locked</div>
            <div ng-if="!course.archived && currentPlan.packageDetails">Available Seats: {{currentPlan.packageDetails.studentSeats - course.studentCount}}</div>
            <div ng-if="!course.archived && !currentPlan.packageDetails">{{ currentPlan.hadSubscribe ? "Subscription Expired" : "Trial Expired" }}</div>
            <img ng-if="!course.archived && currentPlan.packageDetails" ng-src="/assets/{{hasLicense('badge')}}-badge.png"></img>
            <div ng-if="!course.archived && !currentPlan.packageDetails" class="gl-margin--Ts">
              <button type="button" class="btn gl-btn--blue" ui-sref="root.subscribe.packages">
                Subscribe
              </button>
            </div>
            <div ng-if="course.archived">
              Archived On: <span ng-bind="course.archivedDate | date:longDate"></span>
            </div>
            <div class="gl-margin--Ts">
              <button type="button" class="btn gl-btn--blue"
                ng-if="course.archived"
                ui-sref="modal-lg.unarchiveCourse({id: course.id})">
                Reactivate This Class
              </button>
              <div ng-if="showCourseEdit(course)" class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="btn gl-btn--blue dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                  Edit <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a ui-sref="modal-lg.editCourse({id:course.id})">Edit Class Info</a></li>
                  <li ng-if="!course.lockedRegistration"><a ui-sref="modal-lg.lockCourse({id:course.id})">Lock Registration</a></li>
                  <li ng-if="course.lockedRegistration"><a ui-sref="modal-lg.unlockCourse({id:course.id})">Unlock Registration</a></li>
                  <li><a ui-sref="modal-lg.archiveCourse({id:course.id})">Archive Class</a></li>
                  <li><a ui-sref="modal-lg.assignGamesToCourse({id:course.id})">Assign More Games</a></li>
                  <li ng-if="hasLicense() && course.premiumGamesAssigned"><a ui-sref="modal-lg.enableAllPremiumGamesToCourse({id:course.id, premiumGamesAssigned: true})">Disable Premium Games</a></li>
                  <li ng-if="hasLicense() && !course.premiumGamesAssigned"><a ui-sref="modal-lg.enableAllPremiumGamesToCourse({id:course.id, premiumGamesAssigned: false})">Enable Premium Games</a></li>
                </ul>
              </div>
              <div class="gl-margin--Tm">
              <button type="button" class="btn gl-btn--blue"
                  ui-sref="root.reports.details.sowo({courseId:course.id, groupId:'so'})">
                  Report
              </button>
              </div>
            </div>
          </div>
          <div class="col-md-9 gl-course-games">
            <div>
              <div class="gl-course-game text-center" ng-repeat="game in course.games" ng-show="gamesInfo[game.id].enabled">
                <div>
                <div class="gl-course-game-thumb" ng-style="{'background-image': 'url('+gamesInfo[game.id].thumbnail.small+')'}">
                        <div ng-show="!game.assigned"
                             ng-if="!showArchived"
                             ng-init="game.hover=false"
                             ng-mouseover="game.hover=true"
                             ng-mouseleave="game.hover=false"
                             ng-class="game.hover ? 'gl-course-disabled-premium-game-overlay--flipped' : 'gl-course-disabled-premium-game-overlay' ">
                             <p ng-show="!gamesInfo[game.id].availableForLicense && game.hover">This game is not available in your current plan </p>
                             
                             <button ng-show="!gamesInfo[game.id].availableForLicense && game.hover" ui-sref="root.subscribe.packages"
                                     class="btn gl-btn--small gl-btn--steelblue text-center">Upgrade</button>
                             <button ng-show="!gamesInfo[game.id].availableForLicense && game.hover"
                                     ui-sref="modal-lg.removeInvalidGame({id:course.id,gameId: game.id})"
                                     class="btn gl-btn--small gl-btn--red text-center">Remove</button>
                            <p ng-show="gamesInfo[game.id].availableForLicense && game.hover">Premium Games have been disabled for this class </p>
                            <button ng-show="gamesInfo[game.id].availableForLicense && game.hover"
                                    ui-sref="modal-lg.enableAllPremiumGamesToCourse({id:course.id, premiumGamesAssigned: false})"
                                    class="btn gl-btn--green text-center">Enable</button>
                        </div>
                        <div ng-show="!game.assigned && !game.hover && !showArchived" class="gl-course-disabled-premium-game">
                        </div>

                      <div ng-show="gamesInfo[game.id].price == 'Premium' && !game.hover" class="gl-game-premium-ribbon">
                        <div class="gl-game-premium-ribbon-text">Premium</div>
                      </div>
                      <div ng-if="game.settings.hasOwnProperty('missionProgressLock')">
                        <div class="gl-course-game-lock" ng-if="game.settings.missionProgressLock"
                          ui-sref="unlockMissions({courseId: course.id, gameId: game.id})">

                        </div>
                        <div class="gl-course-game-lock gl-course-game-unlocked" ng-if="!game.settings.missionProgressLock"
                          ui-sref="lockMissions({courseId: course.id, gameId: game.id})">
                        </div>
                      </div>

                </div>
                {{ gamesInfo[game.id].longName }}
              </div>
              </div>
              <div ng-if="course.games.length < MAX_GAMES_COUNT && !showArchived" class="gl-course-game text-center text-grey5" ui-sref="modal-lg.assignGamesToCourse({id:course.id})">
                <div class="gl-course-game-thumb gl-thumb-game-add">
                  <div class="bu-add-circle bu-add-circle--grey"></div>
                </div>
                <span ng-if="course.games.length > 0">Assign More Games</span>
                <span ng-if="course.games.length == 0">Assign a Game</span>
              </div>
            </div>
          </div>
        </div>

      <div class="gl-course-students row" ng-class="{'gl-course-students--open': course.isOpen}">
          <div class="col-md-2">
            <span class="gl-students-heading" ng-show="course.isOpen">Last Initial</span>
          </div>
          <div class="col-md-3">
            <span class="gl-students-heading" ng-show="course.isOpen">First Name</span>
          </div>
          <div class="col-md-3">
            <span class="gl-students-heading" ng-show="course.isOpen">Screen Name</span>
          </div>
          <div class="col-md-4 text-right">
            <button class="btn btn-sm gl-btn--blue" ng-if="!showArchived" ng-hide="course.isOpen" ng-disabled="course.studentCount == 0"
              ui-sref="root.courses.showStudentList({id: course.id})">
              View Student List (<span ng-bind="course.studentCount"></span>)
            </button>
            <button class="btn btn-sm gl-btn--blue" ng-if="showArchived" ng-hide="course.isOpen" ng-disabled="course.studentCount == 0"
              ui-sref="root.courses.archived.showStudentList({id: course.id})">View Student List (<span ng-bind="course.studentCount"></span>)
            </button>
            <button class="btn btn-sm gl-btn--white" ng-show="course.isOpen" ng-click="collapseList()">
                Close Student List (<span ng-bind="course.studentCount"></span>)
            </button>
          </div>
          <div ui-view="studentList"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: courses-list.html -->

<div ui-view="courseModal"></div>
