.gl-courses-container {
  .drop-shadow (@x: 0, @y: -1px, @blur: 5px);
  min-height: 500px;
}

.gl-courses-add {
  font-weight: bold;
  font-size: 20px;
  border: 3px dashed @grey6;
  .border-radius(8px);
  padding: 20px 40px;
  margin-left:20px;
  margin-right: 20px;
}

.gl-courses-add:hover {
  background-color: @grey7;
  cursor: pointer;
}

.gl-courses-add--blue {
  color: @aquaBlue;
}

.gl-courses-add--green {
  color: @grassGreen;
}

.gl-courses--blank{
  font-size: 20px;
  padding: 40px;
  color: @grey2;
}

.gl-course {
  margin-top: 30px;
  margin-bottom: 30px;
}

.gl-course-info {
  background-color: @grey7;
  min-height: 180px;
  .border-radiuses (10px, 0, 0, 10px);
}

.gl-course-title {
  font-size: 20px;
  font-weight: bold;
  color: @grey2;
  margin: 0;
  margin-bottom: 10px;
}

.gl-course-desc {
  padding: 20px;
  padding-left: 30px;
}

.gl-course-games {
  border-left: 2px solid white;
  // padding: 20px;
  padding-top: 20px;
}

.gl-course-game {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  margin: 0px 8px 20px;
}

// .gl-course-game:first-child {
//   margin-left: 0;
// }

.gl-course-game-thumb {
  position: relative;
  width: 150px;
  height: 112px;
  background-size: 100%;
  background-repeat: none;
  margin-bottom: 8px;
}

.gl-thumb-game-add {
  border: 3px dashed @grey5;
  background: none;
  &:hover {
    background: @grey6;
    cursor: pointer;
  }

  .bu-add-circle {
    margin-top: 38px;
  }
}

.gl-course-students {
  padding: 0;
  padding-top:8px;
  background-color: #e3f4f8;
  border-top: 2px solid white;
  .border-radiuses (0, 10px, 10px, 0);

  > .col-md-4 {
    padding-bottom: 8px;
  }

  .panel {
    .border-radius (0px);
    border-color: @aquaBlueLightest;
  }

  .panel-heading {
    display: none;
  }

  .panel-group {
    margin-bottom: 0;
  }

  .panel-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .panel-default > .panel-heading + .panel-collapse .panel-body {
    border: none;
  }

}

@-moz-document url-prefix() {
  .gl-course-students .panel-group {
    border-top: 1px solid transparent;
  }
}

.gl-course-students--open {
  background-color: @aquaBlue;
  color: white;
  .border-radiuses (0px);
}

.gl-students-heading {
  display: inline-block;
  font-weight: bold;
  padding-top: 4px;
}


.gl-students-data {
  color: @grey1;
  padding: 10px 0;
}

.gl-students-data-odd {
  background-color: @grassGreenLightest;
}

.gl-students-data-even {
  background-color: @aquaBlueLightest;
}

.gl-students-username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.gl-course-students-header {
  padding: 10px 20px;
  background-color: @aquaBlue;
  color: white;
  border-top: 2px solid white;
}

.gl-course-students-table {
  width: 940px;
  margin-left: -15px;
  margin-right: -15px;
  > thead > tr > th {
    border-bottom: 1px solid white;
  }
  > tbody > tr:nth-child(odd) {
    > td {
      background-color: @grassGreenLightest;
      border-top: 1px solid white;
    }
  }
  > tbody > tr:nth-child(even) {
    > td {
      background-color: @aquaBlueLightest;
      border-top: 1px solid white;
    }
  }
}

.gl-course-students-link:link,
.gl-course-students-link:visited {
  color: @grey4;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.gl-course-students-link:hover {
  text-decoration: none;
  color: @grey3;
}







/* Create a Class */

.gl-courses-grade-selector {
  display: inline-block;
  margin-right: 12px;
  position: relative;
}

.gl-courses-grade-checkbox {
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: 0;
}

.gl-courses-grade-option {
  display: inline-block;
  width: 35px;
  height: 35px;
  padding-top: 4px;
  background: @grey5;
  .border-radius (18px);
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.gl-courses-grade-option:hover,
.gl-courses-grade-checkbox:hover {
  cursor: pointer;
}


input[type=checkbox]:checked + .gl-courses-grade-option {
   background: @oceanBlue;
}

.gl-courses-submit {
  margin-top: 40px;
  margin-bottom: 20px;
}

.gl-course-game-options {
  margin-top: 20px;
}

.gl-course-game-option {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 32%;
  margin-left: 2%;
  text-align: center;
}

.gl-course-game-option > label {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;;
}

.gl-course-game-option > label:hover {
   cursor: pointer;
}

.gl-course-game-option > label:hover .gl-course-game-thumbnail {
  opacity: 0.55;
}

.gl-course-game-option > input[type=checkbox] {
  position: absolute;
  top: 25%;
  left: 40%;
  opacity: 0;
}


.gl-course-game-option:first-child {
  margin-left: 0;
}

.gl-course-game-thumbnail {
  width: 140px;
  height: 105px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  background-size: 100%;
  background-repeat: none;
  opacity: 0.45;
  border: 3px solid white;
  .border-radius(2px);
  position: relative;
}

input[type=checkbox]:checked + label > .gl-course-game-thumbnail {
  opacity: 1.0;
  border-color: @aquaBlue;
}

.gl-course-game-indicator {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 6px;
  bottom: 6px;
  .image-2x('add-grey-square.png', 21px, 21px);
}

.gl-course-game-lock {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 30px;
  bottom: 6px;
  .image-2x('locked.png', 21px, 21px);
  // hide lock
  display: none;
}

.gl-course-game-thumb .gl-course-game-lock {
  right: 6px;
  // hide lock
  display: none;
}

form .gl-course-game-lock {
  // hide lock
  display: none;
}

.gl-course-game-unlocked {
  .image-2x('unlocked.png', 21px, 21px);
  // hide unlock
  display: none;
}

input[type=checkbox]:checked + label .gl-course-game-lock {
  //display: block;
  // hide lock
  display: none;
}

input[type=checkbox]:checked + label .gl-course-game-indicator {
  .image-2x('check-blue.png', 21px, 21px);
}

.gl-thumb-AA-1 {
  background-image: url(/assets/thumb-game-AA-1.png);
}

.gl-thumb-SC {
  background-image: url(/assets/thumb-game-SC.png);
}

.gl-thumb-AW-1 {
  background-image: url(/assets/thumb-game-AW-1.jpg);
}

.gl-course-create-confirm {
  width: 67%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: @grey7;  
  font-size: 16px;
  font-weight: 200;
}

.gl-course-create-code {
  font-size: 36px;
  font-weight: bold;
  color: @aquaBlue;
}

.gl-game-maintenance-ribbon {
  position: absolute;
  z-index: 10;
  width: 105px;
  height: 105px;
  top: -8px;
  left: -4px;
  .image-2x('game-ribbon-blue.png', 105px, 105px);
}

.gl-game-maintenance-ribbon-text {
  color: white;
  font-weight: bold;
  .rotate(-45deg);
  position: relative;
  top: 36px;
  left: -12px;
  text-align: center;
  width: 110px;
  text-transform: uppercase;
}

.gl-course-game-maintenance > label:hover {
  cursor: default;
}
