<div class="container gl-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li ui-sref-active="active">
      <a href ui-sref=".">Active Classes</a>
    </li>
    <li ui-sref-active="active">
      <a href ui-sref=".archived">Archived Classes</a>
    </li>
  </ul>
</div>

<div class="gl-courses-container">
  <div class="container">
    <hr class="rule--blue" />
    <div class="gl-courses-add gl-courses-add--blue" ui-sref="newCourse">
      <div class="bu-add-circle bu-add-circle--blue"></div>
      Create New Class
    </div>
    <hr class="rule--blue" />

    <div ng-hide="courses.length" class="gl-courses--blank text-center">
      You do not have any class yet
    </div>

    <div ng-show="courses.length">
      <div class="gl-course container-fluid"
        ng-repeat="course in courses | filter:{archived: showArchived}">
        <div class="row gl-course-info">
          <div class="col-md-3 gl-course-desc">
            <h3 class="gl-course-title" ng-bind="course.title"></h3>
            <div>Teacher: <span ng-bind="currentUser.firstName"></span></div>
            <div>Grade:
              <!-- <span ng-repeat="grade in course.grade" ng-bind="grade"></span> -->
              <span ng-bind="course.grade"></span>
            </div>
            <div>Code: <span ng-bind="course.code"></span></div>
            <div class="btn-group" dropdown is-open="status.isopen">
              <button type="button" class="btn gl-btn--blue dropdown-toggle" ng-disabled="disabled">
                Edit <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="editCourse({id:course.id})">Edit Class Info</a></li>
                <li><a ui-sref="lockCourse({id:course.id})">Lock Registration</a></li>
                <li><a ui-sref="archiveCourse({id:course.id})">Archive Class</a></li>
                <li><a ui-sref="assignGamesToCourse({id:course.id})">Assign More Games</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-9 gl-course-games">
            <div class="gl-course-game text-center"
              ng-repeat="game in course.games">
              <div class="gl-course-game-thumb gl-thumb-{{ game.id }}">
                <div class="gl-course-game-lock"
                  ng-class="{'gl-course-game-unlocked': !game.settings.missionProgressLock}"
                  ng-show="game.settings.hasOwnProperty('missionProgressLock')"></div>
              </div>
              {{ gamesInfo[game.id].longName }}
            </div>

          </div>
        </div>

        <div class="row text-right gl-course-students"
          ng-hide="course.studentListExpanded">
          <button class="btn btn-sm gl-btn--blue"
            ng-disabled="course.studentCount == 0"
            ng-click="course.studentListExpanded=true">
            View Student List (<span ng-bind="course.studentCount"></span>)
          </button>
        </div>

        <table class="table gl-course-students-table" ng-show="course.studentListExpanded">
          <thead>
            <tr class="gl-course-students-header">
              <th>Last Initial</th>
              <th>First Name</th>
              <th>Screen Name</th>
              <th class="text-right">
                <button class="btn btn-sm gl-btn--white"
                  ng-click="course.studentListExpanded=false">
                  Close Student List (<span ng-bind="course.studentCount"></span>)
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in course.users" ng-class="">
              <td ng-bind="user.lastName"></td>
              <td ng-bind="user.firstName"></td>
              <td ng-bind="user.username"></td>
              <td class="text-right text-grey5">
                <a class="gl-course-students-link"
                  ui-sref="unenrollStudent({id: course.id, studentId: user.id})"><i class="fa fa-times"></i> Remove</a> |
                <a class="gl-course-students-link"
                  ui-sref="editStudent({id: course.id, studentId: user.id})"><i class="fa fa-pencil"></i> Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
