<div class="modal-header" ng-hide="request.success">
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 ng-hide="request.errors.length" class="modal-title">Are you sure ?</h3>
    <h3 ng-show="request.errors.length" class="modal-title">Error</h3>
</div>

<div class="modal-body text-center" ng-hide="request.success || request.errors.length">
    <div class="gl-manager-remove-teacher-blinky blinky-warning"></div>
    <div ng-show="premiumGamesAssigned">
        <p class="gl-margin-Vl">You are disabling all premium games from this class</p>

        <p>{{expirationDate}}</p>
        <input ng-click="unassignAllPremiumGames(course)"
               ng-value="request.isSubmitting ? 'Disabling...' : 'Disable Premium Games'"
               class="btn btn-danger">
    </div>
    <div ng-if="!premiumGamesAssigned">
        <p class="gl-margin-Vl">You are enabling all premium games for this class:</p>

        <p>{{expirationDate}}</p>
        <input ng-click="assignAllPremiumGames(course)"
               ng-value="request.isSubmitting ? 'Enabling...' : 'Enable Premium Games'"
               class="btn btn-success">
    </div>
</div>

<div class="modal-header" ng-show="request.success">
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">Success!</h3>
</div>

<div class="modal-body text-center" ng-show="request.success">
    <alert ng-if="premiumGamesAssigned" class="gl-margin-Vl" type="success"><span class="fa fa-check-circle"></span>
        You disabled all premium games for this class.
    </alert>
    <alert ng-if="!premiumGamesAssigned" class="gl-margin-Vl" type="success"><span class="fa fa-check-circle"></span>
        You enabled all premium games for this class.
    </alert>
    <button ng-click="$close()" class="btn gl-btn--blue">Okay</button>
</div>

<div class="modal-body text-center" ng-show="request.errors.length">
    <p class="gl-margin-Vl">There was an error in processing your request:</p>
    <alert ng-repeat="error in request.errors" ng-show="request.errors.length" type="danger"><span
            class="fa fa-times-circle"></span> {{ error }}
    </alert>
    <p class="gl-margin-Vl">If you have any questions, please contact support@glasslabgames.org</p>
    <button ng-click="$close()" class="btn gl-btn--blue">Okay</button>
</div>
