<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title" ng-hide="formProgress.currentStep == 3">Create Class</h3>
  <h3 class="modal-title" ng-show="formProgress.currentStep == 3">Successfully Created</h3>
</div>

<div class="modal-body" ng-hide="formProgress.currentStep == 3">
  <alert ng-repeat="error in formProgress.errors" ng-show="formProgress.errors.length" type="danger"><strong>Error:</strong> {{ error }}</alert>

  <form name="courseForm" id="courseForm" novalidate class="gl-courses-form"
    ng-submit="createCourse(course)">



    <div ng-hide="formProgress.currentStep > 1">

      <div ng-include src="'instructor/courses/_course-info-form.html'"></div>

      <div class="text-center gl-courses-submit">
        <button type="button" class="btn gl-btn--grey"
          ng-click="$dismiss()">Cancel</button>
        <button type="button" class="btn gl-btn--blue"
          ng-disabled="courseForm.title.$invalid || !course.grade.length"
          ng-click="formProgress.goToNextStep()">Continue</button>
      </div>

    </div>

    <div ng-show="formProgress.currentStep == 2">

      <label>Select the game(s) you would like to assign to this class:</label>
      
      <div class="gl-course-game-options">
        <div class="gl-course-game-option" ng-repeat="game in games">
          <input type="checkbox"
            class="gl-courses-game-checkbox"
            id="game-{{ game.gameId }}"
            value="{{ game.gameId }}"
            checklist-model="course.games"
            checklist-value="game"
            ng-required="!course.games.length">
          <label for="game-{{ game.gameId }}" ng-click="logIt()">
            <div class="gl-course-game-thumbnail gl-thumb-{{ game.gameId }}">
              <div class="gl-course-game-lock"
                ng-class="{'gl-course-game-unlocked': !game.settings.missionProgressLock}"
                ng-click="toggleGameLock($event, game)"
                ng-show="game.settings.hasOwnProperty('missionProgressLock')"></div>
              <div class="gl-course-game-indicator"></div>
            </div>
            <span ng-bind="game.longName"></span>
          </label>
        </div>
      </div>


      <div class="text-center gl-courses-submit">
        <button type="button" class="btn gl-btn--grey" ng-click="$dismiss()">Cancel</button>
        <input type="submit" class="btn gl-btn--blue" value="Continue"
        ng-disabled="courseForm.$invalid">
      </div>
    </div>
  </form>
</div>



<div class="modal-body" ng-show="formProgress.currentStep == 3">

  <div class="gl-course-create-confirm text-center">
    <div>Class Code</div>
    <div class="gl-course-create-code" ng-bind="createdCourse.code">
    </div>
  </div>

  <p class="text-center">
    Placeholder explanatory text.
  </p>

  <div class="text-center gl-courses-submit">
    <button type="button" class="btn gl-btn--grey" ng-click="reset()">Add More</button>
    <button type="button" class="btn gl-btn--blue" ui-sref="courses" ng-click="$dismiss()">Done</button>
  </div>
</div>
