<div class="modal-header" ng-if="!request.success && !request.errors.length">
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 ng-hide="request.errors.length" class="modal-title">Are you sure?</h3>
</div>


<div class="modal-body text-center" ng-if="!request.success && !request.errors.length">
    <p ng-if="!isPaymentCreditCard && purchaseInfo.payment > 0" class="gl-margin-Vl">You are requesting a subscription that costs
        ${{(purchaseInfo.payment).toFixed(2)}}</p>

    <p ng-if="isPaymentCreditCard && purchaseInfo.payment > 0" class="gl-margin-Vl">This update will charge your credit card
        ${{(purchaseInfo.payment).toFixed(2)}}</p>

    <p ng-if="isPaymentCreditCard && purchaseInfo.payment===0" class="gl-margin-Vl">This update will charge your credit card
        ${{(purchaseInfo.payment).toFixed(2)}}</p>

    <p ng-if="isPaymentCreditCard && purchaseInfo.payment < 0" class="gl-margin-Vl">This update will add ${{(purchaseInfo.payment*-1).toFixed(2)}} credit to
        your account</p>
    <input ng-click="submitPayment()"
           ng-value="request.isSubmitting ? 'Submitting...' : 'Submit'"
           class="btn btn-success">
</div>

<div class="modal-header" ng-show="request.success && !request.errors.length">
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">Success</h3>
</div>

<div class="modal-body text-center" ng-show="request.success && !request.errors.length">
    <alert class="gl-margin-Vl" type="success"><span class="fa fa-check-circle"></span> You have successfully completed
        your purchase
    </alert>
    <button ng-if="!isPaymentCreditCard" ui-sref="root.manager.purchase-order-status" class="btn gl-btn--blue">Okay</button>
    <button ng-if="isPaymentCreditCard" ui-sref="root.manager.plan" class="btn gl-btn--blue">Okay</button>
</div>

<div class="modal-header" ng-show="request.errors.length">
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">Uh oh!</h3>
</div>

<div class="modal-body text-center" ng-show="request.errors.length">
    <p class="gl-margin-Vl">There was an error in processing your request:</p>
    <alert ng-repeat="error in request.errors" ng-show="request.errors.length" type="danger"><span
            class="fa fa-times-circle"></span> {{ error }}
    </alert>
    <p class="gl-margin-Vl">If you have any questions, please contact support@glasslabgames.org</p>
    <button ng-click="$close()" class="btn gl-btn--blue">Okay</button>
</div>

