    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gl-manager-side-panel gl-margin--B50">
                    <div class="gl-manager-side-panel-label text-center">
                        Current Plan
                    </div>
                    <div class="gl-manager-side-panel-section">
                        <h4 class="headline-3--serif">{{package.name}} Package</h4>
                        <p>{{package.description}}</p>
                    </div>
                    <div class="gl-manager-side-panel-section">
                        <h4 class="headline-4">Package Size</h4>

                        <p>{{package.size}} Size:</p>
                        <p>{{package.studentSeats}} students + {{package.educatorSeats}} educator</p>
                    </div>
                    <div class="gl-manager-side-panel-section ">
                        <h4 class="headline-4">Remaining Seats</h4>
                        <div class="gl-manager-remaining-seats text-center">
                            <span>{{plan.studentSeatsRemaining}}</span>
                        </div>
                    </div>
                    <div class="gl-manager-side-panel-section">
                        <h4 class="headline-4">Expiration Date</h4>
                        <p>{{plan.expirationDate}}</p>
                        <button type="button" class="btn gl-manager-renew-btn gl-margin--Tl">Renew
                        </button>
                    </div>
                    <div class="gl-manager-side-panel-section">
                        Need more seats?
                        <button type="button" class="btn gl-btn--black gl-margin--Tl">Upgrade Package</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="gl-manager-share-subscription">
                    <div class="gl-manager-share-subscription-label">Share Subscription</div>
                    <h5 class="headline-5">Educators in your subscription</h5>
                    <table class="table gl-manager-educator-list-table gl-margin--B50">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Educator Name</td>
                            <td>Email</td>
                            <td>  </td>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="educator in plan.educatorList">
                                <td>{{$index+1}}</td>
                                <td>{{educator.firstName}} {{educator.lastName}}</td>
                                <td>{{educator.email}}</td>
                                <td><i ui-sref="modal.remove-educator({email:educator.email})" class="fa fa-trash-o gl-manager-trash-educator"></i></td>
                            </tr>
                        </tbody>
                        </table>
                    <h5 class="headline-5">Invite Other Educators by Email</h5>
                    <textarea cols="70" rows="5"
                              placeholder="Separate addresses by comma: charles@glasslabgames.org, tina@glasslabgames.org" ng-model="invitedEducators"></textarea>
                    <button ng-click="inviteEducators(invitedEducators)" class="btn gl-btn--black">Send</button>

                    <p>You are not able to invite any educators to your subscription plan.</p>
                    <div ng-show="invalid">
                        The following email addresses you entered are invalid. Please fix them and then submit again:
                        <ul>
                            <li ng-repeat="email in invalid">{{email}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
