    <div class="container">
        <div class="row">
            <form novalidate name="upgradeForm" class="reg-form">
                <div class="form-group" ng-class="{'has-error': info.$dirty && info.$invalid}">
                <div class="col-md-4">
                    <div class="gl-manager-side-panel gl-margin--B50">
                        <div class="gl-manager-side-panel-label text-center">
                            Upgrade Plan
                        </div>
                        <div class="gl-manager-side-panel-section">
                            <h4 class="headline-4">Packages:</h4>
                            <div class="gl-upgrade-form">
                                <div class="radio" ng-repeat="package in choices.packages">
                                    <label>
                                        <input type="radio" ng-model="status.packageName" ng-value="package">
                                        {{package}}
                                            <span class="gl-manager-current-text" ng-if="package===originalPackage.name && !isTrial()">(current)</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="gl-manager-side-panel-section gl-manager-side-panel-section-size">
                            <h4 class="headline-4">Package Sizes:</h4>
                            <div class="gl-upgrade-form">
                                <div class="radio" ng-repeat="seat in choices.seats">
                                    <label ng-class="{'gl-manager-selection-disabled' : seat.studentSeats < originalPackage.studentSeats && !isTrial()} ">
                                        <input type="radio" ng-model="status.studentSeats" ng-value="seat.studentSeats" ng-disabled="seat.studentSeats < originalPackage.studentSeats && !isTrial()">
                                        {{seat.studentSeats}} students + {{seat.educatorSeats}} educators <span
                                            class="gl-manager-current-text" ng-if="originalPackage.studentSeats===seat.studentSeats && !isTrial()">(current)</span>
                                    </label>
                                </div>
                            </div>


                        </div>
                        <div class="gl-manager-side-panel-section">
                                <h4 class="gl-manager-current-text headline-5 gl-inline float--l">Current:</h4>
                                <h4 class="gl-manager-current-text headline-5 gl-inline float--r" ng-if="!isTrial()">
                                    ${{calculateTotal(originalPackage.name, originalPackage.studentSeats)}} / year
                                </h4>
                                <h4 class="gl-manager-current-text headline-5 gl-inline float--r" ng-if="isTrial()">Trial</h4>
                            <hr class="gl-manager-total-division">
                            <h4 class="headline-4 gl-inline float--l">Total:</h4>
                            <h4 class="headline-4 gl-inline float--r">
                            <span ng-if="!isTrial()">*</span>${{calculateTotal(status.packageName, status.studentSeats)}} / year</h4>
                            <sub class="gl-manager-prorate-text" ng-if="!isTrial()"> *we prorate</sub>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="gl-upgrade-payment  gl-margin--B50 form-inline">
                        <div class="gl-payment-selection l-collection gl-margin--Bl">
                            <h5 ng-click="status.isPaymentCreditCard=false"
                                ng-class="{'text-bold': !status.isPaymentCreditCard }"
                                class="headline-5 gl-inline-block gl-margin--R40 gl-clickable">Purchase Order</h5>
                            <h5 ng-click="status.isPaymentCreditCard=true"
                                ng-class="{'text-bold': status.isPaymentCreditCard}"
                                class="headline-5 gl-inline-block gl-margin--Bl gl-clickable">Credit Card</h5>
                        </div>
                        <div class="gl-upgrade-label-payment">Payment</div>
                        <div ng-show="!status.isPaymentCreditCard">
                            <p>Please share with us the primary contact for this order. It may be different form the
                                person placing this order. We need this information so we know who to contact regarding
                                this order. </p>

                            <div class="form-group">
                                <input size="30" class="form-control gl-margin-Vl" ng-model="info.PO.name"
                                       required
                                       placeholder="Primary Contact Name">
                            </div>
                            <div class="form-group">
                                <input size="30" class="form-control gl-margin-Vl" ng-model="info.PO.phone"
                                       required
                                       placeholder="Phone Number">
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error': upgradeForm.expMonth.$dirty && upgradeForm.expMonth.$invalid}">
                                <input name="email"
                                       ng-pattern="emailValidationPattern"
                                       size="30" class="form-control gl-margin-Vl"
                                       ng-model="info.PO.email"
                                       required
                                       placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input size="30" class="form-control gl-margin-Vl"
                                       ng-model="info.PO.number"
                                       required
                                       placeholder="Purchase Order #">
                            </div>

                        </div>
                        <div ng-show="status.isPaymentCreditCard">
                            <div ng-if="!isTrial()" class="radio gl-block">
                                <label>
                                    <input type="radio" ng-model="status.currentCard" ng-value="'current'">
                                    Use current card ({{billingInfo.brand}} card ending in {{billingInfo.last4}})
                                </label>
                            </div>
                            <div ng-if="!isTrial()" class="radio gl-block">
                                <label>
                                    <input type="radio" ng-model="status.currentCard" ng-value="'change'">
                                    Change card (existing card will be removed)
                                </label>
                            </div>
                            <div ng-show="status.currentCard==='change'" class="gl-margin--T40">
                                <div class="form-group">
                                    <input required class="form-control" size="45" ng-model="info.CC.name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-options="type for type in choices.cardTypes"
                                            ng-model="info.CC.cardType">
                                    </select>
                                </div>
                                <input required class="form-control gl-margin-Vl" ng-model="info.CC.number"
                                       placeholder="Credit Card Number">
                                <label>Expiration Date: </label>
                                <div class="form-group"
                                     ng-class="{'has-error': upgradeForm.expMonth.$dirty && upgradeForm.expMonth.$invalid}">
                                    <input name="expMonth" ng-minlength="4" class="form-control" size="4" ng-model="info.CC.exp_month" required placeholder="MM">
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-error': upgradeForm.expYear.$dirty && upgradeForm.expYear.$invalid}">
                                    <input ng-minlength="4" name="expYear" class="form-control" size="5" ng-model="info.CC.exp_year" required placeholder="YYYY">
                                </div>
                                <label>Security Code: </label>

                                <div class="form-group"
                                     ng-class="{'has-error': upgradeForm.cvc.$dirty && upgradeForm.cvc.$invalid}">
                                    <input name="cvc" ng-minlength="3" class="form-control" size="5" ng-model="info.CC.cvc" required placeholder="CVC">
                                </div>
                                <ul class="list--nobullets">
                                    <li>
                                        <label class="gl-block gl-margin--Tl">Billing Address:</label>
                                    </li>
                                    <li>
                                        <div class="form-group gl-margin--Tl">
                                            <input required class="form-control" size="60"
                                                   ng-model="info.CC.address_line1"
                                                   placeholder="Address Line 1">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group gl-margin--Tl">
                                            <input class="form-control" size="60" ng-model="info.CC.address_line2"
                                                   placeholder="Address Line 2">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group gl-margin--Tl">
                                            <input required class="form-control" size="60"
                                                   ng-model="info.CC.address_city"
                                                   placeholder="City">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group gl-margin--Tl">
                                            <input required class="form-control" size="60"
                                                   ng-model="info.CC.address_state"
                                                   placeholder="State">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group gl-margin--Tl">
                                            <input required class="form-control" size="60"
                                                   ng-model="info.CC.address_zip"
                                                   placeholder="Zip">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group gl-margin--Tl">
                                            <input required class="form-control" size="60"
                                                   ng-model="info.CC.address_country"
                                                   placeholder="Country">
                                        </div>
                                    </li>
                                </ul>
                                <alert class="gl-margin--Tl" ng-repeat="error in request.errors"
                                       ng-show="request.errors.length" type="danger"><span
                                        class="fa fa-times-circle"></span>  {{
                                    error }}
                                </alert>
                            </div>
                        </div>
                    </div>


                            <div class="reg-submit text-center gl-margin--Tl">
                                <button type="button" ui-sref="root.manager.plan"
                                        class="btn gl-btn--grey gl-margin--Rl">Cancel
                                </button>
                                <input ng-click="submitPayment(status.studentSeats,status.packageName,info)" class="btn gl-btn--black"
                                       value="{{ request.isSubmitting ? 'Requesting Upgrade...' : 'Submit'}}"
                                       ng-disabled="!isTrial() && status.currentCard !== 'current' && (upgradeForm.$pristine || request.$invalid || request.isSubmitting ||
                                       (originalPackage.name === status.packageName && originalPackage.studentSeats === status.studentSeats))">
                            </div>
                </div>
                </div>
            </form>
        </div>
    </div>
