    <div class="container">
        <div class="row">
            <form novalidate class="reg-form">
                <div class="form-group" ng-class="{'has-error': info.$dirty && info.$invalid}">
                <div class="col-md-4">
                    <div class="gl-manager-side-panel gl-margin--B50">
                        <div class="gl-manager-side-panel-label text-center">
                            Upgrade Plan
                        </div>
                        <div class="gl-manager-side-panel-section">
                            <h4 class="headline-4">Packages:</h4>
                            <form class="gl-upgrade-form">
                                <div class="radio" ng-repeat="package in packages.choices">
                                    <label>
                                        <input type="radio" ng-model="packages.selectedName" ng-value="package">
                                        {{package}}
                                            <span class="gl-manager-current-text" ng-if="package===currentPackage.name">(current)</span>
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="gl-manager-side-panel-section gl-manager-side-panel-section-size">
                            <h4 class="headline-4">Package Sizes:</h4>
                            <form class="gl-upgrade-form">
                                <div class="radio" ng-repeat="seat in seats.choices">
                                    <label ng-class="{'gl-manager-selection-disabled' : seat.studentSeats < currentPackage.studentSeats} ">
                                        <input type="radio" ng-model="seats.selectedNumber" ng-value="seat.studentSeats" ng-disabled="seat.studentSeats < currentPackage.studentSeats">
                                        {{seat.studentSeats}} students + {{seat.educatorSeats}} educators <span
                                            class="gl-manager-current-text" ng-if="currentPackage.studentSeats===seat.studentSeats">(current)</span>
                                    </label>
                                </div>
                            </form>


                        </div>
                        <div class="gl-manager-side-panel-section">
                                <h4 class="gl-manager-current-text headline-5 gl-inline float--l">Current:</h4>
                                <h4 class="gl-manager-current-text headline-5 gl-inline float--r">${{calculateTotal(currentPackage.name, currentPackage.studentSeats)}} / year</h4>
                            <hr class="gl-manager-total-division">
                            <h4 class="headline-4 gl-inline float--l">Total:</h4>  <h4
                                class="headline-4 gl-inline float--r">
                            *${{calculateTotal(packages.selectedName, seats.selectedNumber)}} / year</h4>
                            <sub class="gl-manager-prorate-text"> *we prorate</sub>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="gl-upgrade-payment  gl-margin--B50 form-inline">
                        <div class="gl-payment-selection l-collection gl-margin--Bl">
                            <h5 ng-click="isPaymentCreditCard=false"
                                ng-class="{'text-bold': !isPaymentCreditCard }"
                                class="headline-5 gl-inline-block gl-margin--R40 gl-clickable">Purchase Order</h5>
                            <h5 ng-click="isPaymentCreditCard=true"
                                ng-class="{'text-bold': isPaymentCreditCard}"
                                class="headline-5 gl-inline-block gl-margin--Bl gl-clickable">Credit Card</h5>
                        </div>
                        <div class="gl-upgrade-label-payment">Payment</div>
                        <div ng-show="!isPaymentCreditCard">
                            <p>Please share with us the primary contact for this order. It may be different form the
                                person placing this order. We need this information so we know who to contact regarding
                                this order. </p>

                            <div class="form-group">
                                <input size="30" class="form-control gl-margin-Vl" ng-model="info.PO.name"
                                       placeholder="Primary Contact Name">
                            </div>
                            <div class="form-group">
                                <input size="30" class="form-control gl-margin-Vl" ng-model="info.PO.phone"
                                       placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <input size="30" class="form-control gl-margin-Vl"
                                       ng-model="info.PO.email"
                                       placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input size="30" class="form-control gl-margin-Vl"
                                       ng-model="info.PO.number"
                                       placeholder="Purchase Order #">
                            </div>

                        </div>
                        <div ng-show="isPaymentCreditCard">
                            <div class="radio gl-block">
                                <label>
                                    <input type="radio" ng-model="status.currentCard" ng-value="'current'">
                                    Use current card
                                </label>
                            </div>
                            <div class="radio gl-block">
                                <label>
                                    <input type="radio" ng-model="status.currentCard" ng-value="'add'">
                                    Add new card
                                </label>
                            </div>
                            <div ng-show="status.currentCard==='add'" class="gl-margin--T40">
                                <div class="form-group">
                                    <input class="form-control" size="45" ng-model="info.CC.name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <select class="form-control"
                                            ng-options="type for type in cardTypes"
                                            ng-model="info.CC.cardType">
                                    </select>
                                </div>
                                <input class="form-control gl-margin-Vl" ng-model="info.CC.number"
                                       placeholder="Credit Card Number">
                                <label>Expiration Date: </label>

                                <div class="form-group">
                                    <input class="form-control" size="4" ng-model="info.CC.exp_month" placeholder="MM">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" size="5" ng-model="info.CC.exp_year" placeholder="YYYY">
                                </div>
                                <label>Security Code: </label>

                                <div class="form-group">
                                    <input class="form-control" size="5" ng-model="info.CC.cvc" placeholder="CVC">
                                </div>
                                <div class="form-errors">
                                    <div class="form-error"
                                         ng-show="info.$dirty && (info.$invalid || request.errors.length > 0)">
                                    </div>
                                </div>
                                <alert class="gl-margin--Tl" ng-repeat="error in request.errors"
                                       ng-show="request.errors.length" type="danger">{{
                                    error }}
                                </alert>
                            </div>
                        </div>
                    </div>


                            <div class="reg-submit text-center gl-margin--Tl">
                                <button type="button" ui-sref="root.manager.plan"
                                        class="btn gl-btn--grey gl-margin--Rl">Cancel
                                </button>
                                <input ng-click="submitPayment(seats.selectedNumber,packages.selectedName,info)" class="btn gl-btn--black"
                                       value="{{ request.isSubmitting ? 'Requesting Upgrade...' : 'Submit'}}"
                                       ng-disabled="request.$pristine || request.$invalid || request.isSubmitting">
                            </div>
                </div>
                </div>
            </form>
        </div>
    </div>
