<div class="modal-header how-we-prorate-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>

<div class="modal-body">
    <div class="gl-prorate-container">
        <div class="gl-prorate-container-left">
            <div class="blinky-support gl-inline-block"></div>
        </div>
        <div class="prorating-information-box">
            <h3 class="headline-4--serif">How we prorate:</h3>
            <p>You are about to change your existing plan during your current annual billing cycle.</p>
            <p>GlassLab will prorate your plan based on the cost of your new subscription and the length of time remaining in your billing cycle.</p>
            <p>If you are switching to a more expensive subscription type, you will be charged a prorated amount for the remainder of the year based on the new subscription cost.</p>
            <p>If you are switching to a less expensive subscription type, your account will be issued a credit that can be redeemed when you renew your plan at the beginning of the next billing cycle.</p>
            <p>If you have any questions, please email us at <a href="mailto:support@glasslabgames.org">support@glasslabgames.org</a>.</p>
        </div>
    </div>
    <div class="text-center">
        <button ng-click="$close()" class="btn gl-btn--blue">Okay</button>
    </div>
</div>

