<div class="modal-header" ng-hide="request.success">
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 ng-hide="request.errors.length" class="modal-title">Let's Play!</h3>
    <h3 ng-show="request.errors.length" class="modal-title">Uh Oh!</h3>
</div>

<div class="modal-body text-center" ng-hide="request.success || request.errors.length">
    <div class="gl-logo-trial-icon"></div>
    <p class="gl-margin-Vl">The premium trial grants you 60 days to try out the full features of GlassLab Games!</p>
    <div class="gl-input-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="" ng-model="acceptedTerms"
                       ng-checked="acceptedTerms">
              <span class="small">
                I have read and accepted the <a target="_blank" ui-sref="root.terms-of-service" href="#">Terms of Service</a> and <a
                      target="_blank" ui-sref="root.eula" href="#">EULA</a>
              </span>
            </label>
        </div>
    </div>
    <input ng-click="startTrial()" ng-disabled="!acceptedTerms" ng-value="request.isSubmitting ? 'Requesting Trial...' : 'Get Started'"class="btn gl-btn--blue"></button>
</div>


<div class="modal-header" ng-show="request.success && !request.errors.length">
    <button type="button" class="close" data-dismiss="modal" ng-click="goToLink('root.manager.plan')"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">Thank you</h3>
</div>

<div class="modal-body text-center" ng-show="request.success && !request.errors.length">
    <div class="gl-logo-trial-icon"></div>
    <alert class="gl-margin-Vl" type="success"><span class="fa fa-check-circle"></span> Your premium trial starts now! You have 60 days remaining to try out the full features of GlassLab Games!
    </alert>
    <button ng-click="goToState('root.manager.plan')" class="btn gl-btn--blue">Okay</button>
</div>

<div class="modal-body text-center" ng-show="request.errors.length">
    <p class="gl-margin-Vl">There was an error in processing your request:</p>
    <alert ng-repeat="error in request.errors" ng-show="request.errors.length" type="danger"><span
            class="fa fa-times-circle"></span>  {{ error }}
    </alert>
    <p class="gl-margin-Vl">If you have any questions, please contact <a href="mailto:support@glasslabgames.org">support@glasslabgames.org</a></p>
    <button ng-click="$close()" class="btn gl-btn--blue">Okay</button>
</div>