<p>
    <h2 ng-hide="loading">Query Data in Month</h2>
    <h2 ng-show="loading">Loading...</h2>
    <br>

    <div ng-hide="loading">
        <form ng-submit="submit()" name="parseData" class="parseData">
            Game ID: <select name="gameId" ng-model="gameId" ng-options="game for game in gameIds">
        </select><br>
            <br>
            Start Date:
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="startDateOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="fa fa-calendar"></i></button>
                  </span>
                    </p>
                </div>
            </div>
            <br>
            Start Hour:
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="number" class="form-control" name="input" ng-model="startHour" min="0">
                    </p>
                </div>
            </div>
            <br>
            End Date:
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="endDateOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="endDateOpen($event)"><i class="fa fa-calendar"></i></button>
                  </span>
                    </p>
                </div>
            </div>
            <br>
            End Hour:
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="number" class="form-control" name="input" ng-model="endHour" min="0">
                    </p>
                </div>
            </div>
            <br>
            <!--
            User ID(s): <input name="userIds" name="input" ng-model="userIds"><br>
            Example: "1", "2,3,4" or<br> leave blank for all users<br>
            -->
            Save To File: <input type="checkbox" ng-model="saveToFile" /><br>
            <div>
                <input type="submit" id="submit" value="Run!" />
            </div>
            <br>
            <br>
            <div ng-show="download">
                <p>Too many events for this query.</p>
                Output (# CSV Files {{numCSVs}}):
                <ul>
                    <li ng-repeat="file in files"><a href="{{file.url}}">{{file.name}}</a><iframe ng-src="{{file.url}}" frameborder="0" width="0" height="0"> </iframe></li>
                </ul>
            </div>
            <div ng-show="!download">
                Output (# Events {{numEvents}}):
                <textarea readonly rows="20" cols="100" name="csvData" ng-model="outData" ></textarea>
            </div>
        </form>
    </div>
</p>
