<h2 class="text-muted">Process Purchase Orders</h2>
<p>
	Use this page to process Purchase Orders that are pending, received, or invoiced.  You can reject the purchase order or advance it to the next step (pending to received, received to invoiced, invoiced to approved).
	While an invoice is pending, the educator who created the invoice can cancel it.  Once an invoice is marked as received, the instructor can start using the license.
</p>
</br >

<table><tr><td style="width:720px"><span style="font-weight:bold">Open Purchase Orders</span></td></tr>
<tr><td style="vertical-align:top">
<table><tr><th class="admin-da-date-header"><a href="" ng-click="orderApprove('date_created')">Date</a><span class="admin-da-sortorder" ng-show="predicateApprove === 'date_created'" ng-class="{reverse:reverseApprove}"></span></th>
<th class="admin-da-name-header"><a href="" ng-click="orderApprove('name')">Name</a><span class="admin-da-sortorder" ng-show="predicateApprove === 'name'" ng-class="{reverse:reverseApprove}"></span></th>
<th class="admin-da-button-header">Email</th>
<th class="admin-da-button-header">Purchase Order</th>
<th class="admin-da-button-header">Amount</th>
<th class="admin-da-button-header">Action</th>
</tr>
<tr ng-repeat="po in openPurchaseOrders | orderBy:predicateApprove:reverseApprove">
<td ng-class="$even ? 'admin-da-date-even' : 'admin-da-date-odd'">{{showDate(po.date_created)}}</td>
<td ng-class="$even ? 'admin-da-name-even' : 'admin-da-name-odd'">{{po.name}}</td>
<td ng-class="$even ? 'admin-da-name-even' : 'admin-da-name-odd'">{{po.email}}</td>
<td ng-class="$even ? 'admin-da-po-even' : 'admin-da-po-odd'">#{{po.purchase_order_number}}</td>
<td ng-class="$even ? 'admin-da-payment-even' : 'admin-da-payment-odd'">${{po.payment}}</td>
<td ng-class="$even ? 'admin-da-button-even' : 'admin-da-button-odd'">
<button ng-click="actionPO(po)">{{actionPOName(po)}}</button>
<td ng-class="$even ? 'admin-da-button-even' : 'admin-da-button-odd'">
<button ng-click="rejectPO(po)">REJECT</button></td>
</tr>
</table>
</table>
