
.gl-admin-monitor-table {
    margin-top: 6px;
}

.gl-admin-monitor-system {
    text-align: center;
    padding: 6px;
    width: 200px;
}

.gl-admin-monitor-server {
    font-weight:bold;
}

.gl-admin-monitor-spacer {
    width: 12px;
}

.gl-admin-monitor-up-good {
    width: 78px;
    text-align: center;
    padding: 6px;
    font-size: 16px;
    background-color: #00aa00;
    color: #ffffff;
}

.gl-admin-monitor-up-alert {
    width: 78px;
    text-align: center;
    padding: 6px;
    font-size: 16px;
    background-color: #aa0000;
    color: #ffffff;
}

.gl-admin-monitor-moninfo-good {
    width: 80px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #00aa00;
    color: #ffffff;
}

.gl-admin-monitor-moninfo-alert {
    width: 80px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #aa0000;
    color: #ffffff;
}

.gl-admin-monitor-cpu-good {
    width: 80px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #00aa00;
    color: #ffffff;
}

.gl-admin-monitor-cpu-alert {
    width: 80px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #aa0000;
    color: #ffffff;
}

.gl-admin-monitor-job-good {
    width: 100px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #00aa00;
    color: #ffffff;
}

.gl-admin-monitor-job-alert {
    width: 100px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #aa0000;
    color: #ffffff;
}

.gl-admin-monitor-errors-good {
    width: 100px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #00aa00;
    color: #ffffff;
}

.gl-admin-monitor-errors-alert {
    width: 100px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #aa0000;
    color: #ffffff;
}

.gl-admin-monitor-leak-good {
    min-width: 80px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #00aa00;
    color: #ffffff;
}

.gl-admin-monitor-leak-alert {
    min-width: 80px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #aa0000;
    color: #ffffff;
}

.gl-admin-monitor-aborted-good {
    min-width: 120px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #00aa00;
    color: #ffffff;
}

.gl-admin-monitor-aborted-alert {
    min-width: 120px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #aa0000;
    color: #ffffff;
}

.gl-admin-monitor-buckets-good {
    width: 80px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #00aa00;
    color: #ffffff;
}

.gl-admin-monitor-buckets-alert {
    width: 80px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background-color: #aa0000;
    color: #ffffff;
}

.gl-admin-monitor-node-good {
    min-width: 200px;
    text-align: center;
    padding: 6px;
    font-size: 16px;
    background-color: #00aa00;
    color: #ffffff;
}

.gl-admin-monitor-node-alert {
    min-width: 200px;
    text-align: center;
    padding: 6px;
    font-size: 16px;
    background-color: #aa0000;
    color: #ffffff;
}

