<div class="container">
    <h2 class="text-muted">Create Purchase Order</h2>
    <p>
        Use this page to create a new Purchase Order.  You must first either find or create a license owner for this purchase order.
    </p>
        <div>
            License Owner Email:
            <div class="form-group">
                <input size="30" class="form-control gl-margin-Vl"
                       ng-model="info.user.email"
                       placeholder="License Owner Email" required>
            </div>
            <div class="reg-submit text-center">
                <button ng-click="findLicenseOwner(info)"
                       class="btn gl-payment-submit gl-btn--black"
                       ng-disabled="!validateEmail(info.user.email)">Find</button>
            </div>
            <p>
            </p>
            <p ng-show="licenseOwnerExists && licenseOwnerValid && !licenseOwnerPending">
                Found license owner: {{info.PO.firstName}} {{info.PO.lastName}}
            </p>
            <p ng-show="licenseOwnerExists && licenseOwnerValid && licenseOwnerPending">
                Found license owner: {{info.PO.firstName}} {{info.PO.lastName}}, but owner already has PO pending!
            </p>
            <p ng-show="!licenseOwnerExists && licenseOwnerValid">
                License owner {{info.user.email}} was not found!
            </p>
            <p ng-show="!licenseOwnerExists && licenseOwnerValid">
                A new user account for {{info.user.email}} will be created when you submit the purchase order
            </p>
        </div>
    </br >

    <div class="row">
        <div class="col-md-4" ng-show="licenseOwnerValid && !licenseOwnerPending">
            <div class="gl-manager-side-panel gl-manager-side-panel--payment gl-margin--B50">
                <div class="gl-manager-side-panel-label text-center">
                    Premium Plan
                </div>
                <div class="gl-manager-side-panel-section">
                    <h4 class="headline-4">Packages:</h4>

                    <div class="gl-upgrade-form">
                        <div class="radio" ng-repeat="packageName in choices.packages">
                            <label>
                                <input type="radio" ng-model="status.packageName" ng-value="packageName">
                                {{packageName}}
                                <a ng-show="status.packageName===packageName"></a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="gl-manager-side-panel-section gl-manager-side-panel-section--payment gl-margin--Bm">
                    <p class="gl-margin-Vl">{{packages.selected.description}}</p>

                    <h4 class="headline-4">Package Size:</h4>

                    <form class="gl-upgrade-form">
                        # of Students:
                        <div class="form-group">
                            <input size="6" class="form-control gl-margin-Vl"
                                   ng-keyup="calculatePOPrice()"
                                   ng-model="status.studentSeats"
                                   placeholder="10" required>
                        </div>

                        # of Educators:
                        <div class="form-group">
                            <input size="6" class="form-control gl-margin-Vl"
                                   ng-keyup="calculatePOPrice()"
                                   ng-model="status.educatorSeats"
                                   ng-disabled="true" 
                                   placeholder="1" required>
                        </div>
                    </form>

                    <h4 class="headline-4">Package Price:</h4>
                        Total Price: ${{info.PO.payment}}
                </div>
            </div>
        </div>
        <div class="col-md-8 gl-margin--B50" ng-show="licenseOwnerValid && !licenseOwnerPending">
            <form name="paymentForm" novalidate class="reg-form form-inline">
                <div class="form-group">
                    <div class="gl-upgrade-school-info gl-margin--Bl">

                        <div ng-include src="'subscribe/_school-info-form.html'"></div>

                    </div>
                    <div class="gl-upgrade-payment  gl-margin--B50">
                        <div class="gl-payment-selection l-collection gl-margin--Bl">
                            <h5 class="headline-5 gl-inline-block gl-margin--R40 gl-clickable">Purchase Order</h5>
                        </div>
                        <div class="gl-upgrade-label-payment">Payment</div>

                        <p>Please share with us the primary contact for this order. It may be different from the
                            person placing this order. We need this information so we know who to contact regarding
                            this order. </p>

                        <div class="form-group">
                            <input ng-disabled="licenseOwnerExists && !licenseOwnerPending" size="30" class="form-control gl-margin-Vl" ng-model="info.PO.firstName"
                                   placeholder="Primary Contact First Name" required>
                        </div>
                        <div class="form-group">
                            <input ng-disabled="licenseOwnerExists && !licenseOwnerPending" size="30" class="form-control gl-margin-Vl"
                                   ng-model="info.PO.lastName"
                                   placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                            <input size="30" class="form-control gl-margin-Vl" ng-model="info.PO.phone"
                                   placeholder="Phone Number" required>
                        </div>
                        <div class="form-group">
                            <input ng-disabled="true" size="30" class="form-control gl-margin-Vl"
                                   ng-model="info.PO.email"
                                   placeholder="Email" required>
                        </div>

                        <alert class="gl-margin--Tl" ng-repeat="error in request.errors" ng-show="request.errors.length"
                               type="danger"><span class="fa fa-times-circle"></span> {{ error }}
                        </alert>
                    </div>

                    <div class="reg-submit text-center">
                        <button ng-click="requestPurchaseOrder(status.studentSeats, status.packageName, info)"
                               class="btn gl-payment-submit gl-btn--black"
                               ng-disabled="request.isSubmitting || paymentForm.$invalid">
                               {{ request.isSubmitting ? 'Submitting...' : 'Submit'}}</button>
                        <button ng-click="cancelPurchaseOrder()"
                               class="btn gl-payment-submit gl-btn--black">
                               Cancel</button>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>