<h2 class="text-muted">Purchase Orders</h2>
<p>
	Use this page to handle all purchase order transactions. Here you can indicate you've received a purchase order (which will grant the owner premium access), approve a purchase order, or reject a purchase order. Each action requires the same information in order to validate:
	<ul>
		<li><b>key</b>: a unique identifier associated with the form, created by GlassLab, Inc.</li>
		<li><b>PO#</b>: the number on the form</li>
		<li><b>payment</b>: the amount being paid to GlassLab, Inc.</li>
		<li><b>plan</b>: the package plan type</li>
		<li><b>seats</b>: the package seats size</li>
		<li><b>action</b>: received, approved, rejected</li>
	</ul>
</p>
</br >

<form ng-submit="updatePurchaseOrder()">
	<h4>Purchase Order info:</h4>
	Key: <input type="text" id="key" size="30" ng-model="purchaseOrder.key"/>
	<br />
	PO#: <input type="text" id="key" size="30" ng-model="purchaseOrder.number"/>
	<br />
	Payment Amount: <input type="text" id="key" size="10" ng-model="purchaseOrder.amount"/> (ex. 125.00)
	<br />
	<br />
	<h4>License Package info:</h4>
	Plan: <select name="plan" ng-model="planInfo.plan">
        <option selected value="allGames">All Games</option>
        <option value="chromebook">Chromebook</option>
        <option value="ipad">iPad</option>
        <option value="pcMac">PC/Mac</option>
        <option value="trial">Trial</option>
    </select>
    <br />
    Seats: <select name="seats" ng-model="planInfo.seats">
        <option selected value="group">Group (10 students, 1 educator)</option>
        <option value="class">Class (30 students, 2 educators)</option>
        <option value="multiClass">Multi Class (120 students, 8 educators)</option>
        <option value="school">School (500 students, 15 educators)</option>
        <option value="trial">Trial (30 students)</option>
    </select>
    <br />
    <br />
    <h4>Action to take:</h4>
    <select name="action" ng-model="action">
        <option selected value="receive">RECEIVED</option>
        <option value="approve">APPROVED</option>
        <option value="reject">REJECTED</option>
    </select>
    <br />
    <br />
    <input type="submit" id="submit" value="Update Purchase Order" />
    <br />
    <br />
    <p ng-if="output">Result: {{output}}</p>
</form>