
<div><!-- <div class="gl-courses-container"> -->
	<div class="container">
		<h2 class="text-muted">Admin Games Edit</h2>
		<div class="gl-hooga">
			<table class="table table-striped">
        <thead>
          <tr>
            <th><a href="" ng-click="orderList('gameId')">Game ID</a><span
              class="admin-da-sortorder" ng-show="predicateList === 'gameId'" ng-class="{reverse:reverseList}"></span>
            </th>
            <th><a href="" ng-click="orderList('longName')">Game Name</a><span
              class="admin-da-sortorder" ng-show="predicateList === 'longName'" ng-class="{reverse:reverseList}"></span>
            </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="game in games | orderBy:predicateList:reverseList">
            <td>{{game.gameId}}</td>
            <td>{{game.shortName}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-default" ui-sref="root.developerGames.editor({gameId:game.gameId})">Edit</button>
                <!--<button class="btn btn-default" ui-sref="root.developerGames.advanced-editor({gameId:game.gameId})">Adv. Editor</button>-->
                <button class="btn btn-default" ui-sref="root.developerGames.raw-editor({gameId:game.gameId})">Raw JSON</button>
              </div>
            </td>
            <td>
              <div class="btn-group">
                <button class="btn btn-default" ng-click="approveGame(game.gameId)" ng-if="submissionTarget">Push to {{submissionTarget}}</button>
              </div>
            </td>
          </tr>
        </tbody>
			</table>
			<br><br>
		</div>
	</div>
</div>