
.gl-how-it-works-panel {
  background: lightgrey;
  position: relative;
  z-index: 10;
  min-height: 500px;
  .drop-shadow(@blur:5px);
}

.how-it-works-step-top {
  height: 90px;
}

.how-it-works-col {
  // direct child
  >div {
    float: left;
  }
  padding: 0px;
  margin-top:25px;
  text-align: center;
}

.how-it-works-steps {
  height: 258px;
  padding: 20px;
  color: white;
  margin: 0px;
  p {
    font-family: sans-serif;
    font-weight: 100;
  }
}

.how-it-works-steps-title {
  font-family: 'Bitter', serif;
  font-size: 16px;
  color: #555555;
}

.how-it-works-step-1 {
  .how-it-works-steps;
  width: 206px;
  background-color: rgba(140, 195, 74, 1);
  margin-right: 8px;
}

.how-it-works-step-2 {
  .how-it-works-steps;
  width: 140px;
  background-color: #5bc0de;
  margin-right: 8px;
  padding-left: 5px;
  padding-right: 5px;

}

.how-it-works-step-3 {
  .how-it-works-steps;
  width: 160px;
  background-color: #4387fd;
  margin-right: 8px;
}

.how-it-works-step-4 {
  .how-it-works-steps;
  width: 206px;
  background-color: #5bc0de;
  margin-right: 8px;
}

.how-it-works-step-5 {
  .how-it-works-steps;
  width: 208px;
  background: rgba(140, 195, 74, 1);
  padding-right: 10px;
  padding-left: 10px;
}

.step-button {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}