<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">{{gamePlayInfo.title}}</h3>
</div>

<div class="modal-body">
    <div ng-if="gamePlayInfo.embed" class="gl-gamePlayInfo-embedded">
        <object name="flashObj" type="application/x-shockwave-flash" data="{{gamePlayInfo.embed}}" width="{{gamePlayInfo.size.width}}" height="{{gamePlayInfo.size.height}}" style="float: none; vertical-align:middle">
            <param name="movie" value="{{gamePlayInfo.embed}}" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#ffffff" />
            <param name="play" value="true" />
            <param name="loop" value="true" />
            <param name="wmode" value="window" />
            <param name="scale" value="showall" />
            <param name="menu" value="true" />
            <param name="devicefont" value="false" />
            <param name="salign" value="" />
            <param name="allowScriptAccess" value="always" />
            <a href="http://www.adobe.com/go/getflash">
                <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
            </a>
            <embed name="flashObj" src="{{gamePlayInfo.embed}}" width="{{gamePlayInfo.size.width}}" height="{{gamePlayInfo.size.height}}" type="application/x-shockwave-flash" allowScriptAccess="always"></embed>
        </object>
    </div>
</div>
