<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">{{gameDetails.shortName}} Missions</h3>
</div>

<div class="modal-body">

    <div ng-repeat="gameMission in gameMissions">
        <div ng-if="gameMission.missions.length"
             ng-repeat="mission in gameMission.missions">
            <ul>
                <li ng-if="mission.enabled">
                    <a ng-href="{{ mission.links[0].link }}" target="_blank">{{mission.title}}</a> - {{mission.description}}
                </li>
            </ul>
        </div>
    </div>

    <!--
    <accordion close-others="true">
        <accordion-group ng-if="gameMission.enabled" is-open="gameMission.open" ng-repeat="gameMission in gameMissions">
            <accordion-heading>
                {{gameMission.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': gameMission.open, 'glyphicon-chevron-right': !gameMission.open}"></i>
            </accordion-heading>

            <div ng-if="gameMission.missions.length"
                 ng-repeat="mission in gameMission.missions">
                <ul>
                    <li ng-if="mission.enabled">
                        <a ng-href="{{ mission.links[0].link }}" target="_blank">{{mission.title}}</a> - {{mission.description}}
                    </li>
                </ul>
            </div>
        </accordion-group>
    </accordion>
    -->
</div>


