<div class="container">

  <div class="media gl-game-header">
    <div class="gl-game-developer-logo media-img">
      <img src="/{{ gameDetails.developer.logo.small }}">
    </div>
    <div class="media-bd">
      <h1 class="headline-2 gl-game-title" ng-bind="gameDetails.longName"></h1>
      <div>Developed by {{ gameDetails.developer.name }}</div>
      <div class="gl-pad--Txs">
        <a ng-repeat="(name, url) in gameDetails.social"
          target="_blank" href="{{ url }}"
          ga="'send', 'pageview', {title: name, location: url}"
          class="gl-icon-social gl-icon-social--{{ name }}">
        </a>
      </div>
    </div>
  </div>


  <div class="jumbotron gl-game-banner-{{ gameId }}">
  </div>
  <div class="row" id="content">
    <div class="col-md-3 col-border--right">
      <ul class="gl-games-subnav">
        <li class="gl-games-subnav-item"
          ng-repeat="navItem in navItems | orderObjectBy: 'order'"
          ng-if="navItem.enabled && (!navItem.authRequired || (navItem.authRequired && isAuthorized()))">
          <a ui-sref="{{ 'root.games.detail.' + navItem.id }}"
            class="gl-games-subnav-link"
            ui-sref-active="gl-games-subnav-link--active"
            ng-bind="navItem.title"></a>
        </li>
      </ul>

      <div ng-hide="isAuthenticated()"
           class="gl-learn-more">
        <h3 class="headline-4">Want to learn more?</h3>
        <p>
          Create a free GlassLab Games account to:<br/>
          <ul>
            <li>Access lesson plans</li>
            <li>View student reports</li>
          </ul>
          ... and more!<br/>
          <br/>
          <button type="button"
                  class="btn gl-btn--blue gl-games-sidebar-btn"
                  ng-click="state.go('modal.register')">Create an Account</button>
        </p>
      </div>
    </div>
    <div class="col-md-9">
      <!--<h2 class="headline-2" ng-bind="currentPage.title"></h2>-->
      <!--<p ng-show="currentPage.id == 'product'"-->
        <!--ng-bind="gameDetails.pages.product.header"></p>-->
      <div>


          <div class="container-fluid gl-game-details gl-margin--Bl">
            <div class="gl-game-details-top">
              <div class="row gl-margin--Bm">
                <div class="col-md-6">
                  <span class="gl-icon-game gl-icon-game--price"></span>
                  Price: <span ng-bind="gameDetails.price"></span>
                </div>
                <div class="col-md-6">
                  <span class="gl-icon-game gl-icon-game--type"></span>
                  Type: <span ng-bind="gameDetails.type"></span>
                </div>
              </div>
              <div class="row gl-margin--Bm">
                <div class="col-md-6">
                  <span class="gl-icon-game gl-icon-game--subject"></span>
                  Subject: <span ng-bind="gameDetails.subject"></span>
                </div>
                <div class="col-md-6">
                  <span class="gl-icon-game gl-icon-game--releaseDate"></span>
                  Release: <span ng-bind="gameDetails.releaseDate"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="gl-icon-game gl-icon-game--platform"></span>
                  Platform: <span ng-bind="gameDetails.platform.type"></span>
                </div>
                <div class="col-md-6">
                  <span class="gl-icon-game gl-icon-game--grades"></span>
                  Grade: <span ng-bind="gameDetails.grades"></span>
                </div>
              </div>
            </div>
            <div class="gl-game-details-bottom text-center">
              <div class="gl-margin-Vm" ng-repeat="button in gameDetails.buttons">
                <div ng-if="(button.authRequired && isAuthenticated()) || !button.authRequired">
                  <div ng-if="button.links && button.links.length > 1">
                    <!-- TODO: remove ng-if="isAuthenticated()" at a later date -->
                    <div class="btn-group gl-game-btn-group" dropdown is-open="button.isOpen">
                      <button type="button" class="btn gl-btn--blue gl-games-sidebar-btn dropdown-toggle"
                              ng-click="toggleDropdown($event, button)"
                              dropdown-toggle> {{button.name}}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="link in button.links">
                          <a href="{{ link.link }}" ng-bind="link.name" target="{{(link.target)?link.target:''}}"></a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div ng-if="button.links && button.links.length == 1"
                       ng-switch="button.links[0].type">
                    <!-- temporarily hardcoded for initial launch -->
                    <div ng-switch-when="ios-appstore"
                         class="gl-game-app-store-download"
                         ng-click="goToLink(button.links[0].link, button.links[0].target)">
                    </div>
                    <button ng-if="hasPermsToPlayGame()"
                            ng-switch-when="play"
                            type="button"
                            class="btn gl-btn--blue gl-games-sidebar-btn"
                            ng-click="goToPlayGame(gameId)"
                            ng-bind="button.name"></button>
                    <button ng-switch-default
                            type="button"
                            class="btn gl-btn--blue gl-games-sidebar-btn"
                            ng-click="goToLink(button.links[0].link, button.links[0].target)"
                            ng-bind="button.name">Play</button>
                  </div>
                </div>
              </div>
              <div ng-hide="gameDetails.type==='App'||isAuthenticated()">
                <button type="button"
                        class="btn gl-btn--blue gl-games-sidebar-btn"
                        ng-click="state.go('modal.register')">
                  Sign Up and Play Game
                </button>
              </div>
            </div>
          </div>

      </div>

      <div ui-view></div>

    </div>
  </div>

  <div class="gl-margin-Vxl">
    &nbsp;
  </div>

</div>
