.gl-game-catalog-carousel-container {
  .carousel-control {
    opacity: 0;
  }
}

.gl-games-carousel--full {
  width: auto;
  height: auto;
  margin-bottom: 38px;
}

.gl-game-catalog-featured-game {
  text-align: center
}

.gl-game-catalog-banner {
  width: 100%;
}

.gl-game-catalog-banner:hover {
  cursor: pointer;
}

.gl-game-catalog-games-container {
  position: relative;
  left: -17px;
}

.gl-new-game-catalog-games-container {
  margin-right: -10px;
}

.gl-game-catalog-carousel-game-row {
  background-color: white;
  height: 210px;
}

.gl-game-catalog-carousel-card-cell {
  display: table-cell;
}

.gl-game-catalog-carousel-info-cell {
  display: table-cell;
  width: 282px;
  padding: 8px 15px 0;
  vertical-align: top;
  text-align: left;
}

.gl-new-game-catalog-all-row {
  .make-row();
}

.gl-new-game-catalog-controls-cell {
  .make-md-column(2);
  padding-right: 0;
}

.gl-new-game-catalog-skills-header-red,
.gl-new-game-catalog-skills-header-green,
.gl-new-game-catalog-skills-header-blue {
  text-align: center;
  margin: 6px 0;
}

.gl-new-game-catalog-skills-header-red {
  color: @academicSkills;
}

.gl-new-game-catalog-skills-header-green {
  color: @21stCenturySkills;
}

.gl-new-game-catalog-skills-header-blue {
  color: @21stCenturyReadiness;
  font-size: 85%;
}

.gl-new-game-catalog-category-header {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  text-align: center;
}

.gl-new-game-catalog-skills-box,
.gl-new-game-catalog-allgames-box {
  font-size: 11px;
  color: @grey3;
  background-color: @grey7;
  margin: 0 0 12px;
  padding: 4px 8px;
  border-radius: 5px;

  label {
    font-weight: normal;
  }
}

.gl-new-game-catalog-grades-column {
  width: 70px;
}

.gl-new-game-catalog-games-cell {
  .make-md-column(10);
}

.gl-new-game-catalog-games-section {
  //width: 830px;
  //height: 660px;

  background-color: @grey7;
  border-radius: 5px;
  overflow-y: scroll;
}

.gl-new-game-catalog-games-section-header {
  font-size: 24px;
}

.gl-new-game-catalog-games-row-outer {

  margin: 7px;
  padding: 4px;
  background-color: white;
  border: 1px solid @grey6;
}

.gl-new-game-catalog-games-table-inner {
  position: relative;
  width: 100%;
  height: 105px;
  display: table;
}

.gl-new-game-catalog-games-row-inner {
  position: relative;
  display: table-row;
}

.gl-new-game-catalog-games-box-cell {
  position: relative;
  display: table-cell;
  width: 339px;
  padding-right: 10px;
  vertical-align: top;
}

.gl-new-game-catalog-games-box-info-cell {
  position: relative;
  display: table-cell;
  //padding: 2px;
}

.gl-new-game-catalog-game-grades {
  font-size: 14px;
  font-weight: 500;
}

.gl-new-game-catalog-game-developer {
  position: absolute;
  left: 0px;
  bottom: 3px;
  font-size: 14px;
}

.gl-new-game-catalog-game-platform {
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-size: 14px;
}

.gl-new-game-catalog-game-skill-icon {
  position: absolute;
  right: -5px;
  top: -5px;
  border: 1px solid @grey6;
  padding: 2px;
}

.gl-game-catalog-games-section {
  width: 972px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gl-game-catalog-game-box {
  position: relative;
  max-width: 301px;
  border: 1px solid #dddddd;
}

.gl-game-catalog-game-box:hover {
  cursor: pointer;
}

.gl-game-catalog-game-box.no-hover:hover {
  cursor: default;
}

.gl-game-catalog-game-card {
  max-width: 100%;
  min-height: 35%;
  height: auto;
}

.gl-game-catalog-game-card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.gl-game-catalog-game-description {
  position: absolute;
  top: -9px;
  bottom: -9px;
  right: -9px;
  left: -9px;
  color: white;
  padding: 20px;
  background-color: rgba(17, 23, 39, 0.90);
  border: 5px solid @grey7;
  overflow: hidden;
  text-overflow: ellipsis;
  button {
    float: right;
    margin-left: 15px;
  }
}

.gl-game-catalog-game-box-info {
  position: relative;
  padding: 5px;
  margin: 5px;
  ul {
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  overflow: hidden;
  .text-end-fade {
    height: 87px;
    width: 10px;
    top: 3px;
    right: 0;
  }
}

.gl-game-catalog-game-title {
  font-size: 17px;
  margin-bottom: 3px;
  font-weight: 500;
}

.gl-game-catalog-game-title-red {
  color: @academicSkills;
}

.gl-game-catalog-game-title-blue {
  color: @21stCenturyReadiness;
}

.gl-game-catalog-game-title-green {
  color: @21stCenturySkills;
}

.gl-game-catalog-developer-logo {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: white;
  padding: 5px;
  border-radius: 4px;
}

.gl-game-catalog-platform-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 5px;
}

.gl-game-catalog-section-title {
  position: relative;
  left: 15px;
}

.gl-game-catalog-platform-triangle {
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 45px 45px;
  border-color: transparent transparent @grey5 transparent;
}

.gl-game-report-divider {
  width: 96.8%;
}