<div class="container">

  <div class="media gl-game-header">
    <div class="gl-game-developer-logo media-img">
      <img src="/{{ gameDetails.developer.logo.small }}">
    </div>
    <div class="media-bd">
      <h1 class="headline-2 gl-game-title" ng-bind="gameDetails.longName"></h1>
      Developed by {{ gameDetails.developer.name }}
    </div>
  </div>


  <div class="jumbotron gl-game-banner-{{ gameId }}">
  </div>

  <div class="row">
    <div class="col-md-3 col-border--right">
      <ul class="gl-games-subnav">
        <li class="gl-games-subnav-item"
          ng-repeat="(key, navItem) in navItems">
          <a ng-click="goToGameSubpage(navItem)"
            class="gl-games-subnav-link"
            ng-class="{'gl-games-subnav-link--active': navItem.isActive,
              'gl-games-subnav-link--disabled': navItem.authRequired && !isAuthorized()}"
            ng-bind="navItem.title"></a>
        </li>
      </ul>

      <div class="gl-margin-Vm" ng-repeat="button in gameDetails.buttons">

        <div ng-if="button.links && button.links.length > 1">
          <div class="btn-group gl-games-sidebar-btn" dropdown is-open="button.isOpen">
            <button type="button" class="btn gl-btn--blue gl-games-btn-trigger"
              ng-click="toggleDropdown($event, button)"
              ng-bind="button.name"></button>
            <button type="button" class="btn gl-btn--blue dropdown-toggle">
              <span class="caret"></span>
              <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="link in button.links">
                <a href="{{ link.link }}" ng-bind="link.name" target="{{(link.target)?link.target:''}}"></a>
              </li>
            </ul>
          </div>
        </div>

        <div ng-if="button.links && button.links.length == 1">
          <button type="button"
            class="btn gl-btn--blue gl-games-sidebar-btn"
            ng-click="goTo(button.links[0].link, button.links[0].target)"
            ng-bind="button.name"></button>
        </div>

      </div>

      <div>
        <a ng-repeat="(name, url) in gameDetails.social"
          href="{{ url }}"
          ga="'send', 'pageview', {title: name, location: url}"
          class="gl-icon-social gl-icon-social--{{ name }}">
        </a>
      </div>
    </div>
    <div class="col-md-9">

      <h2 class="headline-2" ng-bind="currentPage.title"></h2>
      <p ng-show="currentPage.id == 'product'"
        ng-bind="gameDetails.pages.product.header"></p>


      <hr class="rule rule--blue" />

      <div class="container-fluid gl-game-details">
        <div class="row gl-margin--Bm">
          <div class="col-md-4">
            <span class="gl-icon-game gl-icon-game--price"></span>
            Price: <span ng-bind="gameDetails.price"></span>
          </div>
          <div class="col-md-4">
            <span class="gl-icon-game gl-icon-game--type"></span>
            Type: <span ng-bind="gameDetails.type"></span>
          </div>
          <div class="col-md-4">
            <span class="gl-icon-game gl-icon-game--subject"></span>
            Subject: <span ng-bind="gameDetails.subject"></span>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-4">
            <span class="gl-icon-game gl-icon-game--releaseDate"></span>
            Release: <span ng-bind="gameDetails.releaseDate"></span>
          </div>
          <div class="col-md-4">
            <span class="gl-icon-game gl-icon-game--platform"></span>
            Platform: <span ng-bind="gameDetails.platform"></span>
          </div>
          <div class="col-md-4">
            <span class="gl-icon-game gl-icon-game--grades"></span>
            Grade: <span ng-bind="gameDetails.grades"></span>
          </div>

        </div> 
      </div>

      <hr class="rule rule--blue" />





      <div ng-show="currentPage.id == 'product'">
        <h3 class="headline-4">About the Game</h3>
        <p ng-bind-html="gameDetails.pages.product.about"></p>

        <a href="https://vimeo.com/92362764"> <button class="btn gl-btn--blue">See the game in action</button></a>

        <h3 class="headline-4">How It Fits the Curriculum</h3>
        <ul>
          <li ng-repeat="curriculumItem in gameDetails.pages.product.curriculum"
            ng-bind="curriculumItem"></li>
        </ul>

        <div class="gl-games-slideshow-container">
          &nbsp;
          <carousel interval="myInterval">
            <slide ng-repeat="slide in gameDetails.pages.product.slideshow" active="slide.active">
              <img
                ng-src="{{slide.url}}" style="margin:auto;">
            </slide>
          </carousel>
        </div>
      </div>



      <div ng-show="currentPage.id == 'standards'">
        <div ng-repeat="section in gameDetails.pages.standards track by $index">
          <h5 class="headline-5 gl-standards-category" ng-bind="section.category"></h5>
          <ul class="list-unstyled gl-indent">
              <li ng-repeat="groupItem in section.groups track by $index">
                  <h5 class="headline-5 gl-standards-category" ng-bind="groupItem.name"></h5>
                  <p ng-repeat="listItem in groupItem.list track by $index">
                      <a ng-if="listItem.link" href="{{ listItem.link }}"
                         ga="'send', 'pageview', {title: listItem.name, location: listItem.link}"
                         ng-bind="listItem.name"></a>
                      <span ng-if="!listItem.link" ng-bind="listItem.name"></span>
                      <br />
                      <span ng-bind="listItem.description"></span>

                      <!-- could not use ul,li for some reason, had to use span -->
                      <span ng-repeat="t in listItem.sublist track by $index" class="gl-standards-category-item">
                        <i class="gl-standards-category-circle"></i>{{t}}
                      </span>
                  </p>
              </li>
          </ul>
        </div>
      </div>



      <div ng-show="currentPage.id == 'lessonPlans'">
        <div ng-repeat="section in gameDetails.pages.lessonPlans">
          <h3 class="headline-4" ng-bind="section.category"></h3>
          <p ng-repeat="listItem in section.list">
            <a href="{{ listItem.link }}" 
              ga="'send', 'pageview', {title: listItem.name, location: listItem.link}"
              ng-bind="listItem.name"></a><br>
            <span ng-bind="listItem.description"></span>
          </p>
        </div>
      </div>



      <div ng-show="currentPage.id == 'research'">
        <div ng-repeat="section in gameDetails.pages.research">
          <h3 class="headline-4" ng-bind="section.category"></h3>
          <p ng-repeat="listItem in section.list">
            <a href="{{ listItem.link }}" 
              ga="'send', 'pageview', {title: listItem.name, location: listItem.link}"
              ng-bind="listItem.name"></a><br>
            <span ng-bind="listItem.description"></span>
          </p>
        </div>
      </div>



      <div ng-show="currentPage.id == 'reviews'">
        <div class="gl-game-review"
          ng-repeat="review in gameDetails.pages.reviews">
          <blockquote ng-bind="review.review"></blockquote>
          <cite ng-bind-html="review.reviewer"></cite>
        </div>
      </div>


    </div>
  </div>

  <div class="gl-margin-Vxl">
    &nbsp;
  </div>

</div>
