<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="goToRoot()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">Game Session Error!</h3>
</div>

<div class="modal-body text-center">
    <p>An error has occured that prevents continue play of the current game! Possible reasons for this can include a log-out or new log-in from another window of the browser.</p>
    <button ng-click="goToRoot()" class="btn gl-btn--blue">Close</button>
</div>
