<div class="container gl-container">
    <h3 class="headline-3--serif gl-game-catalog-featured-game">Featured Games</h3>
    <div class="gl-game-catalog-carousel-container gl-margin--Vm">

        <carousel interval="5000" class="gl-games-carousel gl-games-carousel--full">
            <slide ng-if="game.price!=='Coming Soon' && game.price!=='TBD'"
                   ng-repeat="game in allGamesInfo" active="game.active">

                <div class="gl-game-catalog-carousel-game-row">
                    <div class="gl-game-catalog-carousel-card-cell">
                        <img ng-src="{{game.banners.product}}" class="gl-game-catalog-banner"
                             ui-sref="root.games.detail.product({gameId:game.gameId})" />
                    </div>
                    <div class="gl-game-catalog-carousel-info-cell">
                        <!--<span ng-class="{red:'gl-game-catalog-game-title-red', green:'gl-game-catalog-game-title-green', blue:'gl-game-catalog-game-title-blue'}[gameTitleColorSelctor(game)]">-->
                        <p class="headline-4--serif" ng-class="'gl-game-catalog-game-title-'+gameTitleColorSelctor(game)">
                            {{game.shortName}}
                        </p>
                        <p>
                        {{game.description ? truncateText(game.description,350) : ""}}
                        </p>
                    </div>
                </div>

            </slide>
        </carousel>

    </div>
    <hr>
    <div class="gl-new-game-catalog-games-container gl-margin--Tl gl-margin--Bl">
        <div class="gl-new-game-catalog-all-row">
            <div class="gl-new-game-catalog-controls-cell"></div>
            <div class="gl-new-game-catalog-games-cell">
                <p class="headline-3--serif gl-new-game-catalog-games-section-header">Games</p>
            </div>
        </div>
        <div class="gl-new-game-catalog-all-row">
            <div class="gl-new-game-catalog-controls-cell">
                <div class="gl-new-game-catalog-allgames-box">
                    <label><input type="checkbox" ng-model="allGames" ng-checked="allGames" /> All Games</label>
                </div>
                <div class="headline-6--serif gl-new-game-catalog-skills-header-red">
                    Academic Skills
                </div>
                <div class="gl-new-game-catalog-skills-box">
                    <div ng-repeat="skill in academicSkills">
                        <label><input type="checkbox" ng-model="skill.state" ng-checked="skill.state" ng-click="academicSkillsChange()" /> {{skill.name}}</label>
                    </div>
                </div>
                <div class="headline-6--serif gl-new-game-catalog-skills-header-green">
                    21st Centrury Skills
                </div>
                <div class="gl-new-game-catalog-skills-box">
                    <div ng-repeat="skill in _21stCenturySkills">
                        <label><input type="checkbox" ng-model="skill.state" ng-checked="skill.state" ng-click="_21stCenturySkillChange()" /> {{skill.name}}</label>
                    </div>
                </div>
                <div class="headline-6--serif gl-new-game-catalog-skills-header-blue">
                    21st Centrury Readiness
                </div>
                <div class="gl-new-game-catalog-skills-box">
                    <div ng-repeat="skill in _21stCenturyReadiness">
                        <label><input type="checkbox" ng-model="skill.state" ng-checked="skill.state" ng-click="_21stCenturyReadinessChange()" /> {{skill.name}}</label>
                    </div>
                </div>
                <div class="headline-6--serif gl-new-game-catalog-category-header">
                    Grade Level
                </div>
                <div class="gl-new-game-catalog-skills-box">
                    <table>
                    <tr><td class="gl-new-game-catalog-grades-column"><label><input type="checkbox" ng-model="gradeLevels[0].state" ng-checked="gradeLevels[0].state" ng-click="gradeLevelsChange()" /> {{gradeLevels[0].name}}</label></td>
                    <td><label><input type="checkbox" ng-model="gradeLevels[3].state" ng-checked="gradeLevels[3].state" ng-click="gradeLevelsChange()" /> {{gradeLevels[3].name}}</label></td></tr>
                    <tr><td class="gl-new-game-catalog-grades-column"><label><input type="checkbox" ng-model="gradeLevels[1].state" ng-checked="gradeLevels[1].state" ng-click="gradeLevelsChange()" /> {{gradeLevels[1].name}}</label></td>
                    <td><label><input type="checkbox" ng-model="gradeLevels[4].state" ng-checked="gradeLevels[4].state" ng-click="gradeLevelsChange()" /> {{gradeLevels[4].name}}</label></td></tr>
                    <tr><td class="gl-new-game-catalog-grades-column"><label><input type="checkbox" ng-model="gradeLevels[2].state" ng-checked="gradeLevels[2].state" ng-click="gradeLevelsChange()" /> {{gradeLevels[2].name}}</label></td>
                    <td><label><input type="checkbox" ng-model="gradeLevels[5].state" ng-checked="gradeLevels[5].state" ng-click="gradeLevelsChange()" /> {{gradeLevels[5].name}}</label></td></tr>
                    </table>
                </div>
                <div class="headline-6--serif gl-new-game-catalog-category-header">
                    Platform
                </div>
                <div class="gl-new-game-catalog-skills-box">
                    <div ng-repeat="platform in platformList">
                        <label><input type="checkbox" ng-model="platform.state" ng-checked="platform.state" ng-disabled="platform.disable" ng-click="analyticEvent(platform.event, platform.state)" /> {{platform.name}}</label>
                    </div>
                </div>
            </div>
            <div class="gl-new-game-catalog-games-cell">
                <div class="gl-new-game-catalog-games-section">

                    <div class="gl-new-game-catalog-games-row-outer" ng-repeat="game in allGamesInfo | orderBy: 'releaseDate':true | filter: gameFilter()">

                        <div class="gl-new-game-catalog-games-table-inner"
                             ng-init="game.hover=false"
                             ng-mouseover="game.hover=true"
                             ng-mouseleave="game.hover=false"
                             ng-class="{'no-hover':game.price==='Coming Soon'}"
                             ng-click="goToGameDetail(game.price,game.gameId)">
                            <div class="gl-new-game-catalog-games-row-inner">
                                <div class="gl-new-game-catalog-games-box-cell">
                                    <div ng-class="{'gl-game-ribbon': game.price==='Premium', 'gl-game-ribbon--green': game.price==='Coming Soon','gl-game-ribbon--aqua-blue': game.price==='Free'}"
                                         ng-hide="game.hover || game.price==='Premium'">
                                        <div class="gl-game-ribbon-text">{{game.price}}</div>
                                    </div>
                                    <div class="gl-game-catalog-game-card-wrapper">
                                        <div ng-show="!game.hover && gamesAvailableForLicense[game.gameId]" class="gl-game-catalog-ready text-center">Ready to Assign</div>
                                        <!--
                                        <div class="gl-game-catalog-developer-logo">
                                            <img ng-src="{{game.developer.logo.small}}" width="60" height="60">
                                        </div>
                                        -->
                                        <img ng-src="{{game.banners.product}}" class="gl-game-catalog-game-card">

                                    </div>
                                </div>
                                <div class="gl-new-game-catalog-games-box-info-cell">
                                    <!--<span class="ng-class="{red:'gl-game-catalog-game-title-red', green:'gl-game-catalog-game-title-green', blue:'gl-game-catalog-game-title-blue'}[gameTitleColorSelctor(game)]">-->
                                        <!--{{game.shortName}}-->
                                        <!-- <span class="gl-text-end-fade"></span> -->
                                    <!--</span>-->
                                    <div class="headline-4--serif" ng-class="'gl-game-catalog-game-title-'+gameTitleColorSelctor(game)">
                                        {{game.shortName}}
                                    </div>
                                    <span class="gl-new-game-catalog-game-grades">
                                        Grades {{game.grades}}
                                    </span>
                                    <span class="gl-new-game-catalog-game-developer">
                                        {{game.developer.name}}
                                    </span>
                                    <span class="gl-new-game-catalog-game-platform">
                                        {{game.platform.type}}
                                    </span>
                                    <span class="gl-new-game-catalog-game-skill-icon">
                                        <img src="{{gameSkillIcon(game)}}" />
                                    </span>
                                </div>

                            </div>

                            <div class="gl-game-catalog-game-description" ng-show="game.hover">
                                <button ng-if="game.price!=='Coming Soon'" class="btn gl-btn--blue">Learn More</button>
                                <p>
                                    <!--{{game.description ? truncateText(game.description,350) : ""}}-->
                                    {{game.description}}
                                </p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
