<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">Oops!</h3>
</div>

<div class="modal-body text-center">
    <p>This game is not available for your
        current plan. To update or change your plan, please go to your <a class="gl-clickable" ng-click="goToLink('root.manager.plan')">Subscription Manager.</a></p>
    <button ng-click="$close()" class="btn gl-btn--blue">Okay</button>
</div>

