<div class="modal-header" id="password-reset-modal">
  <h3 class="modal-title">
    <i class="gl-sdk-header-logo gl-sdk-glasslabgames-logo"></i>
  </h3>
  <button ng-click="goBackState()" class="gl-btn-circle gl-sdk-back-btn">
      <i class="fa fa-chevron-left"></i>
  </button>
</div>

<div class="modal-body"
     ng-if="userType != 'student'"
     ng-hide="formInfo.isResetEmailSent">

  <div class="container-fluid text-center">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <p class="text-center large">
          Type in your email address and hit the Reset Password button. You will
          receive an email with instructions on how to reset your password.
        </p>
      </div>
      <div class="row">
        <alert ng-repeat="error in formInfo.errors" ng-show="formInfo.errors.length" type="danger"><strong>Error:</strong> <span ng-bind="error"></span></alert>

        <form name="passwordReset" novalidate class="password-reset-form"
          ng-submit="resetPassword(formInfo)">

          <div class="form-group" ng-class="{'has-error': passwordReset.email.$dirty && passwordReset.email.$invalid}">
            <input type="email" name="email" class="form-control"
              placeholder="Email"
              required
              autofocus="autofocus"
              ng-model="formInfo.email"
              ng-disabled="formInfo.isSubmitting">
              <div class="form-errors">
                <div class="form-error" ng-show="passwordReset.email.$dirty && passwordReset.email.$invalid">
                  Email address must be valid
                </div>
              </div>
          </div>

          <div class="text-center">
            <input type="submit" class="btn gl-btn--blue" value="{{ (formInfo.isSubmitting) ? 'Sending reset email...' : 'Reset Password' }}"
            ng-disabled="passwordReset.$invalid || formInfo.isSubmitting">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal-body" ng-if="userType == 'student'">
  <div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <h3 class="modal-title gl-sdk-register-title">Forgot Password</h3>
      </div>
      <div class="row">
        <p class="text-center">
          Hello Awesome Young Person! You need to contact your teacher (or parent) to reset your password. Bummer, we know.
        </p>
      </div>
      <div class="row">
        <div class="text-center">
          <button class="btn gl-btn--blue"
            ng-click="goBackState()">Okay</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal-body" ng-show="formInfo.isResetEmailSent">
  <div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">

        <p class="text-center">
          Instructions for resetting your password have been sent to:
        </p>
        <alert type="success">
          <div class="text-center">
            <strong data-ng-bind="formInfo.email"></strong>
          </div>
        </alert>
        <div class="text-center">
          <button class="btn gl-btn--blue"
            ng-if="!hideWrapper"
            ng-click="$dismiss()">Okay</button>
          <button class="btn gl-btn--blue"
            ng-if="hideWrapper"
            ng-click="closeWindow()">Okay</button>
        </div>
      </div>

    </div>
  </div>
</div>
