.gl-student-dash-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 100px;
}

.btn-group .gl-student-dash-menu-btn {
  min-width: 100px;
}

.gl-student-dash-btn-parent {
  display: table;
}

.gl-student-dash-btn-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.gl-student-dash-game-thumb-lighter {
  background-color: rgba(255,255,255,0.5);
}