<ul class="list--nobullets">
    <li>
        <div class="form-group gl-margin--Tl">
            <input required class="form-control" size="60" ng-model="info.CC.address_line1"
                   placeholder="Address Line 1">
        </div>
    </li>
    <li>
        <div class="form-group gl-margin--Tl">
            <input class="form-control" size="60" ng-model="info.CC.address_line2"
                   placeholder="Address Line 2">
        </div>
    </li>
    <li>
        <div class="form-group gl-margin--Tl">
            <input required class="form-control" size="60" ng-model="info.CC.address_city"
                   placeholder="City">
        </div>
    </li>
    <li>
        <div class="form-group gl-margin--Tl">
            <input required class="form-control" size="60" ng-model="info.CC.address_state"
                   placeholder="State">
        </div>
    </li>
    <li>
        <div class="form-group gl-margin--Tl">
            <input required class="form-control" size="60" ng-model="info.CC.address_zip"
                   placeholder="Zip">
        </div>
    </li>
    <li>
        <div class="form-group gl-margin--Tl">
            <input required class="form-control" size="60" ng-model="info.CC.address_country"
                   placeholder="Country">
        </div>
    </li>
</ul>