<p>Please share with us the primary contact for this order. It may be different form the
    person placing this order. We need this information so we know who to contact regarding
    this order. </p>

<div class="form-group">
    <input size="30" class="form-control gl-margin-Vl" ng-model="info.PO.name"
           placeholder="Primary Contact Name">
</div>
<div class="form-group">
    <input size="30" class="form-control gl-margin-Vl" ng-model="info.PO.phone"
           placeholder="Phone Number">
</div>
<div class="form-group">
    <input size="30" class="form-control gl-margin-Vl"
           ng-model="info.PO.email"
           placeholder="Email">
</div>
<div class="form-group">
    <input size="30" class="form-control gl-margin-Vl"
           ng-model="info.PO.number"
           placeholder="Purchase Order #">
</div>