<p>Please share with us the primary contact for this order. It may be different form the
    person placing this order. We need this information so we know who to contact regarding
    this order. </p>

<div class="form-group">
    <input size="30" class="form-control gl-margin-Vl" ng-model="info.PO.firstName"
           placeholder="Primary Contact First Name" required>
</div>
<div class="form-group">
    <input size="30" class="form-control gl-margin-Vl"
           ng-model="info.PO.lastName"
           placeholder="Last Name" required>
</div>
<div class="form-group">
    <input size="30" class="form-control gl-margin-Vl" ng-model="info.PO.phone"
           placeholder="Phone Number" required>
</div>
<div class="form-group">
    <input size="30" class="form-control gl-margin-Vl"
           ng-model="info.PO.email"
           placeholder="Email" required>
</div>
