<div class="gl-upgrade-label-school-info">School Info</div>

<div class="form-group">
    <input class="form-control" size="43" ng-model="info.school.zipCode" placeholder="Zip Code" required>
</div>
<div class="form-group">
    <select name="state"
            class="form-control"
            ng-options="state for state in choices.states"
            ng-model="info.school.state" required>
    </select>
</div>
<input class="form-control gl-margin-Vl" ng-model="info.school.address" placeholder="Address" required>

<div class="form-group">
    <input class="form-control" ng-model="info.school.city" placeholder="City" required>
</div>
<div class="form-group">
    <input class="form-control" ng-model="info.school.name" placeholder="School Name" required>
</div>