<div class="gl-upgrade-label-school-info">School Info</div>

<div class="form-group">
    <input class="form-control" size="43" ng-model="info.school.zipCode" placeholder="Zip Code" required>
</div>
<div class="form-group">
    <div class="gl-input-group">
        <select name="state" ng-model="info.school.state" ng-options="state for state in choices.states"
                class="form-control"
                placeholder="State" ng-class="account.state ? 'selected' : ''" required>
            <option value='' disabled="disabled" selected="selected" class="gl-select-disabled-option">
                State
            </option>
        </select>
    </div>
</div>
<input class="form-control gl-margin-Vl" ng-model="info.school.address" placeholder="Address" required>

<div class="form-group">
    <input class="form-control" ng-model="info.school.city" placeholder="City" required>
</div>
<div class="form-group">
    <input class="form-control" ng-model="info.school.name" placeholder="School Name" required>
</div>