<div ng-if="purchaseOrderStatus==='received'">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span
                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Your Purchase Order has been received!</h3>
    </div>

    <div class="modal-body text-center">
        <div class="gl-logo-premium-icon"></div>
        <p class="gl-margin-Vl">
            You can start using your plan while we approve your purchase order.
        </p>
        <button ui-sref="root.manager.purchase-order-status"class="btn gl-btn--blue">Start Playing</button>
    </div>
</div>
<div ng-if="purchaseOrderStatus==='rejected'">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span
                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Your Purchase Order has been rejected.</h3>
    </div>
    <div class="modal-body text-center">
        <p class="gl-margin-Vl">
            Please contact support for more information.
        </p>
        <button ng-click="$close()" class="btn gl-btn--blue">Okay</button>
    </div>
</div>