<div class="gl-package-bg">
    <div class="gl-package-bg-top"></div>
</div>
    <div class="container">
        <div class="row text-center gl-margin--B40">
            <div class="col-md-12 gl-package-top gl-margin--T30">
                <div class="gl-logo-premium-icon"></div>
                <h4 class="headline-3--serif gl-package-title">Premium Subscription</h4>
                <p>Choose the subscription that best fits your technology environment</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="gl-package-choices">
                        <div ng-repeat="package in packageChoices" class="gl-package-box gl-package-box-allgames" ng-init="packageFlip=false">
                            <h5 class="headline-3--serif gl-package-title gl-margin-Vxl">{{package.title}}</h5>
                            <div ng-hide="packageFlip">
                                <div class="gl-package-box-price">
                                    <sup class="gl-package-box-price-dollar">$ </sup>
                                    <span class="gl-package-box-price-number">{{package.price}}</span> per student
                                </div>
                                <div class="gl-package-box-front">
                                    <div class="gl-package-description">
                                        <p class="gl-margin-Vxl"> {{package.description}}</p>
                                    </div>
                                    <button class="gl-package-subscribe-button" ng-click="packageFlip=!packageFlip"> Subscribe</button>
                                </div>
                            </div>
                            <div class="gl-package-box-back" ng-show="packageFlip">
                                <form class="gl-package-form">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="package.seatsSelected" ng-value="seatChoices[0]" ng-checked="true">
                                            10 students + 1 educator
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="package.seatsSelected" ng-value="seatChoices[1]" >
                                            30 students + 1 educator
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="package.seatsSelected" ng-value="seatChoices[2]">
                                            120 students + 4 educators
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="package.seatsSelected" ng-value="seatChoices[3]" >
                                            499 students + 15 educators
                                        </label>
                                    </div>
                                </form>
                                <div ng-show="package.seatsSelected > 0" class="gl-package-box-price gl-margin--Bm">
                                    <sup class="gl-package-box-price-dollar">$ </sup>
                                    <span class="gl-package-box-price-number">{{package.price*package.seatsSelected}}</span> per month
                                </div>
                                <button class="gl-package-back-button" ng-click="packageFlip=!packageFlip">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                                <button class="gl-package-continue-button"> Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="gl-home-try-premium-plan gl-margin--V40 text-center">
                <h4 class="headline-4--serif gl-margin--Bxxl">Try Our Premium Plan for Free</h4>
                <ul class="gl-margin--Bxxl">
                    <li><i class="fa fa-check"></i>60 days Trial</li>
                    <li><i class="fa fa-check"></i>Up to 30 students</li>
                    <li><i class="fa fa-check"></i>No credit card required</li>
                    <li><i class="fa fa-check"></i>Instant access</li>
                </ul>
                <button>Try it Out!</button>
            </div>
        </div>
    </div>
