.gl-upgrade-school-info {
  width: 100%;
  position: relative;
  min-height: 200px;
  padding: 60px 20px 20px 20px;
  border: 2px solid @whiteSmoke;
  background-color: @grey8;
}

.gl-upgrade-payment {
  width: 100%;
  position: relative;
  min-height: 200px;
  padding: 60px 20px 50px 20px;
  border: 2px solid @whiteSmoke;
  background-color: @grey8;
}

.gl-upgrade-label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 40px;
  padding: 10px 0px 10px 25px;
  text-align: left;
  color: white;
  background-color: @lightSeaGreen;
}

.gl-upgrade-label-payment {
  .gl-upgrade-label;
  background-color: @darkSlateGray;
}

.gl-upgrade-label-school-info {
  .gl-upgrade-label;
  background-color: @oceanBlue;
}

.gl-upgrade-total {
  color: @oceanBlue;
}

.gl-payment-submit {
  border-radius: 50px;
}

.gl-manager-side-panel--payment {
  min-height: 400px;
}

