.gl-upgrade-school-info {
  width: 100%;
  position: relative;
  min-height: 200px;
  padding: 60px 20px 20px 20px;
  border: 2px solid @whiteSmoke;
  background-color: @grey8;
}

.gl-upgrade-payment {
  width: 100%;
  position: relative;
  min-height: 200px;
  padding: 60px 20px 50px 20px;
  border: 2px solid @whiteSmoke;
  background-color: @grey8;
}

.gl-upgrade-label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 40px;
  padding: 10px 0px 10px 25px;
  text-align: left;
  color: white;
  background-color: @lightSeaGreen;
}

.gl-upgrade-label-payment {
  .gl-upgrade-label;
  background-color: @darkSlateGray;
}

.gl-upgrade-label-school-info {
  .gl-upgrade-label;
  background-color: @oceanBlue;
}

.gl-upgrade-total {
  color: @oceanBlue;
}

.gl-payment-submit {
  border-radius: 50px;
}

.gl-manager-side-panel--payment {
  min-height: 400px;
}

.gl-manager-side-panel-section--payment {
  border-bottom: 0px solid #808080;
}

.gl-payment-selection {
  width: 100%;
  justify-content: center;
  align-items: baseline;
}

.gl-payment-total-box {
  position: relative;
  height: 40px;
  width: 100%;
  .gl-payment-total {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .gl-payment-total-original {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .gl-payment-total-discounted {
    position: absolute;
    bottom: -25px;
    right: 55px;
  }
}

.gl-purchase-order-step-circle {
  font-size: 50px;
  color: #00a99e;
}

.gl-purchase-order-step-bar {
  display: inline-block;
  position: absolute;
  top:20px;
  width: 180px;
  height: 5px;
  background-color: #00a99e;
}

.gl-purchase-order-step-bar-right {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 80px;
  width: 180px;
  height: 5px;
  background-color: #00a99e;
}



.gl-purchase-order-step-box {
  position: relative;
  display: inline-block;
  max-width: 130px;
  max-height: 130px;
}

.gl-purchase-order-step-box.step-box-left {
  right: 82px;
}


.gl-purchase-order-step-box.step-box-right {
  left: 82px;
}
.gl-subscribe-fields-required {
  position: relative;
  bottom: 45px;
}