<div class="gl-manager-bg">
    <div class="container gl-manager-container">
        <h3 class="gl-manager-title gl-margin--V50">Upgrade</h3>
    </div>
    <div class="gl-manager-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gl-manager-side-panel gl-margin--B50">
                        <div class="gl-manager-side-panel-label text-center">
                            Premium Plan
                        </div>
                        <div class="gl-manager-side-panel-section">
                            <h4 class="headline-3--serif">{{package.name}} Package</h4>

                            <p class="gl-margin--Bl">{{package.description}}</p>

                            <h4 class="headline-4">Package Size:</h4>

                            <form class="gl-upgrade-form">
                                <div class="radio" ng-repeat="seat in seats.choices">
                                    <label>
                                        <input type="radio" ng-model="seats.selected" ng-value="seat.studentSeats">
                                        {{seat.studentSeats}} students + {{seat.educatorSeats}} educators
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="gl-manager-side-panel-section">
                            <h4 class="headline-4 display-inline ">Total:</h4>  <h4 class="headline-4 display-inline">  ${{calculateTotal(package.pricePerSeat,seats.selected)}} / year</h4>
                        </div>
                    </div>
                </div>

                <form novalidate class="reg-form"
                      ng-submit="submitPayment(info)">
                    <div class="gl-input-group">
                        <div class="form-group"
                             ng-class="{'has-error': info.$dirty && info.$invalid}">
                <div class="col-md-8">
                    <div class="gl-upgrade-school-info">
                        <div class="gl-upgrade-label-school-info">School Info</div>
                        <input ng-model="info.school.name" placeholder="School Name">
                    </div>
                    <div class="gl-upgrade-payment">

                                    <div class="gl-upgrade-label-payment">Payment</div>
                                    <input ng-model="info.payment.name" placeholder="Name">
                                    <select ng-options="type for type in cardTypes"
                                            ng-model="info.payment.cardType">
                                    <input ng-model="info.payment.number" placeholder="Credit Card Number">
                                    <input size="3" ng-model="info.payment.exp_month" placeholder="MM"> / <input size="5" ng-model="info.payment.exp_year" placeholder="YYYY">
                                    <input size="5" ng-model="info.payment.cvc" placeholder="CVC">

                                    <div class="form-errors">
                                        <div class="form-error"
                                             ng-show="info.$dirty && (info.$invalid || request.errors.length > 0)">
                                        </div>

                            </div>
                            <alert ng-repeat="error in request.errors" ng-show="request.errors.length" type="danger">{{
                                error }}
                            </alert>
                            <div class="reg-submit">
                                <input type="submit" class="btn gl-btn--black"
                                       value="{{ request.isSubmitting ? 'Sending...' : 'Send'}}"
                                       ng-disabled="request.isSubmitting">
                            </div>
                    </div>

                </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>