<div class="gl-manager-bg">
    <div class="container gl-manager-container">
        <h3 class="gl-manager-title gl-margin--V50">Upgrade</h3>
    </div>
    <div class="gl-manager-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gl-manager-side-panel gl-margin--B50">
                        <div class="gl-manager-side-panel-label text-center">
                            Premium Plan
                        </div>
                        <div class="gl-manager-side-panel-section">
                            <h4 class="headline-3--serif">{{package.name}} Package</h4>

                            <p class="gl-margin--Bl">{{package.description}}</p>

                            <h4 class="headline-4">Package Size:</h4>

                            <form class="gl-upgrade-form">
                                <div class="radio" ng-repeat="seat in seats.choices">
                                    <label>
                                        <input type="radio" ng-model="seats.selected" ng-value="seat.studentSeats">
                                        {{seat.studentSeats}} students + {{seat.educatorSeats}} educators
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="gl-manager-side-panel-section">
                            <h4 class="headline-4 display-inline ">Total:</h4>  <h4 class="headline-4 display-inline">  ${{calculateTotal(package.pricePerSeat,seats.selected)}} / year</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="gl-upgrade-school-info">
                        <div class="gl-upgrade-label-school-info">School Info</div>

                    </div>
                    <div class="gl-upgrade-payment">
                        <div class="gl-upgrade-label-payment">Payment</div>
                        <div ui-view></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>