<alert ng-repeat="error in request.errors" ng-show="request.errors.length" type="danger">{{ error }}
</alert>

<form name="request" novalidate class="reg-form"
      ng-submit="submitPayment(request)">

    <div class="gl-input-group">
        <div class="form-group"
             ng-class="{'has-error': request.register.$dirty && request.paymentInfo.$invalid}">
            <input ng-model="paymentInfo.name" placeholder="Name">
            <input ng-model="paymentInfo.number" placeholder="Credit Card Number">
            <input ng-model="paymentInfo.exp_month" placeholder="Expiration Month">
            <input ng-model="paymentInfo.exp_year" placeholder="Expiration Year">
            <input ng-model="paymentInfo.cvc" placeholder="CVC">

            <div class="form-errors">
                <div class="form-error"
                     ng-show="request.paymentInfo.$dirty && (request.paymentInfo.$invalid || request.errors.length > 0)">
                </div>
            </div>
        </div>
    </div>
    <div class="reg-submit">
        <input type="submit" class="btn gl-btn--black"
               value="{{ request.isSubmitting ? 'Sending...' : 'Send'}}"
               ng-disabled="request.$pristine || request.$invalid || request.isSubmitting">
    </div>
</form>