<!--<alert ng-repeat="error in request.errors" ng-show="request.errors.length" type="danger">{{ error }}-->
<!--</alert>-->

<!--<form ng-if="isOwner()" name="request" novalidate class="reg-form"-->
      <!--ng-submit="inviteEducators(invitedEducators)">-->

    <!--<div class="gl-input-group">-->
        <!--<div class="form-group"-->
             <!--ng-class="{'has-error': request.invitedEducators.$dirty && request.invitedEducators.$invalid}">-->
                                        <!--<textarea cols="70" rows="5"-->
                                                  <!--class="form-control"-->
                                                  <!--placeholder="Separate emails using a comma: charles@glasslabgames.org, tina@glasslabgames.org, ben@glasslabgames.org"-->
                                                  <!--ng-minlength="6"-->
                                                  <!--ng-model="invitedEducators"></textarea>-->

            <!--<div class="form-errors">-->
                <!--<div class="form-error"-->
                     <!--ng-show="request.invitedEducators.$dirty && (request.invitedEducators.$invalid || request.errors.length > 0)">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="reg-submit">-->
        <!--<input type="submit" class="btn gl-btn--black"-->
               <!--value="{{ request.isSubmitting ? 'Sending...' : 'Send'}}"-->
               <!--ng-disabled="request.$pristine || request.$invalid || request.isSubmitting">-->
    <!--</div>-->
<!--</form>-->