/* drk12_b */
.drk12_b-data-scroll {
  overflow-x: scroll;
}

.gl-report-drk12_b-header {
  padding: 0px;
  background: @grey7; 
}
.gl-report-sep {
  border-left: 8px solid white;
  width: 1000px;
}

.gl-report-drk12_b-legend-header {
  p.legend-header span:before, p.legend-header span:after {
    width: 600px;
  }
}

.gl-report-sep--blue {
  background: @aquaBlue; 
  height: 8px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.gl-reports-drk12_b-header-container {
  display: table-row;
  overflow: auto;
  height: 100%;
}

.gl-report-drk12_b-table {
  display: table-cell;
  padding: 0px 0px 15px 0px;
  vertical-align: top;
}

.gl-report-drk12_b-header-title {
  display: inline-block;
  color: @grey2;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  padding-top: 10px;
}

.gl-report-drk12_b-header-subsection-title {
  border-bottom: 2px solid @grey6;
}
.gl-report-drk12_b-header-subsection {
  display: table-cell;
  color: @grey2;
  text-align: center;
  border-top: 4px solid @grey6;
  padding-top: 10px;
  padding-right: 2px;
}

.gl-report-drk12_b-header-subsection-item {
  display: table-cell;
  color: @grey2;
  text-align: center;
  padding-top: 10px;
  min-width: 165px;
}

.gl-report-drk12_b-item {
  vertical-align: top;
  min-width: 150px;
}

.gl-report-drk12_b-header-item {
  width: 130px;
  display: inline-block;
}

.gl-report-drk12_b-header-subsection-item-description {
  text-align: left;
  padding: 5px 5px 0px 5px;
  font-size: 12px;
  color: #767676;
}

.gl-report-drk12_b-item-title {
  color: @grey2;
  text-align: center;
  font-weight: bold;
}

.gl-report-drk12_b-item-desc {
  color: @grey2;
  white-space: normal;
  font-size: 12px;
}

 .gl-report-item-cell {
  vertical-align: middle;
  height: 80px;
  min-width: 165px;
 }

.gl-report-item-cell:first-child {
  padding-left: 15px;
}

.gl-drk12_b-key-cell {
  vertical-align: middle;
}

.gl-drk12_b-rating {
  width: 56px;
  height: 56px;
  .border-radius(56px);
  margin-left: auto;
  margin-right: auto;
  .box-shadow(0px 0px 8px 0px rgba(0, 0, 0, .5));
  border: 6px solid white;
}

.drk12_b-data-scroll .gl-drk12_b-rating:hover {
  cursor: pointer;
}

.gl-drk12_b-rating--small {
  width: 28px;
  height: 28px;
  border: 3px solid white;
}

.gl-drk12_b-rating--large {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  border: 15px solid white;
  &.Advancing {
    background: #22b473;
  }
  &.NeedSupport {
    background: #fdd367;
  }
  &.NotAttempted {
    background: #cccbcb;
  }
  &.NotAvailable {
    background: white;
  }
}

.gl-drk12_b-key-label {
  padding-left: 10px;
  padding-right: 20px;
}

.gl-drk12_b-key-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 5px solid blue;
}

.gl-drk12_b-rating--nodata {
  background: #cccbcb;
}

.gl-drk12_b-rating--advancing {
  background: #22b473;
}

.gl-drk12_b-rating--support {
  background: #fdd367;
}

.gl-table-stripe {
  background: @grey7;
}

.gl-drk12_b-question {
  float: right;
  color: @yellow;
  font-size: 32px;
}

.gl-standard {
  color: @grey4;
}

.gl-standard--selected {
  color: @grey1;
  font-weight: bold;
}

.gl-reports-drk12_b-labels-icon {
  display: table-cell;
  width: 110px;
  margin-right: 20px;
}

.gl-reports-drk12_b-labels-icon--large {
  display: table-cell;
  width: 210px;
  margin-right: 20px;
}

.gl-reports-drk12_b-labels-box {
  display: inline-block;
}

.gl-reports-drk12_b-labels-text {
  display: table-cell;
  vertical-align: middle;
}

.gl-reports-drk12_b-labels-text--large {
  max-width: 155px;
  vertical-align: middle;
}

.gl-report-drk12_b-table-bottom {
  width: 100%;

}