//== Imports
@import "../../../../less/variables.less";

// == Variables
@competency-drkYellow: #f4a422;

// Container (Layout)

.gl-drk12-l-container {
  max-width: 888px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  padding-top: 20px;
}

.gl-drk12-l-container > h1 {
  margin-bottom: 20px;
}

.gl-drk12-l-container > p {
  margin-bottom: 20px;
  text-align: left;
}

// Container (Class, tab)

.gl-drk12-l-containerclass {
  padding-top: 60px;
}

.gl-drk12-l-containerclass > h3:first-of-type {
  margin-bottom: 20px;
}

.gl-drk12-l-containerclass > div:first-of-type {
  margin-bottom: 60px;
}

.gl-drk12-l-containerclass > h3:last-of-type {
  margin-bottom: 20px;
}

.gl-drk12-l-containerclass > h4 {
  margin-bottom: 10px;
}

.gl-drk12-l-containerclass > ul {
  margin-bottom: 20px;
}

.gl-drk12-l-containerclass > hr {
  margin-bottom: 30px;
  margin-top: 0;
}

.gl-drk12-l-containerclass > p {
  margin-bottom: 20px;
}

.gl-drk12-l-containerclass > table {
  margin-bottom: 40px;
}

// Container (Student, tab)

.gl-drk12-l-containerstudent {
  div:first-of-type {
    position: relative;
  }
  h2 {
    color: @grey2;
    font-size: 16px;
    margin: 10px 0 5px 0;
  }
  padding-top: 10px;
}

.gl-drk12-l-containerstudent > div:first-of-type {
  margin-bottom: 15px;
}

// Progress Icons (Layout)

.gl-drk12-l-progressicons {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

// Headings

.gl-drk12-heading {
  color: @grey2;
  font-size: 32px;
  margin: 0;
  text-align: left;
}

.gl-drk12-heading-secondary {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.gl-drk12-heading-tertiary {
  align-items: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  white-space: nowrap;
}

.gl-drk12-heading-tertiary::after,
.gl-drk12-heading-tertiary::before {
  background-color: #eee;
  content: '';
  display: block;
  flex: 1 1 10%;
  height: 1px;
}

.gl-drk12-heading-tertiary::after {
  margin-left: 10px;
}

.gl-drk12-heading-tertiary::before {
  margin-right: 10px;
}

// Help Icon

.gl-drk12-helpicon {
  appearance: none;
  background: none;
  border: 0;
  color: @yellow;
  font-size: 36px;
  line-height: 1;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 20px;
}

// Generic Text Area

.gl-drk12-text {
  color:  @grey1;
  text-align: left;
}

// Progress Icons

.gl-drk12-progressicon {
  align-items: center;
  appearance: none;
  background: none;
  border: 0;
  display: flex;
  outline: none;
  padding: 0;
}

.gl-drk12-progressicon::before {
  background-color: @grey7;
  border: 5px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0 4px 0 rgba(0,0,0, .5);
  box-sizing: border-box;
  content: '';
  display: block;
  flex: 0 0 40px;
  height: 40px;
  margin-right: 20px;
  max-width: 40px;
  transition: opacity .3s ease-out;
  width: 40px;
}

.gl-drk12-progressicon.Advancing::before {
  background-color: @competency-green;
}

.gl-drk12-progressicon.NeedSupport::before {
  background-color: @yellow;
}

.gl-drk12-progressicon.NotAttempted::before {
  background-color: @grey7;
}

// Table Sort

.gl-drk12-tablesort {
  align-items: center;
  appearance: none;
  background: none;
  border: 0;
  color:  @grey1;
  display: flex;
  font-weight: normal;
  justify-content: space-between;
  outline: none;
  padding: 0;
  text-align: left;
  width: 100%;
}

// Modal Header

.gl-drk12-modalheader {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 5px 0;
}

.gl-drk12-modalheader h1 {
  color:  @grey1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.gl-drk12-modalheader button {
  position: relative;
}

.gl-drk12-modalheader-help h1 {
  color: @grey2;
  flex: 1 1 100%;
  font-family: 'Bitter', sans-serif;
  font-size: 28px;
  text-align: center;
  padding-bottom: 20px;
}

// Help

.gl-drk12-help {
  padding: 10px 30px 40px;
}

.gl-drk12-help h2 {
  color:  @grey1;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.gl-drk12-help p:not(:last-child) {
  margin-bottom: 20px;
}

// Chart

.gl-drk12-chart {
  svg {
    overflow: visible;
  }
  path.domain {
    fill: none;
  }
  g.y.axis g.tick {
    display: none;
  }
  g.x.axis g.tick {
    circle {
      fill: rgb(200,200,200);
    }
  }
  rect.bar, text.bar {
    fill: @aquaBlue;
  }
  .axis-bar {
    fill: none;
    stroke: rgb(200,200,200);
    stroke-width: 2;
  }
}

// Tab (Overrides of .nav-tabs)

.gl-drk12-tabs > ul.nav-tabs.nav-justified > li > a {
  color: @aquaBlue;
  cursor: pointer;
  background-color: white;
  border: 1px solid @aquaBlue;
  border-radius: 0;
  font-size: 16px;
}

.gl-drk12-tabs > ul.nav-tabs.nav-justified > li:first-child > a {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.gl-drk12-tabs > ul.nav-tabs.nav-justified > li:last-child > a {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.gl-drk12-tabs > ul.nav-tabs.nav-justified > li.active > a,
.gl-drk12-tabs > ul.nav-tabs.nav-justified > li.active > a:hover {
  color: #fff;
  cursor: pointer;
  background-color: @aquaBlue;
  border: 1px solid @aquaBlue;
}

// Table (Override of .gl-reports-table)
.table.gl-drk12-table {
  font-size: 12px;
  tr th {
    font-weight: 500;
    text-align: center;
  }
  tr th:first-child, tr td:first-child {
    text-align: left;
    width: 165px;
  }
  tr th:last-child, tr td:last-child {
    text-align: left;
    width: 80px;
  }
  thead:first-child > tr:first-child > th {
    border-top: 1px solid @grey6;
    border-bottom: 1px solid @grey6;
    border-right: 1px solid @grey6;
    &:first-child {
      border-left: 1px solid @grey6;
    }
  }
  td.disabled, th.disabled {
    background-color: @grey8;
    color: @grey5;
  }
  td {
    border-top: 0;
    border-bottom: 1px solid @grey7;
    border-right: 1px solid @grey7;
    font-weight: 500;
    &:first-child {
      border-left: 1px solid @grey7;
    }
    padding: 15px 6px;
    &.Advancing, .Advancing {
      background-color: #fff;
      color: @competency-green;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      &:hover {
        background-color: @competency-green;
        color: #fff;
      }
    }
    &.NeedSupport, .NeedSupport {
      background-color: #fff;
      color: @competency-drkYellow;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      &:hover {
        background-color: @competency-drkYellow;
        color: #fff;
      }
    }
    &.Advancing-average, .Advancing-average {
      background-color: #fff;
      color: @competency-green;
      font-size: 12px;
      font-weight: bold;
    }
    &.NeedSupport-average, .NeedSupport-average {
      background-color: #fff;
      color: @competency-drkYellow;
      font-size: 12px;
      font-weight: bold;
    }
  }
  margin-bottom: 0;
  table-layout: fixed;
  text-align: center;
}

.gl-drk12-table th:last-child,
.gl-drk12-table td:last-child {
  border-left-width: 1px;
}

.gl-drk12-table .gl-drk12-table-x-name {
  padding: 0 10px 0 0;
  text-align: left;
}

.gl-drk12-table .gl-drk12-table-x-name span {
  display: block;
  padding: 20px 0 20px 12px;
  input {
    margin: 0 12px 0 0;
  }
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 25%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}

// Pie Chart Table

.gl-drk12-piechartsilllevel {
  table-layout: fixed;
}

.gl-drk12-piechartsilllevel th {
  font-size: 16px;
  padding-bottom: 20px;
  text-align: center; // Override
  vertical-align: top;
}

.gl-drk12-piechartsilllevel td {
  width: 25%;
  text-align: center;
}

.gl-drk12-footerhelper {
  bottom: 0;
  -webkit-box-shadow: 0 -1px 4px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 -1px 4px 0 rgba(0,0,0,.2);
  box-shadow: 0 -1px 4px 0 rgba(0,0,0,.2);
  left: 0;
  height: 50vh;
  position: fixed;
  transform: translateY(calc(~'50vh - 30px'));
  transition: transform .3s ease-out;
  width: 100%;

  &.expanded {
    transform: none;
  }

  &.fullscreen {
    height: 100vh;
  }

}

.gl-drk12-collapsebar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: @yellow;
  border: 0;
  box-sizing: border-box;
  display: block;
  font-weight: bold;
  height: 30px;
  outline: none;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  a:link {
    color: black;
    float: right;
    font-size: 12px;
    font-weight: normal;
    padding-right: 20px;
    text-decoration: underline;
  }
}

.gl-drk12-collapsecontent {
  background-color: #fff;
  height: calc(~'50vh - 30px');
  &.fullscreen {
    height: calc(~'100vh - 30px');
  }
}

// TODO: Update this styling to be within the existing system
.floatRight {
  float: right;
}

tr.no-repeated-tr-content {
  td {
    width: 100vw;
  }
}

tr + tr.no-repeated-tr-content {
  display: none;
}

// http://stackoverflow.com/questions/30479105/angularjs-ng-disabled-not-working-for-anchor-tag
.disabled {
  cursor: not-allowed;
}

.gl-drk12-bold {
  font-weight: 500;
}

.padding-sides-15 {
  padding: 0 15px 0 15px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.gl-drk12-drillDown-container {
  color: @grey2;
  font-size: 16px;
  padding: 30px 45px 45px 45px;
  h1 {
    font-size: 32px;
    padding-bottom: 10px;
  }
  button {
    background: none;
    border: none;
    span:first-child {
      color: #6CCAD9;
      font-size: 22px;
    }
  }
}

.gl-drk12-drillDown-status {
  &.Advancing {
    color: @competency-green;
    font-size: 16px;
  }
  &.NeedSupport {
    color: @yellow;
    font-size: 16px;
  }
}

.gl-drk12-tableHeader-background {
  background-color: @grey8;
}

.gl-drk12-drillDown-skillcard-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
  .gl-drk12-drillDown-skillcard {
    border: 1px solid @grey6;
    color:  @grey2;
    display: inherit;
    font-size: 12px;
    font-weight: 500;
    min-height: 130px;
    margin-bottom: 25px;
    width: 410px;
    .gl-drk12-drillDown-skillcard-skillSummary {
      border-right: 1px solid @grey6;
      display: flex;
      flex-direction: column;
      padding: 15px 0 15px 15px;
      width: 175px;
      .gl-drk12-drillDown-skillcard-skill {
        font-size: 16px;
      }
      .gl-drk12-drillDown-skillcard-successTitle {
        margin-top: 25px;
      }
      .gl-drk12-drillDown-skillcard-successRate {
        font-size: 20px;
      }
    }
    .gl-drk12-drillDown-skillcard-skillDetail {
      display: inline-block;
      height: 100%;
      margin: auto 16px auto auto;
      .gl-drk12-drillDown-skillcard-skillDetail-detail {
        display: inline-block;
        text-align: center;
        height: 98px;
        padding-top: 16px;
        vertical-align: middle;
        width: 120px;
        div:first-of-type {
          font-size: 16px;
        }
        div div {
          display: inline-block;
        }
        .largeText {
          font-size: 16px;
        }
      }
    }
  }
}

.gl-drk12-transcript {
  table {
    border-collapse: collapse;
    &.gl-drk12-singleTable {
      width: 100%;
    }
    &.gl-drk12-doubleTable {
      display: inline-block;
      vertical-align: top;
      width: 410px;
      &:first-child {
        margin-right: 23px;
      }
    }
    td, th {
      border: 1px solid @grey6;
      font-size: 12px;
      padding: 16px;
    }
  }
}

.gl-drk12-dropdown {
  width: 49%;
  max-width: 49%;
  button:first-child {
    text-align: left;
    .text-overflow;
    width: 90%;
  }
  ul {
    width: 96%;
  }
}
