/* drk12_b */

.gl-drk12_b-rating {
  width: 56px;
  height: 56px;
  .border-radius(56px);
  margin-left: auto;
  margin-right: auto;
  .box-shadow(0px 0px 8px 0px rgba(0, 0, 0, .5));
  border: 6px solid white;
}

.gl-drk12_b-rating:hover {
  cursor: pointer;
}

.gl-drk12_b-rating--small {
  width: 28px;
  height: 28px;
  border: 3px solid white;
}

.gl-drk12_b-rating--large {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  border: 15px solid white;
  &.Advancing {
    background: #22b473;
  }
  &.NeedSupport {
    background: #fdd367;
  }
  &.NotAttempted {
    background: #cccbcb;
  }
  &.NotAvailable {
    background: white;
  }
}

.gl-drk12_b-rating--nodata {
  background: #cccbcb;
}

.gl-drk12_b-rating--advancing {
  background: #22b473;
}

.gl-drk12_b-rating--support {
  background: #fdd367;
}

.gl-drk12_b-question {
  float: right;
  color: @yellow;
  font-size: 32px;
}

.gl-reports-drk12_b-labels-icon {
  display: table-cell;
  width: 110px;
  margin-right: 20px;
}

.gl-reports-drk12_b-labels-icon--large {
  display: table-cell;
  width: 210px;
  margin-right: 20px;
}

.gl-reports-drk12_b-labels-box {
  display: inline-block;
}

.gl-reports-drk12_b-labels-text {
  display: table-cell;
  vertical-align: middle;
}

.gl-reports-drk12_b-labels-text--large {
  max-width: 155px;
  vertical-align: middle;
}