<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="gl-home-slide--start">
        <h2 class="gl-home-title--start">Start Playing Today!</h2>
        <div class="gl-margin--Txl gl-pad--Tl">
          <button type="button" class="btn gl-btn--blue gl-btn--large" ng-click="state.go('modal.register.instructor')">Teachers Start Here</button>
        </div>
        <div class="gl-margin--Tm">
          <button type="button" class="btn gl-btn-green gl-btn--large" ng-click="state.go('modal.register.student')">Students Start Here</button>
        </div>
        <div class="gl-home-link--start gl-text--white gl-margin--Txl"
          ng-click="closePanel()">
          Learn more about what we offer<br>
          and how it works
        </div>
      </div>

    </div>
  </div>
</div>
