<div class="gl-home-lead-container">
  <div>
    <div class="gl-home-bg"></div>
  </div>
  
  <div class="gl-home-lead-content">
    <div class="gl-home-event-count" ng-show="eventCount != null">
      <div class="container">
        <h3 class="gl-home-event-count-text">
          {{ eventCount | number }} Authentic Learning Events Logged to Date
        </h3>
      </div>
    </div>
    <div class="gl-home-banner-footer">
      <div class="container">
        <button type="button" class="btn gl-btn--blue gl-margin--Rm" ng-click="state.go('modal.register.instructor')">Teachers Start Here</button>
        <button type="button" class="btn gl-btn-green" ng-click="state.go('modal.register.student')">Students Start Here</button>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="gl-home-title">
            <h1 class="gl-home-logo" data-ng-bind="'home.pagetitle' | translate"></h1>
            <br/>
            <br/>
            <button type="button" class="btn btn-primary" ng-click="closePanel()">How It Works</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div ui-view="catalog"></div>

<div class="gl-bg--gray gl-home-about">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3 class="headline-1 text-center gl-margin--V40">About GlassLab Games</h3>
        <p class="text-center gl-margin--B40">
          GlassLab Games delivers a delightful user experience covering the most critical learning standards. Our games are as engaging as the games students and educators choose to play in their free time.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="icon gl-home-icon-big icon-big-discover"></div>
        <h4 class="headline-5--serif text-center gl-margin--T30">Discover Great Games</h4>
        <br/>
        <p class="text-center">
          Designed for students, teachers, parents, and administrators, GlassLab Games makes it easy to find and implement the next generation of learning games.
        </p>
      </div>
      <div class="col-md-4">
        <div class="icon gl-home-icon-big icon-big-learning"></div>
        <h4 class="headline-5--serif text-center gl-margin--T30">Make Learning Visible</h4>
        <br/>
        <p class="text-center">
          Ever wonder what learning is happening when students are playing a digital game? Our assessment is embedded in the game experience and is reflected back to teachers and students as feedback to empower further learning.
        </p>
      </div>
      <div class="col-md-4">
        <div class="icon gl-home-icon-big icon-big-outcomes"></div>
        <h4 class="headline-5--serif text-center gl-margin--T30">Impact Student Outcomes</h4>
        <br/>
        <p class="text-center">
          The GlassLab Games learning analytics engine makes valid, reliable inferences about student learning, demonstrating the impact that digital games have on improving student outcomes.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="gl-bg--gray gl-home-subscribe gl-margin--B40">
  <div class="container">
    <h3 class="headline-1 text-center gl-margin--V50">Start Playing!</h3>
    <div class="row gl-margin--B40">
      <div class="col-md-6">
        <div class="gl-home-basic-plan">
          <div class="text-center">
            <div class="gl-logo-basic-icon"></div>
            <h4 class="headline-4--serif">Basic Plan</h4>
            <div class="headline-5--serif gl-home-subscribe-price">Free</div>
          </div>
          <div class="gl-home-plan-info">
            <h4 class="text-center gl-margin--Bxxl">Sign up for GlassLab Games now, and start playing all our games today!</h4>
            <ul class="gl-margin--Bxxl">
              <li><i class="fa fa-check"></i>You will have full access to all games</li>
              <li><i class="fa fa-check"></i>You can have up to 100 students in your classes.</li>
              <li><i class="fa fa-check"></i>Your students will have access to all of our free games.</li>
            </ul>
            <button>Sign Up</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="gl-home-premium-plan">
          <div class="text-center">
            <div class="gl-logo-premium-icon"></div>
            <h4 class="headline-4--serif">Premium Plan</h4>
            <div class="headline-5--serif gl-home-subscribe-price">Starting $50/Year</div>
          </div>
          <div class="gl-home-plan-info">
            <h4 class="text-center gl-margin--Bxxl">Upgrade to give your students full access to all our games!</h4>
            <ul class="gl-margin--Bxxl">
              <li><i class="fa fa-check"></i>All GlassLab Basic Features</li>
              <li><i class="fa fa-check"></i>Your students will have full access to all our free and premium games</li>
              <li><i class="fa fa-check"></i>Pay for the size of your class</li>
            </ul>
            <button>Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="gl-home-try-premium-plan gl-margin--V40 text-center">
          <h4 class="headline-4--serif gl-margin--Bxxl">Try Our Premium Plan for Free</h4>
          <ul class="gl-margin--Bxxl">
            <li><i class="fa fa-check"></i>60 days Trial</li>
            <li><i class="fa fa-check"></i>Up to 30 students</li>
            <li><i class="fa fa-check"></i>No credit card required</li>
            <li><i class="fa fa-check"></i>Instant access</li>
          </ul>
          <button>Try it Out!</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gl-home-stickyfoot">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-right">
        Follow us:&nbsp;
        <a target="_blank" href="https://www.facebook.com/glasslabgames"
          ga="'send', 'pageview', {title: 'facebook', location: 'https://www.facebook.com/glasslabgames'}"
          class="gl-icon-follow"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="https://twitter.com/glasslabgames"
          ga="'send', 'pageview', {title: 'twitter', location: 'https://twitter.com/glasslabgames'}"
          class="gl-icon-follow"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://plus.google.com/117864084582459836584/posts"
          ga="'send', 'pageview', {title: 'googleplus', location: 'https://plus.google.com/117864084582459836584/posts'}"
          class="gl-icon-follow"><i class="fa fa-google-plus"></i></a>
      </div>
      <div class="col-md-8">
        <div ng-show="!showSubscribeMessage">
          <form class="form-inline" role="form" ng-submit="subscribe()">
            <div class="form-group">
              <label for="mailing-list">Join the mailing list:&nbsp;</label>
              <input type="email" class="form-control" id="mailing-list" placeholder="Your Email" ng-model="subEmail">
            </div>
            <button type="submit" class="btn gl-btn--blue">Subscribe</button>
          </form>
        </div>
        <div ng-show="showSubscribeMessage" ng-bind="subscribeMessage"></div>
      </div>
    </div>
  </div>
</div>
