<div class="gl-home-lead-container">
  <div style="height: 600px;">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <div class="gl-home-bg {{'gl-' + slide.image}}">
          <div ng-include src="'home/_' + slide.image + '.html'"></div>
        </div>
      </slide>
    </carousel>
    <!-- <div class="gl-home-bg"></div> -->
  </div>
  
  <div class="gl-home-lead-content">
    <div class="gl-home-event-count" ng-show="eventCount != null">
      <div class="container">
        <h3 class="gl-home-event-count-text">
          {{ eventCount | number }} Authentic Learning Events Logged to Date
        </h3>
      </div>
    </div>
  </div>
</div>

<div ui-view="catalog"></div>

<div class="gl-bg--gray gl-home-about">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3 class="headline-1 text-center gl-margin--V40">About GlassLab Games</h3>
        <p class="text-center gl-margin--B40">
          GlassLab Games delivers a delightful user experience covering the most critical learning standards. Our games are as engaging as the games students and educators choose to play in their free time.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="icon gl-home-icon-big icon-big-discover"></div>
        <h4 class="headline-5--serif text-center gl-margin--T30">Discover Great Games</h4>
        <br/>
        <p class="text-center">
          Designed for students, teachers, parents, and administrators, GlassLab Games makes it easy to find and implement the next generation of learning games.
        </p>
      </div>
      <div class="col-md-4">
        <div class="icon gl-home-icon-big icon-big-learning"></div>
        <h4 class="headline-5--serif text-center gl-margin--T30">Make Learning Visible</h4>
        <br/>
        <p class="text-center">
          Ever wonder what learning is happening when students are playing a digital game? Our assessment is embedded in the game experience and is reflected back to teachers and students as feedback to empower further learning.
        </p>
      </div>
      <div class="col-md-4">
        <div class="icon gl-home-icon-big icon-big-outcomes"></div>
        <h4 class="headline-5--serif text-center gl-margin--T30">Impact Student Outcomes</h4>
        <br/>
        <p class="text-center">
          The GlassLab Games learning analytics engine makes valid, reliable inferences about student learning, demonstrating the impact that digital games have on improving student outcomes.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="gl-bg--gray gl-home-subscribe gl-margin--B40">
  <div class="container">
    <h3 class="headline-1 text-center gl-margin--V50">Start Playing!</h3>
    <div class="row gl-margin--B40">
        <div class="col-md-4">
            <div class="gl-home-plan-premium">
                <div class="text-center">
                    <div class="gl-logo-premium-icon"></div>
                    <h4 class="headline-4--serif">Premium Plan</h4>

                    <div class="gl-block">Starting $50/Year</div>
                </div>
                <div class="gl-home-plan-info">
                    <h5 class="text-center gl-margin--Bl">Give your students full access to games that fit your needs.</h5>
                    <ul class="gl-margin--Bl gl-home-plan-list">
                        <li><i class="fa fa-check"></i>365-day access to premium </br> & free games</li>
                        <li><i class="fa fa-check"></i>Tailor to your device environment
                        </li>
                        <li><i class="fa fa-check"></i>Tailor to your class size</li>
                        <li><i class="fa fa-check"></i>Credit card or purchase order required</li>
                    </ul>
                    <button class="gl-btn-round" ui-sref="root.subscribe.packages">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="gl-home-plan-trial">
                <div class="text-center">
                    <div class="gl-logo-trial-icon"></div>
                    <h4 class="headline-4--serif">Premium Trial</h4>

                    <div class="gl-block">Free</div>
                </div>
                <div class="gl-home-plan-info">
                    <h5 class="text-center gl-margin--Bl">Try Our Premium Plan for Free!</h5>
                    <ul class="gl-margin--Bl gl-home-plan-list">
                        <li><i class="fa fa-check"></i>60-day access to premium </br> & free games</li>
                        <li><i class="fa fa-check"></i>All devices</li>
                        <li><i class="fa fa-check"></i>Up to 30 students</li>
                        <li><i class="fa fa-check"></i>No credit card required</li>
                    </ul>
                    <div class="text-center">
                        <button class="gl-btn-round" ui-sref="modal.register({upgrade:'trial',role:'instructor'})">Go Play</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="gl-home-plan-basic">
                <div class="text-center">
                    <div class="gl-logo-basic-icon"></div>
                    <h4 class="headline-4--serif">Basic Plan</h4>
                    <div class="gl-block">Free</div>
                </div>
                <div class="gl-home-plan-info">
                    <h5 class="text-center gl-margin--Bl">Sign up for GlassLab Games and get instant access to the free
                        games!</h5>
                    <ul class="gl-margin--Bl gl-home-plan-list">
                        <li><i class="fa fa-check"></i>Unlimited access to free games</li>
                        <li><i class="fa fa-check"></i>All devices with free games</li>
                        <li><i class="fa fa-check"></i>Up to 100 students</li>
                        <li><i class="fa fa-check"></i>No credit card required</li>
                    </ul>
                    <button class="gl-btn-round" ui-sref="modal.register({role:'instructor'})">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="gl-home-stickyfoot">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-right">
        Follow us:&nbsp;
        <a target="_blank" href="https://www.facebook.com/glasslabgames"
          ga="'send', 'pageview', {title: 'facebook', location: 'https://www.facebook.com/glasslabgames'}"
          class="gl-icon-follow"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="https://twitter.com/glasslabgames"
          ga="'send', 'pageview', {title: 'twitter', location: 'https://twitter.com/glasslabgames'}"
          class="gl-icon-follow"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://plus.google.com/117864084582459836584/posts"
          ga="'send', 'pageview', {title: 'googleplus', location: 'https://plus.google.com/117864084582459836584/posts'}"
          class="gl-icon-follow"><i class="fa fa-google-plus"></i></a>
      </div>
      <div class="col-md-8">
        <div ng-show="!showSubscribeMessage">
          <form class="form-inline" role="form" ng-submit="subscribe()">
            <div class="form-group">
              <label for="mailing-list">Join the mailing list:&nbsp;</label>
              <input type="email" class="form-control" id="mailing-list" placeholder="Your Email" ng-model="subEmail">
            </div>
            <button type="submit" class="btn gl-btn--blue">Subscribe</button>
          </form>
        </div>
        <div ng-show="showSubscribeMessage" ng-bind="subscribeMessage"></div>
      </div>
    </div>
  </div>
</div>
