<div class="container container-fixed gl-home-game-catalog">
    <div class="container">

        <h3 class="headline-1 text-center gl-margin--V40">Featured Games</h3>
        <div class="gl-margin-Vl">&nbsp</div>

        <div class="gl-game-catalog-games-container">
        <div ng-repeat="section in sections" ng-if="section.games.length">
            <div class="gl-game-catalog-games-section">
                <div class="col-md-4" ng-repeat="game in section.games | orderBy: 'releaseDate':true">
                    <div class="gl-game-catalog-game-box gl-margin--Bl"
                         ng-init="game.hover=false"
                         ng-mouseover="game.hover=true"
                         ng-mouseleave="game.hover=false"
                         ng-class="{'no-hover':game.price==='Coming Soon'}"
                         ng-click="goToGameDetail(game.price,game.gameId)">
                        <div class="gl-game-ribbon" ng-hide="game.hover">
                            <div class="gl-game-ribbon-text">{{game.price}}</div>
                        </div>
                        <div class="gl-game-catalog-game-card-wrapper">
                            <div class="gl-game-catalog-developer-logo">
                                <img ng-src="/{{game.developer.logo.small}}">
                            </div>
                            <img ng-src="/{{game.card.small}}" class="gl-game-catalog-game-card">

                            <div class="gl-game-catalog-game-description" ng-show="game.hover">
                                <p>
                                    {{truncateText(game.description,250)}}
                                </p>
                                <button ng-if="game.price!=='Coming Soon'" class="btn gl-btn--blue">Learn More</button>
                            </div>
                        </div>
                        <div class="gl-game-catalog-game-box-info">
                            <span class="gl-game-catalog-game-title">
                                {{game.shortName}}
                                <span class="gl-text-end-fade"></span>
                            </span>
                            <ul>
                                <li>Subject: {{game.subject}}
                                </li>
                                <li>Grade: {{game.grades}}</li>
                                <li>Developed by {{game.developer.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="gl-game-catalog-platform-triangle">
                            <img ng-src="/{{game.platform.icon.small}}"
                                 class="gl-game-catalog-platform-icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>