.gl-home-bg {
  background-image: url('home-banner.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.gl-home-title {
  background-color: rgba(140, 195, 74, 0.5); /* #bfd8a0; */
  color: white;
  padding: 32px;
  margin-top: 100px;
}

.gl-home-event-count {
  background:rgba(103, 202, 218, 0.5);
  padding: 12px;
}

.gl-home-event-count-text {
  font-family: @serifHeadlineFontFamily;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0;
}

.gl-home-logo {
  font-family: @serifHeadlineFontFamily;
  text-transform: uppercase;
  font-size: 60px;
  margin: 0;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  //display: block;
  //text-indent: -9999px;
  //width: 380px;
  //height: 69px;
  //background-image: url('logo-playfully.svg');
  //background-size: 380px 69px;
}

.gl-home-register {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: white;
  padding: 10px 20px;
  .border-radiuses(10px, 0, 0, 10px);
  p {
    font-weight: 200;
  }
}

.gl-home-register-title {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
}

.gl-home-register-text {
  font-size: 14px;
  font-weight: 200;
}

.gl-register-col {
  height: 460px;
}


.gl-home-hr {
  border-top-color: #999;
  margin-top: 10px;
  margin-bottom: 10px;
}


.gl-home-game-catalog {
  padding-top: 40px;
  padding-bottom: 40px;
}

.gl-home-about {
  padding-top: 40px;
  padding-bottom: 40px;
}

.gl-home-icon-big {
  width: 225px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: none;
}

.icon-big-discover {
  .image-2x('icon-big-discover.png', 225px, 225px);
}

.icon-big-learning {
  .image-2x('icon-big-learning.png', 225px, 225px);
}

.icon-big-outcomes {
  .image-2x('icon-big-outcomes.png', 225px, 225px);
}


.gl-home-student-intro {
  padding-top: 0px;
  padding-bottom: 40px;
}

hr.gl-home-student {
  border-top: 5px solid #8cc34a;
}

.gl-student-add-class {
  color: #8cc34a;
  font-size: 20px;
  font-weight: bold;
}

.course {
  margin: 24px;
}

.course-name {
  .border-radiuses(0, 0, 10px, 10px);
  float: left;
  width: 296px;
  border-right: 6px solid white;
  padding: 24px;
}

.course-name h4 {
  margin-top: 0;
}

.course-games {
  .border-radiuses(10px, 10px, 0, 0);
  padding: 24px;
  margin-left: 296px;
}

.course .game {
  width: 150px;
  text-align: center;
  float: left;
  margin-right: 20px;
}

.course .game-thumbnail {
  width: 150px;
  height: 120px;
  background: #777;
}

.course-col {
  height: 200px;
}

.gl-message-col {
  height: 200px;
  border-left: 1px solid #ddd;
  padding-top: 15px;
}

.gl-message-title {
  color: #00a3d8;
  text-decoration: underline;
}

.icon-message {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #67cada;
  .border-radius(40px);
  vertical-align: middle;
  margin-right: 4px;
  background-position: center;
}

.icon-message-webinar {
  .image-2x('icon-msg-webinar.png', 25px, 25px);
}

.icon-message-twitter {
  .image-2x('icon-msg-twitter.png', 25px, 25px);
}

.icon-message-news {
  .image-2x('icon-msg-news.png', 25px, 25px);
}
