<div class="modal-header" ng-if="!hideWrapper">
  <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Create a Playfully Account!</h3>
</div>

<div ng-class="{'modal-body': !hideWrapper, 'sdk-container': hideWrapper}">


  <div class="login-group login-group--l"
    ng-class="{'sdk-reg': hideWrapper}">
    <div class="login-option" ng-mouseenter="hoverEdmodoInfo()" ng-mouseleave="hoverEdmodoInfo()">
      <button class="login-button login-button--edmodo"
        ng-disabled="isEdmodoActive==false"
        onclick="window.location.href='/auth/edmodo/login'"
        popover-title="Edmodo Login"
        popover="Too many passwords to remember? Sign in using your Edmodo username and password and you will get access to everything in Playfully!"
        popover-trigger="mouseenter" popover-placement="bottom">
        <div class="media media--collapsed">
          <div class="media-img media-img--collapsed">
            <img id="edmodo-logo" src="/assets/icon-edmodo.png" width="22" height="25">
          </div>
          <div class="media-bd">
            Log in with <strong>Edmodo</strong>
          </div>
        </div>
      </button>
    </div>

    <div class="login-option" ng-if="!hideWrapper">
      <button class="login-button login-button--icivics"
        ng-disabled="isiCivicsActive==false">
        <div class="media media--collapsed">
          <div class="media-img media-img--collapsed">
            <div class="login-icon--placeholder"></div>
          </div>
          <div class="media-bd">
            Log in with <strong>iCivics</strong>
          </div>
        </div>
      </button>
    </div>
  </div>

  <hr class="login-divider--or" />


  <div class="login-group login-group--r"
    ng-class="{'sdk-reg': hideWrapper}">

    <div class="login-option" ng-if="!hideWrapper">
      <button class="login-button login-button--instructor"
        ng-click="state.go(hideWrapper ? 'sdkRegisterInstructor' : 'registerInstructor')">
        <div class="media media--collapsed">
          <div class="media-img media-img--collapsed">
            <div class="login-icon--placeholder"></div>
          </div>
          <div class="media-bd">
            Teacher/Parent Account
          </div>
        </div>
      </button>
    </div>

    <div class="login-option" ng-mouseenter="hoverEdmodoInfo()" ng-mouseleave="hoverEdmodoInfo()">
      <button class="login-button login-button--student"
        ng-click="state.go(hideWrapper ? 'sdkRegisterStudent' : 'registerStudent')">
        <div class="media media--collapsed">
          <div class="media-img media-img--collapsed">
            <div class="login-icon--placeholder"></div>
          </div>
          <div class="media-bd">
            Student Account
          </div>
        </div>
      </button>
    </div>
  </div>

  <div class="text-center small clearfix">
    Already have an account?
    <a href="#"
      ng-click="state.go(hideWrapper ? 'sdkLoginOptions' : 'loginOptions')">
      Sign In</a>
  </div>
</div>
