.reg-form input.form-control {
  width: 92%;
  display: inline-block;
}

.reg-form .fa-question-circle {
  color: @aquaBlue;
}

.reg-form .checkbox {
  color: #555;
}

.reg-submit {
  margin-top: 20px;
  margin-bottom: 10px;
}

.reg-submit .btn {
  min-width: 136px;
}

.reg-form .form-error {
  right: 8%;
}

