<div class="modal-header" ng-if="!hideWrapper">
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal-title">Create a GlassLab Games Account!</h3>
</div>

<div class="modal-body">

    <div class="text-center clearfix gl-register-options">
      <div class="gl-register-options-wrapper" ng-class="{'gl-register-option-center': role==='instructor'}">

        <div class="gl-register-option">
          <div class="gl-register-option-wrapper">
            <div class="gl-game-card gl-game-card--linked"
                 ng-click="state.go('modal.register.instructor')">
              <div class="gl-register-card-image gl-register-card-teacher"
                   popover-placement="bottom"
                   popover-trigger="mouseenter"
                   popover="Get access to free games, student management tools, real-time reports, and professional development materials.">
                <span class="gl-register-card-text">Teacher</span>
              </div>

            </div>
          </div>
        </div>

        <div class="gl-register-option" ng-if="role!=='instructor'">
          <div class="gl-register-option-wrapper">
            <div class="gl-game-card gl-game-card--linked" ng-click="state.go('modal.register.student')">
              <div class="gl-register-card-image gl-register-card-student">
                <span class="gl-register-card-text">Student</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

	<hr class="rule rule--1 rule--grey" ng-if="role!=='instructor'"/>
    <div class="text-center clearfix gl-register-options" ng-if="role!=='instructor'">
      <div class="gl-register-options-wrapper" ng-class="{'gl-register-option-center': true}">
        <div class="gl-register-option" ng-if="role!=='instructor'">
          <div class="gl-register-option-wrapper">
            <div class="gl-game-card gl-game-card--linked" ng-click="state.go('modal.register.developer')">
              <div class="gl-register-card-developer-image gl-register-card-developer">
                <span class="gl-register-card-developer-text">Developer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
	<hr class="rule rule--1 rule--grey" ng-if="role!=='reseller'"/>
    <div class="text-center clearfix gl-register-options" ng-if="role!=='reseller'">
      <div class="gl-register-options-wrapper" ng-class="{'gl-register-option-center': true}">
        <div class="gl-register-option" ng-if="role!=='reseller'">
          <div class="gl-register-option-wrapper">
            <div class="gl-game-card gl-game-card--linked" ng-click="state.go('modal.register.reseller')">
              <div class="gl-register-card-developer-image gl-register-card-developer">
                <span class="gl-register-card-developer-text">Reseller</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

	<hr class="rule rule--1 rule--grey"/>
    <div class="text-center small clearfix">
      Already have an account?
      <a href="#"
         class="link-register"
         ng-click="state.go('modal.login', {upgrade: upgrade})">
        Sign in</a>
    </div>

</div>
