

.reg-form input.form-control {
  width: 92%;
  display: inline-block;
}

.reg-form .fa-question-circle {
  color: @aquaBlue;
}

.reg-form .checkbox {
  color: @grey2;
}

.reg-submit {
  margin-top: 20px;
  margin-bottom: 10px;
}

.reg-submit .btn {
  min-width: 136px;
}

.reg-form .form-error {
  right: 8%;
}

.reg-form .popover-content {
  font-size: 12px;
  min-width:140px;
  color: @grey3;
}

.sdk-container .sdk-reg {
  padding-top: 50px;
}

.gl-register-options {
  display: table;
}

.gl-register-options-wrapper {
  display: table-cell;
  text-align: center;
}

.gl-register-option {
  float: left
}

.gl-register-option-center {
  position: relative;
  left: 77px;
}

.gl-register-option-wrapper {
  display: table;
  padding-left: 20px;
  padding-right: 20px;
}

.gl-register-card-teacher {
  .image-2x('register-teacher.png', 111px, 112px);
  background-position: center;
}

.gl-register-card-teacher:hover {
  .image-2x('../../assets/register-teacher-hover.png', 111px, 112px);
  background-position: center;
}

.gl-register-card-student {
  .image-2x('../../assets/register-student.png', 111px, 112px);
  background-position: center;
}

.gl-register-card-student:hover {
  .image-2x('../../assets/register-student-hover.png', 111px, 112px);
  background-position: center;
}

.gl-register-card-ribbon {
  position: absolute;
  z-index: 10;
  width: 85px;
  height: 85px;
  top: -8px;
  left: -8px;
  .image-2x('../../assets/register-card-ribbon-dark-blue.png', 85px, 85px);
}

.gl-register-card-ribbon-text {
  position: relative;
  top: 25px;
  left: -15px;
  width: 101px;
  .rotate(-45deg);
  font-weight: normal;
  font-size: 11px;
  color: white;
  text-align: center;
}

.gl-register-signin-text {
    font-size: 11px;
}

.gl-register-card-image {
  display: table-cell;
  vertical-align: bottom;

  position: relative;
  background-color: #F0F0F0;
  width: 111px;
  height: 111px;
  background-size: cover;
 }

.gl-register-card-text {
}

select.gl-register-select-field {
  height: 34px;
  width: 92%;
  display: inline-block;
  margin-bottom: 15px;
  color: #999999;
}

select.gl-register-select-field.selected {
  color: black;
}

.gl-sdk-register-options {
  width: 306px;
  margin: 0 auto;
}

.gl-sdk-register-title {
  padding-top: 10px;
  padding-bottom: 15px;
}

.gl-sdk-register-student {
  .reg-submit {
    margin-top: 0px;
  }
}

.gl-sdk-register-body {
  max-width: 750px;
  padding-top: 15px;
}

.gl-sdk-register-glasslabgames-info {

  color: white;
  display: table;
  position: absolute;
  height: 50px;
  left: 0px;
  top: 40px;
  padding: 5px;

  background-color: #5BC3D5;
  .border-right-radius(5px);

  i {
    vertical-align: middle;
    margin-right: 5px;
    padding-top: 10px;
    display: inline-block;
  }

  span {
    padding-top:5px;
    display: table-cell;
    vertical-align: top;
    height: 25px;
    padding-right: 5px;
  }
}

.gl-sdk-register-glasslabgames-info:hover {
  cursor: pointer;
}


.gl-sdk-register-no-col-padding-right {
  padding-right: 0px;
}

.gl-sdk-register-no-col-padding {
  padding-left: 0px;
  padding-right: 0px;
}


.gl-sdk-register-help {
  position: absolute;
  right: -15px;
  top: 10px;
}

.gl-sdk-glasslabgames-logo {
  display: inline-block;
  width: 200px;
  height: 60px;
  .image-2x('../../assets/gl-games-logo.png', 200px, 60px);
}

.gl-sdk-playfully-logo {
  display: inline-block;
  width: 150px;
  height: 40px;
  .image-2x('../../assets/sdk-playfully-logo.png', 150px, 40px);
}

.gl-sdk-register-pull-left {
  display: table-cell;
  text-align: right;
}

.gl-sdk-playfully-btn {
  float: left;
  background-image: url(../../assets/logo-login-playfully@2x.png);
  background-size: 25px 25px;
}

.gl-sdk-glasslabgames-link {
  text-decoration: underline;
  -moz-text-decoration-color: blue;
  text-decoration-color: blue;
  color: blue;
}

.gl-modal-title-reset-progress {
  color: red;
}

.gl-reset-progress-checkbox {
  margin: 5px;
  display: inline-block;
}

.gl-sdk-terms-box {
  width: 350px;
  margin: auto;
}