<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Edit Your Info</h3>
</div>

<div class="modal-body">
  <alert ng-repeat="error in user.errors" ng-show="user.errors.length" type="danger"><strong>Error:</strong> {{ error }}</alert>

  <form name="editProfileForm" novalidate class="edit-form"
    ng-submit="updateProfile(user)">

    <div class="form-group form-group--labeled" ng-class="{'has-error': editProfileForm.name.$dirty && editProfileForm.name.$invalid}">
      <label for="user-name">Name</label>
      <input type="text" name="name" class="form-control" id="user-name"
        placeholder="Name (example Ms. Smith, Mom)"
        required
        autofocus="autofocus"
        ng-model="user.name"
        ng-minlength="2">
        <div class="form-errors">
          <div class="form-error" ng-show="editProfileForm.name.$dirty && editProfileForm.name.$invalid">
            Name must be at least 2 characters
          </div>
        </div>
    </div>

    <div class="form-group  form-group--labeled" ng-class="{'has-error': editProfileForm.email.$dirty && editProfileForm.email.$invalid}">
      <label for="user-email">Email Address</label>
      <input type="email" name="email" class="form-control" id="user-email"
        placeholder="Email address"
        required 
        ng-model="user.email">
        <div class="form-errors">
          <div class="form-error" ng-show="editProfileForm.email.$dirty && editProfileForm.email.$invalid">
            Please enter a valid email address
          </div>
        </div>
    </div>

    <div class="form-group  form-group--labeled" ng-class="{'has-error': editProfileForm.username.$dirty && editProfileForm.username.$invalid}">
      <label for="user-username">Screen Name</label>
      <input type="text" name="username" class="form-control" id="user-username"
        placeholder=""
        ng-model="user.username">
        <div class="form-errors">
          <div class="form-error" ng-show="editProfileForm.email.$dirty && editProfileForm.email.$invalid">
            Please enter a valid email address
          </div>
        </div>
    </div>

    <div class="gl-form-subhead">
      <span>Change Password</span>
    </div>


    <div class="form-group form-group--labeled" ng-class="{'has-error': editProfileForm.password.$dirty && editProfileForm.password.$error.minlength}">
      <label for="user-password">Password</label>
      <input type="password" name="password" class="form-control"
        id="user-password"
        placeholder="Choose a password" 
        ng-model="user.password"
        ng-minlength="6"
        pw-confirm="user.confirm">
      <div class="form-errors">
        <div class="form-error" ng-show="editProfileForm.password.$dirty && editProfileForm.password.$error.minlength">
          Your password must be at least 6 characters
        </div>
      </div>
    </div>

    <div class="form-group form-group--labeled" ng-class="{'has-error': editProfileForm.confirm.$dirty && editProfileForm.password.$invalid}">
      <label for="user-confirm">Confirm Password</label>
      <input type="password" name="confirm" class="form-control" id="user-confirm"
        placeholder="Confirm password"
        ng-model="user.confirm">
      <div class="form-errors">
        <div class="form-error" ng-show="editProfileForm.confirm.$dirty && editProfileForm.password.$error.pwmatch">
          Passwords do not match
        </div>
      </div>
    </div>

    <div class="text-center reg-submit">
      <button type="button" class="btn gl-btn--grey" ng-click="$dismiss()">Close</button>
      <input type="submit" class="btn gl-btn--blue" value="Save"
      ng-disabled="editProfileForm.$invalid">
    </div>
  </form>
</div>

